<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xinghuoliaoyuan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,349},{132,152}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,178},{132,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,339},{104,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,203},{104,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,349},{138,158}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,140},{138,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,257},{210,240}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,100},{210,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,257},{234,248}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,104},{234,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{236,252}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,88},{236,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,3},{224,180}}</string>
                <key>offset</key>
                <string>{2,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,89},{224,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,175},{162,174}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,93},{162,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,3},{170,176}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,92},{170,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,3},{174,172}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,96},{174,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,3},{170,176}}</string>
                <key>offset</key>
                <string>{-5,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,92},{170,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,179},{174,172}}</string>
                <key>offset</key>
                <string>{-3,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,89},{174,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,175},{168,172}}</string>
                <key>offset</key>
                <string>{0,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,88},{168,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>xinghuoliaoyuan_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,355},{150,172}}</string>
                <key>offset</key>
                <string>{-8,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,89},{150,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xinghuoliaoyuan_src0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f284218e8aa7b91fc11eb75b4f5c404:1e98fda2d3006053176e7894930f19d0:67a8fd1ea75c11864f174f49bd5c6c1d$</string>
            <key>textureFileName</key>
            <string>xinghuoliaoyuan_src0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
