<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>talent_crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,759},{44,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>talent_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,327},{33,35}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{33,35}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>talent_i_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,392},{33,33}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{33,33}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>talent_icons_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,250},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>talent_juanzou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,809},{211,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,148}}</string>
                <key>sourceSize</key>
                <string>{211,148}</string>
            </dict>
            <key>talent_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{187,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,51}}</string>
                <key>sourceSize</key>
                <string>{187,51}</string>
            </dict>
            <key>talent_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{1,1}}</string>
                <key>offset</key>
                <string>{-16,12.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>talent_messagebox_borad.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,809},{192,191}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{192,191}}</string>
                <key>sourceSize</key>
                <string>{212,213}</string>
            </dict>
            <key>talent_messagebox_borad_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{205,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{205,192}}</string>
                <key>sourceSize</key>
                <string>{211,208}</string>
            </dict>
            <key>talent_messagebox_borad_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,266},{541,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,250}}</string>
                <key>sourceSize</key>
                <string>{541,250}</string>
            </dict>
            <key>talent_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,153},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>talent_rect_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,155},{148,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,45}}</string>
                <key>sourceSize</key>
                <string>{148,51}</string>
            </dict>
            <key>talent_rect_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,102},{146,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,47}}</string>
                <key>sourceSize</key>
                <string>{148,51}</string>
            </dict>
            <key>talent_rect_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,151},{144,47}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{144,47}}</string>
                <key>sourceSize</key>
                <string>{148,51}</string>
            </dict>
            <key>talent_talent.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,371},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>talent_tianfu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{554,262}}</string>
                <key>sourceSize</key>
                <string>{558,266}</string>
            </dict>
            <key>talent_tianfu_accelerate.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,358},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,38}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>talent_tianfu_accelerate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,371},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,38}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>talent_tianfu_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,151},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>talent_tianfu_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{554,179}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{554,179}}</string>
                <key>sourceSize</key>
                <string>{558,183}</string>
            </dict>
            <key>talent_tianfu_copper.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,322},{38,37}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{38,37}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>talent_tianfu_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,361},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{32,35}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>talent_tianfu_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,809},{192,191}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{192,191}}</string>
                <key>sourceSize</key>
                <string>{212,213}</string>
            </dict>
            <key>talent_tianfu_form_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,266},{491,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,40}}</string>
                <key>sourceSize</key>
                <string>{491,40}</string>
            </dict>
            <key>talent_tianfu_increase.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,55},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>talent_tianfu_increase_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,329},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>talent_tianfu_jiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,329},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>talent_tianfu_lijiwancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,61},{157,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{157,45}}</string>
                <key>sourceSize</key>
                <string>{157,49}</string>
            </dict>
            <key>talent_tianfu_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,92},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>talent_tianfu_points.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,322},{47,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,59}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>talent_tianfu_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,202},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>talent_tianfu_queding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,200},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>talent_tianfu_queding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,263},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>talent_tianfu_quick.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,358},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,38}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>talent_tianfu_quick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,371},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,38}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>talent_tianfu_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,324},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>talent_tianfu_quxiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,261},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>talent_tianfu_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,373},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{30,37}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>talent_tianfu_shengjitianfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,108},{157,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{157,45}}</string>
                <key>sourceSize</key>
                <string>{157,49}</string>
            </dict>
            <key>talent_tianfu_skillname.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,61},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,33}</string>
            </dict>
            <key>talent_tianfu_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,106},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>talent_tianfu_timeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{260,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,57}}</string>
                <key>sourceSize</key>
                <string>{260,57}</string>
            </dict>
            <key>talent_tianfu_tishengkucun.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,55},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,49}</string>
            </dict>
            <key>talent_tianfu_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,322},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,34}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>tianfu_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,151},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>tianfu_shouji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,266},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>tianfu_shouji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,92},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>tianfu_shouji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,335},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>tianfu_shouji22.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,179},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>tianfu_shouji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,258},{67,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,77}}</string>
                <key>sourceSize</key>
                <string>{67,77}</string>
            </dict>
            <key>tianfu_shouji33.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,171},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>talent_talent_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc7fd4868ad1cf054850224e7bcafaef:616102ad6c7f75581e92d65eb4b92768:e1302f32813faf20a7a20a5793e251c4$</string>
            <key>textureFileName</key>
            <string>talent_talent_all.png</string>
        </dict>
    </dict>
</plist>
