<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shangzhenjihuo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,108},{48,52}}</string>
                <key>offset</key>
                <string>{-87,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,88},{48,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{64,66}}</string>
                <key>offset</key>
                <string>{-63,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,83},{64,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,174},{86,66}}</string>
                <key>offset</key>
                <string>{-50,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,83},{86,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,62}}</string>
                <key>offset</key>
                <string>{-41,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,87},{98,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,60}}</string>
                <key>offset</key>
                <string>{-29,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,89},{100,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,108},{84,56}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,93},{84,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,88},{84,56}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,94},{84,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,194},{82,52}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,97},{82,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{84,48}}</string>
                <key>offset</key>
                <string>{28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,101},{84,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{92,42}}</string>
                <key>offset</key>
                <string>{44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,107},{92,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,66},{90,40}}</string>
                <key>offset</key>
                <string>{59,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,109},{90,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{68,38}}</string>
                <key>offset</key>
                <string>{70,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,111},{68,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shangzhenjihuo_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{1,1}}</string>
                <key>offset</key>
                <string>{-127.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangzhenjinengjihuo.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4096d5ad81931791b2cf6c5d377d904:f0f81747d59469ed08018fc4f40297e9:acb9aba3af0946e36db4ea9d2223f5f8$</string>
            <key>textureFileName</key>
            <string>shangzhenjinengjihuo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
