<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengjitunshi1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,110},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengjitunshi1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{108,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengjitunshi1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,75},{108,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengjitunshi1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengjitunshi1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,218},{104,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,76},{104,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengjitunshi1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{84,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,86},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengjitunshi1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{60,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,99},{60,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengjitunshi1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,218},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,109},{36,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengjitunshi1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:687cbff8809b2045206076bc5867ff2f:d7e954c69a67118245b78c1f8d8fd2d9:a15e6f06ff5b336d88f6afb3c68d1fa3$</string>
            <key>textureFileName</key>
            <string>shengjitunshi1.png</string>
        </dict>
    </dict>
</plist>
