<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chapter_award_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{95,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{95,92}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>chapter_award_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>chapter_award_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>chapter_award_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{96,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,103}}</string>
                <key>sourceSize</key>
                <string>{96,103}</string>
            </dict>
            <key>chapter_award_box_boader.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>chapter_award_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>chapter_award_btn_close_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,507},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>chapter_award_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,59}}</string>
                <key>sourceSize</key>
                <string>{116,61}</string>
            </dict>
            <key>chapter_award_btn_gray1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{114,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,59}}</string>
                <key>sourceSize</key>
                <string>{116,61}</string>
            </dict>
            <key>chapter_award_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,63},{114,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,59}}</string>
                <key>sourceSize</key>
                <string>{116,61}</string>
            </dict>
            <key>chapter_award_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,124},{114,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,59}}</string>
                <key>sourceSize</key>
                <string>{116,61}</string>
            </dict>
            <key>chapter_award_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{531,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,6}}</string>
                <key>sourceSize</key>
                <string>{531,6}</string>
            </dict>
            <key>chapter_award_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,185},{320,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,103}}</string>
                <key>sourceSize</key>
                <string>{320,103}</string>
            </dict>
            <key>chapter_award_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{377,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,70}}</string>
                <key>sourceSize</key>
                <string>{377,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapter_award.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b0b8f1eefa7eb813ff32194fde404d:d2715fb393d49e32d252c70586921dcb:5b89515611b5dc2630055b1f1d77560d$</string>
            <key>textureFileName</key>
            <string>chapter_award.png</string>
        </dict>
    </dict>
</plist>
