<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_wujiang_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,451},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>btn_wujiang_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,477},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>chapter_dia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,48},{562,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,127}}</string>
                <key>sourceSize</key>
                <string>{562,127}</string>
            </dict>
            <key>current_star_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,560},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>current_star_count_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,246},{187,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,49}}</string>
                <key>sourceSize</key>
                <string>{187,49}</string>
            </dict>
            <key>nodr-huangjinzhiluan.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,601},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-caolvzhizheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,660},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-chibizhizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,477},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-dongwujueqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,536},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-dongzeijinjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,621},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-hebeizhengxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,595},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-huangjinzhiluan.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,654},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-qunxionggedju.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,578},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-qunxionggeju.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,637},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-xiandichutao.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,668},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-xiliangbingbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,719},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-yuanshisanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,727},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-yuanshuchengdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,778},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>nor-yuliangzhizheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,626},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>s_battle_review0.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,631},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>s_battle_review1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,695},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>s_battle_review2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,759},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>scenario-button-hui-chuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,490},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>scenario-button-hui-guaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,320},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>scenario-button-hui-kaishiguaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,238},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>scenario-button-lizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,434},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{127,49}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>scenario-button-lizhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,248},{139,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,65}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>scenario-button-lizhan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,500},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{127,49}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>scenario-button-nor-chuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,380},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>scenario-button-nor-guaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,381},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>scenario-button-nor-kaishiguaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,246},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>scenario-button-nor-quxiaoguaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,318},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>scenario-button-sel-chibizhizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,685},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>scenario-button-sel-chuzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,440},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>scenario-button-sel-guaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,441},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>scenario-button-sel-kaishiguaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,390},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>scenario-button-sel-quxiaoguaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,248},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>scenario-button-sizhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,501},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{127,49}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>scenario-button-sizhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,314},{139,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,65}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>scenario-button-sizhan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,528},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{127,49}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>scenario-button-xuezhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,550},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{127,49}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>scenario-button-xuezhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,320},{139,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,65}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>scenario-button-xuezhan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,551},{127,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{127,49}}</string>
                <key>sourceSize</key>
                <string>{139,65}</string>
            </dict>
            <key>scenario-dialog-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,310},{166,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,191}}</string>
                <key>sourceSize</key>
                <string>{166,191}</string>
            </dict>
            <key>scenario-guaji-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1},{399,100}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{399,100}}</string>
                <key>sourceSize</key>
                <string>{493,150}</string>
            </dict>
            <key>scenario-guaji-normal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,145},{441,102}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{441,102}}</string>
                <key>sourceSize</key>
                <string>{493,150}</string>
            </dict>
            <key>scenario-image-baidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,309},{128,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,110}}</string>
                <key>sourceSize</key>
                <string>{128,110}</string>
            </dict>
            <key>scenario-image-caitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{619,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,46}}</string>
                <key>sourceSize</key>
                <string>{619,46}</string>
            </dict>
            <key>scenario-image-guaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,641},{93,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,45}</string>
            </dict>
            <key>scenario-image-guoguanzhanjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,386},{134,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,35}}</string>
                <key>sourceSize</key>
                <string>{134,35}</string>
            </dict>
            <key>scenario-image-heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,48},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>scenario-image-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,438},{122,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,96}}</string>
                <key>sourceSize</key>
                <string>{132,106}</string>
            </dict>
            <key>scenario-image-jingying-sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,534},{93,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{93,88}</string>
            </dict>
            <key>scenario-image-jingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,561},{122,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,96}}</string>
                <key>sourceSize</key>
                <string>{132,106}</string>
            </dict>
            <key>scenario-image-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,562},{78,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{78,47}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>scenario-image-kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,102},{66,41}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,9},{66,41}}</string>
                <key>sourceSize</key>
                <string>{156,59}</string>
            </dict>
            <key>scenario-image-paibian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,102},{93,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,42}}</string>
                <key>sourceSize</key>
                <string>{93,42}</string>
            </dict>
            <key>scenario-image-putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,623},{122,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,96}}</string>
                <key>sourceSize</key>
                <string>{132,106}</string>
            </dict>
            <key>scenario-image-tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1},{2,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,28}}</string>
                <key>sourceSize</key>
                <string>{2,28}</string>
            </dict>
            <key>scenario-image-tiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,102},{34,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,8}}</string>
                <key>sourceSize</key>
                <string>{34,8}</string>
            </dict>
            <key>scenario-image-xiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,600},{126,67}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{126,67}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>scenario-image-xingxing-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,102},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>scenario-image-xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,102},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>scenario_btn_hook_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,176},{132,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,105}}</string>
                <key>sourceSize</key>
                <string>{132,105}</string>
            </dict>
            <key>scenario_btn_hook_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,248},{132,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,105}}</string>
                <key>sourceSize</key>
                <string>{132,105}</string>
            </dict>
            <key>scenario_btn_hook_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,422},{132,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,105}}</string>
                <key>sourceSize</key>
                <string>{132,105}</string>
            </dict>
            <key>scenario_btn_renwu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,684},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>scenario_btn_renwu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,746},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>scenario_chapter_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,102},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>scenario_hide_stage_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,176},{249,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,69}}</string>
                <key>sourceSize</key>
                <string>{249,69}</string>
            </dict>
            <key>scenario_icon_hook.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,102},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>sel-caolvzhizheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,744},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-dongwujueqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,713},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-dongzeijinjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,696},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-hebeizhengxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,755},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-huangjinzhiluan.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,601},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-qunxionggeju.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,578},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-xiandichutao.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,761},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-xiliangbingbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,886},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-yuanshisanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,823},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-yuanshuchengdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,886},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>sel-yuliangzhizheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,886},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>stage_portrait_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,886},{123,121}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{123,121}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>stage_portrait_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,490},{139,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,135}}</string>
                <key>sourceSize</key>
                <string>{139,135}</string>
            </dict>
            <key>stage_portrait_shousha.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,176},{205,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,61}}</string>
                <key>sourceSize</key>
                <string>{205,61}</string>
            </dict>
            <key>win_drop_str.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,462},{164,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,27}}</string>
                <key>sourceSize</key>
                <string>{164,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scenario0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e788bbcfa76379df53f4576b9a2174bc:1/1$</string>
            <key>textureFileName</key>
            <string>scenario0.png</string>
        </dict>
    </dict>
</plist>
