<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mask_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>star_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{112,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{112,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianleishan.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da3e9805fa884321680775e6faaecc66:1/1$</string>
            <key>textureFileName</key>
            <string>tianleishan.png</string>
        </dict>
    </dict>
</plist>
