<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beam_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,96},{106,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{106,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>blood_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,420},{80,136}}</string>
                <key>offset</key>
                <string>{40,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,37},{80,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>blood_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{84,182}}</string>
                <key>offset</key>
                <string>{42,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,32},{84,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>blood_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,260},{92,176}}</string>
                <key>offset</key>
                <string>{40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,41},{92,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>blood_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,260},{96,158}}</string>
                <key>offset</key>
                <string>{37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,61},{96,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>blood_b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{92,140}}</string>
                <key>offset</key>
                <string>{36,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,80},{92,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hitwave_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,96},{104,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>magic_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shixuechengxing.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34358ef0f1c4b0a01d3398c795cf0a85:1/1$</string>
            <key>textureFileName</key>
            <string>shixuechengxing.png</string>
        </dict>
    </dict>
</plist>
