<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bable_addTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,356},{125,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,20}}</string>
                <key>sourceSize</key>
                <string>{125,20}</string>
            </dict>
            <key>bable_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,493},{231,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,17}}</string>
                <key>sourceSize</key>
                <string>{231,17}</string>
            </dict>
            <key>bable_bn_battle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,831},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_battle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,963},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_battle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,831},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_lingqu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,703},{110,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>bable_bn_lingqu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,703},{110,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>bable_bn_lingqu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{110,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>bable_bn_queding0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,831},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_queding1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,963},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_reset0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,831},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_reset1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,831},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_reset2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_revive0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_revive1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,554},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_revive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,493},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bable_bn_yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,930},{110,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>bable_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,258}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{501,258}}</string>
                <key>sourceSize</key>
                <string>{501,286}</string>
            </dict>
            <key>bable_box_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{301,262}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{301,262}}</string>
                <key>sourceSize</key>
                <string>{501,286}</string>
            </dict>
            <key>bable_card_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,356},{135,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>bable_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,831},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>bable_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,615},{71,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,68}}</string>
                <key>sourceSize</key>
                <string>{71,68}</string>
            </dict>
            <key>bable_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,309},{164,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{164,45}}</string>
                <key>sourceSize</key>
                <string>{168,49}</string>
            </dict>
            <key>bable_jinrijiangli0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,828},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>bable_jinrijiangli1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,726},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>bable_layer.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,262},{122,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,26}}</string>
                <key>sourceSize</key>
                <string>{122,26}</string>
            </dict>
            <key>bable_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{314,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{314,25}}</string>
                <key>sourceSize</key>
                <string>{316,27}</string>
            </dict>
            <key>bable_progress_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{306,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{306,17}}</string>
                <key>sourceSize</key>
                <string>{316,27}</string>
            </dict>
            <key>bable_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,483},{220,45}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{220,45}}</string>
                <key>sourceSize</key>
                <string>{236,45}</string>
            </dict>
            <key>bable_shop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,615},{84,76}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{84,76}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>bable_shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,615},{84,76}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{84,76}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>bable_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,705},{124,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,43}}</string>
                <key>sourceSize</key>
                <string>{124,47}</string>
            </dict>
            <key>bable_zhuzhen0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,615},{86,80}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>bable_zhuzhen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{86,80}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>bable_zhuzhenwujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,262},{164,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{164,45}}</string>
                <key>sourceSize</key>
                <string>{168,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bable.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0adc09c6a13ea895f3e95ea821711bd8$</string>
            <key>textureFileName</key>
            <string>bable.png</string>
        </dict>
    </dict>
</plist>
