<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>datie_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,198},{54,66}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,10},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{54,66}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,10},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,276},{54,66}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,10},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,254},{54,66}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,10},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,140},{50,68}}</string>
                <key>offset</key>
                <string>{23,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,8},{50,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{50,70}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,6},{50,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,330},{52,66}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,9},{52,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{52,54}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{52,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,54},{84,68}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,43},{84,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{80,98}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{80,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,100},{96,106}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{96,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{96,110}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{96,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,84},{94,96}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{94,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,180},{84,92}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{84,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,266},{80,62}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{80,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,108},{84,96}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{84,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{104,106}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{104,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,104}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{110,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{106,92}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{106,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,194},{88,90}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{88,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,192},{90,82}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{90,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{54,66}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,10},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,254},{54,66}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,10},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,284},{54,66}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,10},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>datie_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,330},{54,66}}</string>
                <key>offset</key>
                <string>{23,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,10},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>datie.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e11912efdf4dfc2818a7872570e9a7c4:ba54a5548e69adc7e0d1ddaf041917c1:0c035519c795653b8e3f8f4b9a6dc5f6$</string>
            <key>textureFileName</key>
            <string>datie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
