<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arrow_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,670},{554,128}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,51},{554,128}}</string>
                <key>sourceSize</key>
                <string>{768,184}</string>
            </dict>
            <key>Arrow_tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,532},{572,136}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,43},{572,136}}</string>
                <key>sourceSize</key>
                <string>{768,184}</string>
            </dict>
            <key>Arrow_tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,196},{576,158}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,19},{576,158}}</string>
                <key>sourceSize</key>
                <string>{768,184}</string>
            </dict>
            <key>Arrow_tower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,356},{574,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,4},{574,174}}</string>
                <key>sourceSize</key>
                <string>{768,184}</string>
            </dict>
            <key>def_wall1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,196},{768,130}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{768,130}}</string>
                <key>sourceSize</key>
                <string>{768,218}</string>
            </dict>
            <key>def_wall2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,196},{768,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{768,146}}</string>
                <key>sourceSize</key>
                <string>{768,218}</string>
            </dict>
            <key>def_wall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{768,158}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{768,158}}</string>
                <key>sourceSize</key>
                <string>{768,218}</string>
            </dict>
            <key>def_wall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,192}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,192}}</string>
                <key>sourceSize</key>
                <string>{768,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_wall_tower.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c262cc93b4630af7a768be2adba8c77:53770a6bae3e0bcea1fac8e1ad96aa7d:923f7a21a0323c44327c8f6eb06b494a$</string>
            <key>textureFileName</key>
            <string>battle_wall_tower.png</string>
        </dict>
    </dict>
</plist>
