<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{324,168}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,35},{324,168}}</string>
                <key>sourceSize</key>
                <string>{380,256}</string>
            </dict>
            <key>cloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,176},{256,178}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{256,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cloud03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{399,172}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{399,172}}</string>
                <key>sourceSize</key>
                <string>{443,204}</string>
            </dict>
            <key>cloud04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,176},{269,135}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,19},{269,135}}</string>
                <key>sourceSize</key>
                <string>{283,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_search.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d65a131f29550ad8e05d0a612a16d85:1/1$</string>
            <key>textureFileName</key>
            <string>map_search.png</string>
        </dict>
    </dict>
</plist>
