<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,88},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,88},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,88},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>vip_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba3839cb942962d5e52a729be090aef6:1/1$</string>
            <key>textureFileName</key>
            <string>vip.png</string>
        </dict>
    </dict>
</plist>
