<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tingzhanxiedingi_dst_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,214},{48,58}}</string>
                <key>offset</key>
                <string>{-19,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,75},{48,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,264},{40,58}}</string>
                <key>offset</key>
                <string>{-31,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,78},{40,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,306},{40,98}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,77},{40,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,406},{38,104}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,77},{38,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,518},{76,108}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,69},{76,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,110},{76,108}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{76,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{92,106}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,73},{92,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,468},{108,106}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,73},{108,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{108,108}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,72},{108,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,462},{104,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,73},{104,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,218}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{210,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{184,192}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,36},{184,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,188},{152,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,47},{152,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{148,154}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,51},{148,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{152,152}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,49},{152,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,350},{116,128}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,65},{116,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,342},{118,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,64},{118,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tingzhanxiedingi_dst_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,220},{120,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,64},{120,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tingzhanxieding_dst.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4424fd56d49e8188b7e72d6f4d5ab0d7:1/1$</string>
            <key>textureFileName</key>
            <string>tingzhanxieding_dst.pvr.ccz</string>
        </dict>
    </dict>
</plist>
