<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_2_cuiyupei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{45,57}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{45,57}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_hongyubanzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{63,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{63,59}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_jiugongdiaozhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,79},{39,75}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{39,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_kongmingdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,77}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{49,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_linglongxingchai.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{71,75}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{71,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_renwangdun.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{59,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{59,75}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_shipin0.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a4bba1555e567c5c592b590d902be56:1/1$</string>
            <key>textureFileName</key>
            <string>icon_shipin0.png</string>
        </dict>
    </dict>
</plist>
