<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cool.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,228}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{74,228}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>hitWave_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{122,118}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{122,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>iceCone_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,354},{100,74}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,36},{100,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>iceGnd.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,238},{122,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{122,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>snow_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,78},{84,70}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,30},{84,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>snow_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{178,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,49},{178,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feihongtaxue.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e93479e9065ca18c399cf024f89d0c3:1/1$</string>
            <key>textureFileName</key>
            <string>feihongtaxue.png</string>
        </dict>
    </dict>
</plist>
