<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>twist_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,216}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{214,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yaoqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,220},{66,84}}</string>
                <key>offset</key>
                <string>{27,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,99},{66,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yaoqi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,132},{86,114}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,71},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yaoqi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{128,122}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,62},{128,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yaoqi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,220},{132,128}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,53},{132,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yaoqi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{134,138}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,48},{134,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yaoqi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,360},{136,136}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{136,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yaoqi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{138,130}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,55},{138,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guhuo.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9540c2f8b05d16bd3a3456434e57493:1/1$</string>
            <key>textureFileName</key>
            <string>guhuo.png</string>
        </dict>
    </dict>
</plist>
