<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0VIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,254},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>0VIP1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,128},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>ach_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,733},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ach_common_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,380},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>ach_common_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{562,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,44}}</string>
                <key>sourceSize</key>
                <string>{562,44}</string>
            </dict>
            <key>ach_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,772},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>ach_lingqu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,566},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>ach_lingqu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,745},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>ach_lingqu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,719},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>ach_lingqu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,719},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>ach_listItem-image-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{654,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,157}}</string>
                <key>sourceSize</key>
                <string>{654,157}</string>
            </dict>
            <key>ach_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,658},{85,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{85,97}</string>
            </dict>
            <key>ach_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,805},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>achi_goto1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>achi_goto2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>achievement_open_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,940},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>achievements-button-nor-shoujichengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>achievements-button-nor-zhanyichengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,841},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>achievements-button-nor-zhengzhanchengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,932},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>achievements-button-nor-zonghechengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,922},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>achievements-button-sel-shoujichengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,850},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>achievements-button-sel-zhanyichengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,745},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>achievements-button-sel-zhengzhanchengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,862},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>achievements-button-sel-zonghechengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,806},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>achievements-image-chengjiudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,851},{87,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,29}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>achievements-image-jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,705},{73,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,29}}</string>
                <key>sourceSize</key>
                <string>{73,29}</string>
            </dict>
            <key>achievements-image-jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>achievements-image-paibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,805},{91,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{91,43}}</string>
                <key>sourceSize</key>
                <string>{93,43}</string>
            </dict>
            <key>friend-button-nor-guanzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,806},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>friend-button-sel-guanzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,627},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>jinxingzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,627},{115,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,76}}</string>
                <key>sourceSize</key>
                <string>{115,76}</string>
            </dict>
            <key>official_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,687},{123,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,56}}</string>
                <key>sourceSize</key>
                <string>{123,56}</string>
            </dict>
            <key>reward_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,705},{56,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,26}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
            <key>vipNote.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{115,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,76}}</string>
                <key>sourceSize</key>
                <string>{115,76}</string>
            </dict>
            <key>yiwancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,745},{115,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,76}}</string>
                <key>sourceSize</key>
                <string>{115,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achievement.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed1e0e69f3ff3f7d0e25bde29c4c4c80$</string>
            <key>textureFileName</key>
            <string>achievement.png</string>
        </dict>
    </dict>
</plist>
