<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shield_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,188}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{200,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>twist_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{122,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{122,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dunzhen.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e45a124fa807ac9a1c53f69260bca94a:1/1$</string>
            <key>textureFileName</key>
            <string>dunzhen.png</string>
        </dict>
    </dict>
</plist>
