<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{425,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,211}}</string>
                <key>sourceSize</key>
                <string>{425,211}</string>
            </dict>
            <key>login_notice_bg_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,827}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,827}}</string>
                <key>sourceSize</key>
                <string>{640,827}</string>
            </dict>
            <key>login_notice_enter_btn_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>login_notice_enter_btn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,911},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>login_notice_page_item_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>login_notice_page_item_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,984},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>login_notice_title_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{457,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,78}}</string>
                <key>sourceSize</key>
                <string>{457,78}</string>
            </dict>
            <key>login_notice_title_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,911},{65,60}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>login_notice_title_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,831},{65,60}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_notice.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a9f63ef11c391ca1209b5b02a0d80fe:2b4cc7c749d3335b643eedb2db9e7e3f:a39f43814e571a34aa3178a602978757$</string>
            <key>textureFileName</key>
            <string>login_notice.png</string>
        </dict>
    </dict>
</plist>
