<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>field_barracks.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,772},{590,155}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{590,155}}</string>
                <key>sourceSize</key>
                <string>{768,155}</string>
            </dict>
            <key>field_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>field_forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,541},{120,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,127}}</string>
                <key>sourceSize</key>
                <string>{120,127}</string>
            </dict>
            <key>field_hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,668},{120,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,123}}</string>
                <key>sourceSize</key>
                <string>{120,123}</string>
            </dict>
            <key>field_sundries_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{625,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{625,99}}</string>
                <key>sourceSize</key>
                <string>{625,99}</string>
            </dict>
            <key>field_sundries_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{537,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,139}}</string>
                <key>sourceSize</key>
                <string>{537,139}</string>
            </dict>
            <key>field_tower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,541},{116,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,125}}</string>
                <key>sourceSize</key>
                <string>{116,125}</string>
            </dict>
            <key>field_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{768,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,218}}</string>
                <key>sourceSize</key>
                <string>{768,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_field.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71c8b0365a8be3d533530b6f14a088fd:0c5ff3594b044436876f12bf429b7de0:8169f32c6e719a51cc9ac63c62c109e1$</string>
            <key>textureFileName</key>
            <string>map_field.png</string>
        </dict>
    </dict>
</plist>
