<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuanshen_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,330},{252,232}}</string>
                <key>offset</key>
                <string>{0,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,280},{252,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{370,264}}</string>
                <key>offset</key>
                <string>{-10,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,223},{370,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{356,404}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,82},{356,404}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{326,360}}</string>
                <key>offset</key>
                <string>{-16,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,38},{326,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,456}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,27},{334,456}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuanshen2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2ea3026f48b40dacda9e919a259456:43c108d5a089fb43e15124d8f23ccc2a:171288ad1ea0e6ac9abb0beb88952181$</string>
            <key>textureFileName</key>
            <string>zhuanshen2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
