<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuanshen_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{424,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,15},{424,482}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{482,494}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{468,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{468,492}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,498},{424,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{424,486}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuanshen0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2ea3026f48b40dacda9e919a259456:43c108d5a089fb43e15124d8f23ccc2a:171288ad1ea0e6ac9abb0beb88952181$</string>
            <key>textureFileName</key>
            <string>zhuanshen0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
