<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuanshen_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,842},{198,172}}</string>
                <key>offset</key>
                <string>{32,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,340},{198,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{370,240}}</string>
                <key>offset</key>
                <string>{36,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,272},{370,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,480},{360,436}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{360,436}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{368,424}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,43},{368,424}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{352,460}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,26},{352,460}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,18},{392,476}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>zhuanshen_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,428},{288,412}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,50},{288,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuanshen1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab2ea3026f48b40dacda9e919a259456:43c108d5a089fb43e15124d8f23ccc2a:171288ad1ea0e6ac9abb0beb88952181$</string>
            <key>textureFileName</key>
            <string>zhuanshen1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
