<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accessory_1_zhengzhuxianglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{286,333}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,106},{286,333}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_2_cuiyupei.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,518},{252,325}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,110},{252,325}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_4_chuanguoyuxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{248,301}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,137},{248,301}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_4_hulongxinjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,218},{298,341}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,108},{298,341}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_4_xianfengling.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{214,349}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,127},{214,349}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_5_biyuejinchai.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,308},{326,321}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,98},{326,321}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_5_guicaijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,772},{208,227}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,165},{208,227}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_5_shishengshibailun.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,636},{296,319}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,127},{296,319}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_5_xiaguangxianglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{304,311}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,136},{304,311}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_5_zhenguohufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,295}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,151},{354,295}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accessory2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e8f5c0dd7848203483faff97751d6f6:1/1$</string>
            <key>textureFileName</key>
            <string>accessory2.png</string>
        </dict>
    </dict>
</plist>
