<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accessory_3_dunjiatianshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,302},{318,267}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,162},{318,267}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_4_biyuxiangjinpei.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,302},{234,389}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,73},{234,389}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_4_hongyubanzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{230,207}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,189},{230,207}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_4_kongmingdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,541}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{354,541}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_4_renwangdun.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,545},{298,409}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,110},{298,409}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_5_baguadun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{302,415}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,94},{302,415}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_5_shengwangzhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{298,407}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,94},{298,407}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>accessory_5_tianjijinnang.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,622},{294,403}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,103},{294,403}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accessory0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d999541bd86d436d44359046166eb5cc:1/1$</string>
            <key>textureFileName</key>
            <string>accessory0.png</string>
        </dict>
    </dict>
</plist>
