<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nuqichongtian_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,378},{82,34}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,135},{82,34}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{118,62}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,109},{118,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,270},{182,90}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,104},{182,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,66},{202,112}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,83},{202,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{208,154}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{208,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,202},{210,174}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{210,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,196},{216,180}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{216,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{220,184}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{220,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{222,192}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{222,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,194}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{226,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{224,198}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{224,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{222,200}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{222,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,188},{218,192}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{218,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,378},{208,190}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{208,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{194,190}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{194,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nuqichongtian_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,378},{184,188}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{184,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianfu_nuqichongtian.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f529eaed309f635f27b4502d3c045e8f:684fad25546eb6e94deb15152f7ae4c0:74dbe33f36cb115a8710d96671d712f5$</string>
            <key>textureFileName</key>
            <string>tianfu_nuqichongtian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
