<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buquyizhi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,158},{176,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,55},{176,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{176,150}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,56},{176,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{172,152}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,56},{172,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{164,156}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{164,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,620},{164,156}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,56},{164,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{174,156}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,56},{174,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{166,156}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,56},{166,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,522},{168,156}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{168,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,154}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,55},{176,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,176},{170,148}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,55},{170,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,154}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,55},{176,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,304},{174,156}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{174,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,462},{170,156}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,55},{170,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,692},{164,154}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,56},{164,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>buquyizhi_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,348},{172,154}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,54},{172,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buquyizhi.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e9a42d991fc1dfb554f95b3f51ce547:34a7a5c7c6458cf04b6da051d709306b:6e22e0680f8676549acb48e3f4cc3774$</string>
            <key>textureFileName</key>
            <string>buquyizhi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
