<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend-button-cha0.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,213},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>friend-button-cha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,282},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>friend-button-gou0.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,213},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>friend-button-gou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,324},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>friend-button-nor-haoyouliebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,290},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>friend-button-nor-shenqingliebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,290},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>friend-button-nor-tuijianhaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,349},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>friend-button-sel-haoyouliebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,349},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>friend-button-sel-shenqingliebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,349},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>friend-button-sel-tuijianhaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,199},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>friend-image-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,159},{59,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,39}}</string>
                <key>sourceSize</key>
                <string>{59,39}</string>
            </dict>
            <key>friend-image-meiyouzhaodaogaiwanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{189,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,28}}</string>
                <key>sourceSize</key>
                <string>{189,28}</string>
            </dict>
            <key>friend-image-paibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,159},{123,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,43}}</string>
                <key>sourceSize</key>
                <string>{123,43}</string>
            </dict>
            <key>friend-image-tianjiahaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,349},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>friend_head_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>friend_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1},{1,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,108}}</string>
                <key>sourceSize</key>
                <string>{1,108}</string>
            </dict>
            <key>jinru0.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,159},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>jinru1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,159},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>jinru2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,159},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>kuangchang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,474},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>shop-image-xiaokuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,145},{126,67}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{126,67}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>shuaxinliebiao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>shuaxinliebiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>shuaxinliebiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>tianjia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,349},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>tianjia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,349},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>tianjia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,159},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>tianjiahaoyou0.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,3},{95,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,77}}</string>
                <key>sourceSize</key>
                <string>{95,77}</string>
            </dict>
            <key>tianjiahaoyou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,81},{95,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,77}}</string>
                <key>sourceSize</key>
                <string>{95,77}</string>
            </dict>
            <key>tianjiahaoyou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,73},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friendNew.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b77b030eb4d8c0415c024fff19e4c2a3:b273b6ca04066c3574ebf74e97c8f2e1:69ad822d5009e83e749fa884e9dd7294$</string>
            <key>textureFileName</key>
            <string>friendNew.png</string>
        </dict>
    </dict>
</plist>
