<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuangchang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,132},{231,126}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{231,126}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{231,108}}</string>
                <key>offset</key>
                <string>{-9,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{231,108}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{223,108}}</string>
                <key>offset</key>
                <string>{-7,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,104},{223,108}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{219,108}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,104},{219,108}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,260},{231,118}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{231,118}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,128}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{247,128}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{247,128}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{247,128}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{243,128}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,84},{243,128}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,498},{221,134}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,78},{221,134}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,634},{215,108}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,104},{215,108}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{229,116}}</string>
                <key>offset</key>
                <string>{-10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{229,116}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
            <key>kuangchang_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,380},{229,116}}</string>
                <key>offset</key>
                <string>{-10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{229,116}}</string>
                <key>sourceSize</key>
                <string>{249,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuangchang.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ea0b70458442f9c35f67ab31e58f432:df34d66222e8c129a83def625e5ae879:b336b91f6bc02b096d49041ed461b4ce$</string>
            <key>textureFileName</key>
            <string>kuangchang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
