<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>halloween_doupeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{370,437}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,65},{370,437}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>halloween_liandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,501}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,47},{306,501}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>halloween_nangua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{246,435}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,78},{246,435}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>halloween_equipment.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:496b23a2462534392dd609d5578b0dd6:06c6a685e014fbee59c08f1c58c0acc4:0eb976d2b3d6e8b3e4904c6ab1f7c4d8$</string>
            <key>textureFileName</key>
            <string>halloween_equipment.png</string>
        </dict>
    </dict>
</plist>
