<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_nanguaguai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>huodong_nanguazhuangyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{84,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{84,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>huodong_word_nanguazhuangyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{176,50}}</string>
                <key>sourceSize</key>
                <string>{182,54}</string>
            </dict>
            <key>icon_doupeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,248},{87,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_liandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{95,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,85}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_nanguadeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{89,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_nangualibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,54},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>icon_tangguodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,151},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>halloween_icon.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02f83f07991814da5fd1383731d2e79:06b35ae690541e4acba694d2a11deb4f:567b539296d135e91db426bff8c271d9$</string>
            <key>textureFileName</key>
            <string>halloween_icon.png</string>
        </dict>
    </dict>
</plist>
