<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playstates-button-nor-dress.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,70},{132,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,66}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>playstates-button-sel-dress.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{132,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,66}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>preplaystates_cost_str.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,132},{93,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,41}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>preplaystates_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,477},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>preplaystates_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,253},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>preplaystates_tiaozheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,250},{87,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,71}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>preplaystates_tiaozheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,216},{87,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,71}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>preplaystates_zairu.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,175},{87,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,73}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>preplaystates_zairu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{87,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,73}}</string>
                <key>sourceSize</key>
                <string>{87,73}</string>
            </dict>
            <key>previrew_playstates_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,128}}</string>
                <key>sourceSize</key>
                <string>{317,128}</string>
            </dict>
            <key>previrew_playstates_board_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,253},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>previrew_playstates_board_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,318},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>previrew_playstates_change_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>previrew_playstates_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,258},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>previrew_playstates_off1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,198},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>previrew_playstates_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,193},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>previrew_playstates_on1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,138},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>previrew_playstates_shaixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>previrew_playstates_shaixuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,132},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>previrew_playstates_shaixuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>previrew_playstates_shuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,56},{63,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,51}}</string>
                <key>sourceSize</key>
                <string>{63,51}</string>
            </dict>
            <key>previrew_playstates_str_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,376},{99,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,29}}</string>
                <key>sourceSize</key>
                <string>{99,29}</string>
            </dict>
            <key>previrew_playstates_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,121},{93,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,43}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
            <key>previrew_playstates_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,423},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>previrew_playstates_zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,305},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preview_playstates.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10537102a005485ef5cadd2b98e82db2:1/1$</string>
            <key>textureFileName</key>
            <string>preview_playstates.png</string>
        </dict>
    </dict>
</plist>
