<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipment_change_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,990},{30,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,21}</string>
            </dict>
            <key>equipment_change_quipment1.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,332},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>equipment_change_quipment2.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,392},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>equipment_lvup_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,479},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>equipment_lvup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{286,589}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,589}}</string>
                <key>sourceSize</key>
                <string>{286,589}</string>
            </dict>
            <key>equipment_lvup_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,479},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>equipment_lvup_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,990},{30,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,29}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>equipment_lvup_btn_lvup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,327},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_lvup_btn_lvup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,459},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_lvup_btn_lvup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,597},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_lvup_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,327},{242,150}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{242,150}}</string>
                <key>sourceSize</key>
                <string>{242,182}</string>
            </dict>
            <key>equipment_lvup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,452},{143,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,46}}</string>
                <key>sourceSize</key>
                <string>{143,46}</string>
            </dict>
            <key>equipment_lvup_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,990},{163,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,24}}</string>
                <key>sourceSize</key>
                <string>{163,24}</string>
            </dict>
            <key>equipment_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,595}}</string>
                <key>sourceSize</key>
                <string>{342,595}</string>
            </dict>
            <key>equipment_main_btn_lvup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,903},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>equipment_main_btn_lvup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,903},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>equipment_main_btn_lvup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,577},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>equipment_main_btn_qualityup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,903},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>equipment_main_btn_qualityup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,903},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>equipment_main_btn_qualityup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,527},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>equipment_main_btn_refresh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,591},{77,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>equipment_main_btn_refresh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,755},{77,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>equipment_main_btn_refresh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,669},{77,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>equipment_main_color_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{128,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,24}}</string>
                <key>sourceSize</key>
                <string>{128,24}</string>
            </dict>
            <key>equipment_main_color_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,132},{128,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,24}}</string>
                <key>sourceSize</key>
                <string>{128,24}</string>
            </dict>
            <key>equipment_main_color_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,262},{128,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,24}}</string>
                <key>sourceSize</key>
                <string>{128,24}</string>
            </dict>
            <key>equipment_main_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,290},{280,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,35}}</string>
                <key>sourceSize</key>
                <string>{280,35}</string>
            </dict>
            <key>equipment_main_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>equipment_main_pattern.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{50,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,17}}</string>
                <key>sourceSize</key>
                <string>{50,17}</string>
            </dict>
            <key>equipment_main_thread.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1018},{228,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,4}}</string>
                <key>sourceSize</key>
                <string>{228,4}</string>
            </dict>
            <key>equipment_main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,188},{143,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,47}}</string>
                <key>sourceSize</key>
                <string>{143,47}</string>
            </dict>
            <key>equipment_qualityup_btn_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,608},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_qualityup_btn_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,623},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_qualityup_btn_back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,834},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_qualityup_btn_qualityup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,755},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_qualityup_btn_qualityup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,670},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_qualityup_btn_qualityup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,755},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_qualityup_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,333},{242,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,230}}</string>
                <key>sourceSize</key>
                <string>{242,230}</string>
            </dict>
            <key>equipment_qualityup_qmark.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,989},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>equipment_qualityup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,333},{143,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,47}}</string>
                <key>sourceSize</key>
                <string>{143,47}</string>
            </dict>
            <key>equipment_reforce_genghuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,290},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>equipment_reforce_genghuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,290},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>equipment_reforce_xiexia.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,290},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>equipment_reforce_xiexia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,290},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
            <key>equipment_refresh_after.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,903},{117,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,24}}</string>
                <key>sourceSize</key>
                <string>{117,24}</string>
            </dict>
            <key>equipment_refresh_before.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,903},{117,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,24}}</string>
                <key>sourceSize</key>
                <string>{117,24}</string>
            </dict>
            <key>equipment_refresh_btn_accept1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,838},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>equipment_refresh_btn_accept2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,527},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>equipment_refresh_btn_lock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,658},{178,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,64}}</string>
                <key>sourceSize</key>
                <string>{178,64}</string>
            </dict>
            <key>equipment_refresh_btn_lock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,658},{178,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,64}}</string>
                <key>sourceSize</key>
                <string>{178,64}</string>
            </dict>
            <key>equipment_refresh_btn_refresh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,895},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_refresh_btn_refresh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,956},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_refresh_btn_refresh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,816},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_refresh_btn_reject1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,527},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>equipment_refresh_btn_reject2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,838},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>equipment_refresh_btn_undress.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,527},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>equipment_refresh_btn_undress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,838},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>equipment_refresh_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,990},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>equipment_refresh_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{251,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,389}}</string>
                <key>sourceSize</key>
                <string>{251,389}</string>
            </dict>
            <key>equipment_refresh_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,479},{143,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,46}}</string>
                <key>sourceSize</key>
                <string>{143,46}</string>
            </dict>
            <key>equipment_refresh_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,21},{165,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,47}}</string>
                <key>sourceSize</key>
                <string>{165,47}</string>
            </dict>
            <key>equipment_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,990},{26,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,24}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>equipment_way_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,478},{143,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,47}}</string>
                <key>sourceSize</key>
                <string>{143,47}</string>
            </dict>
            <key>equipment_zsh_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,599},{242,302}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{242,302}}</string>
                <key>sourceSize</key>
                <string>{242,362}</string>
            </dict>
            <key>equipment_zsh_btn_zsh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,877},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_zsh_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,903},{110,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,47}}</string>
                <key>sourceSize</key>
                <string>{110,47}</string>
            </dict>
            <key>equipment_zsh_zsh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,877},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>equipment_zsh_zsh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,816},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipment_reinforce.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf29d0d18e8ce6c157ac7172f7bc19d3:f203d472d2464c19b234774baae5f07a:1cee1bbcf00a8fda79f4edbeb24c48dd$</string>
            <key>textureFileName</key>
            <string>equipment_reinforce.png</string>
        </dict>
    </dict>
</plist>
