<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yizhandenglong_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{38,116}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,85},{38,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{38,114}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,86},{38,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,122},{36,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,85},{36,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,82},{38,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,85},{38,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,42},{38,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,85},{38,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{38,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,85},{38,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,116}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,85},{38,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{40,116}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,85},{40,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,116}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,85},{40,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{40,116}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,85},{40,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,116}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,85},{38,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{38,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,85},{38,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,42},{38,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,85},{38,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,82},{38,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,85},{38,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,122},{36,116}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,85},{36,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>yizhandenglong_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,122},{38,114}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,86},{38,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_yizhandenglong.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bc387d97a6973717430bab483664371:c88ba939fcaede56a42ef908a75e4604:8489bad40189a3e09e3316734adc659b$</string>
            <key>textureFileName</key>
            <string>home_yizhandenglong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
