<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qimendunjia_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,558},{162,130}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,65},{162,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,558},{160,144}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,50},{160,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,808},{156,152}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,40},{156,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,808},{152,154}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{152,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,644},{146,154}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,29},{146,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{160,162}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{160,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,162},{154,158}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,28},{154,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{154,156}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{154,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,166},{162,158}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,31},{162,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,722},{160,158}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,31},{160,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,326},{158,156}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{158,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,486},{156,152}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,34},{156,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,650},{156,154}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,33},{156,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,490},{158,156}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,32},{158,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,720},{158,156}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,32},{158,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,156}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{158,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,166},{158,156}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{158,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,330},{158,156}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{158,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,380},{158,176}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,11},{158,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,188}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{156,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{154,186}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{154,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{156,186}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{156,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{154,186}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{154,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>qimendunjia_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{154,186}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{154,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qimendunjia_dst.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:523c2a1998c8d357eb4290db6a3d028a:1/1$</string>
            <key>textureFileName</key>
            <string>qimendunjia_dst.pvr.ccz</string>
        </dict>
    </dict>
</plist>
