<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_1_pudao.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,170},{77,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{77,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_2_jiaogong.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{79,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{79,81}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_2changji.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,85},{79,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{79,81}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_3_gouliangqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,168},{79,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{79,81}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_3_hongyinqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,350},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_3_qixingbaodao.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_bingtiebaodao.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,87},{81,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{81,81}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_biyueqiuguangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,87},{83,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_bofengdahuandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,172},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_fenghongyushan.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,257},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_fengquanjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,342},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_jifengzijinshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,427},{83,83}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_jinbichitongdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_longhushuangkuangdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,87},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_madaibaodao.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,172},{83,83}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_nutaogun.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,257},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_pishuidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{89,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_pojiaqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,180},{85,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_qijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,360},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{85,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_qinggangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,342},{83,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_sanhuanzanjinqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,453},{83,57}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{83,57}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_sanjianliangrenqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,360},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{85,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_shayu.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,427},{83,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_shenjinkaishanfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,435},{83,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{83,67}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_silianbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,275},{87,87}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_tiejichanggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_yinqueqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_4_youlonggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_baihong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_bawangqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,364},{87,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_bazhangshemao.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{85,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_chengying.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,87},{83,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_cixiongshuanggujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,172},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_elaishuangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,257},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_fangtianhuaji.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,89},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{85,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_fengminghuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_fengyangong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_fengyushan.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,342},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_gudingdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_hubugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,93},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_hutouzhanjinqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,427},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_jinbeikaishandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,176},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{85,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_jingshuihulu.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,184},{87,87}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_liefengcha.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{87,87}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_lihuoshuangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{83,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_linyunbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,91},{87,87}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_longdanliangyinqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,273},{85,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{85,85}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_qilindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,184},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_qinglongyanyuedao.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,263},{85,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{85,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_sanjianliangrendao.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,275},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_shuangjiyueyadao.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,360},{85,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_wanshigong.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,366},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_wujinduanrifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,273},{85,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_xintinghou.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_yitianjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,93},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_youmingzhoufu.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,87},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_yuchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{83,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon_5_zhuqueyushan.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,251},{81,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{81,81}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon_icon0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7abb760bc17cdddf0750651e46e01a8:1/1$</string>
            <key>textureFileName</key>
            <string>weapon_icon0.png</string>
        </dict>
    </dict>
</plist>
