<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_chengong.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,527},{246,173}}</string>
                <key>offset</key>
                <string>{-147,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,10},{246,173}}</string>
                <key>sourceSize</key>
                <string>{632,191}</string>
            </dict>
            <key>boss_dongzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{358,173}}</string>
                <key>offset</key>
                <string>{-102,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{358,173}}</string>
                <key>sourceSize</key>
                <string>{632,191}</string>
            </dict>
            <key>boss_huanggai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,173}}</string>
                <key>offset</key>
                <string>{-101,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{410,173}}</string>
                <key>sourceSize</key>
                <string>{632,191}</string>
            </dict>
            <key>boss_liubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{268,173}}</string>
                <key>offset</key>
                <string>{-97,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,10},{268,173}}</string>
                <key>sourceSize</key>
                <string>{632,191}</string>
            </dict>
            <key>boss_yuantan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{188,173}}</string>
                <key>offset</key>
                <string>{-124,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,10},{188,173}}</string>
                <key>sourceSize</key>
                <string>{632,191}</string>
            </dict>
            <key>boss_yuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{372,173}}</string>
                <key>offset</key>
                <string>{-114,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{372,173}}</string>
                <key>sourceSize</key>
                <string>{632,191}</string>
            </dict>
            <key>boss_zhangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,702},{246,171}}</string>
                <key>offset</key>
                <string>{-113,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,10},{246,171}}</string>
                <key>sourceSize</key>
                <string>{632,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b51354ee732073441e3511d97f22d16:1/1$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
