<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{120,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{120,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rainbow_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huitianshu.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91ac61a4da16dab83407fc03091dc664:1/1$</string>
            <key>textureFileName</key>
            <string>huitianshu.png</string>
        </dict>
    </dict>
</plist>
