<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhengzhan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,358},{106,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhengzhan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,246},{110,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{110,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhengzhan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{114,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhengzhan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{118,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhengzhan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,124},{120,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{120,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhengzhan_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{122,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhengzhan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zhengzhan_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{92,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhengzhan_tips.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2ac085aabe13ef7ac436266a667511b:db755e9963076da84c303360788d70d8:b742fbbfbf3e3a40a50d270ab1c40936$</string>
            <key>textureFileName</key>
            <string>zhengzhan_tips.pvr.ccz</string>
        </dict>
    </dict>
</plist>
