<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_shuai_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,101},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>battle_shuai_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,21},{87,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,9}}</string>
                <key>sourceSize</key>
                <string>{87,9}</string>
            </dict>
            <key>blood_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{87,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,9}}</string>
                <key>sourceSize</key>
                <string>{87,9}</string>
            </dict>
            <key>blood_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,17}}</string>
                <key>sourceSize</key>
                <string>{98,17}</string>
            </dict>
            <key>enemy_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{87,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,9}}</string>
                <key>sourceSize</key>
                <string>{87,9}</string>
            </dict>
            <key>haemalstrand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{162,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,28}}</string>
                <key>sourceSize</key>
                <string>{162,28}</string>
            </dict>
            <key>haemalstrand_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{134,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,9}}</string>
                <key>sourceSize</key>
                <string>{134,9}</string>
            </dict>
            <key>haemalstrand_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{134,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,9}}</string>
                <key>sourceSize</key>
                <string>{134,9}</string>
            </dict>
            <key>haemalstrand_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,21},{134,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,9}}</string>
                <key>sourceSize</key>
                <string>{134,9}</string>
            </dict>
            <key>zhandoulitisheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,54},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rage_hs0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e80c0cb33c00e3926f6b5057c033f8a0:185689a503eae986230fe49da86caad5:18b54901189293ba530f8f018fe25ad5$</string>
            <key>textureFileName</key>
            <string>rage_hs0.png</string>
        </dict>
    </dict>
</plist>
