<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyuedu_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,510}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,510}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huoyuedu_glow.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a82bc6f9f3cf02b274a7d54aa3f14eca:b7b72561eb671d7f7a0a7409ece5141f:f6edc71d407c87916c4f27d3768f8a57$</string>
            <key>textureFileName</key>
            <string>huoyuedu_glow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
