<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{95,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{95,92}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>common_bj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,179}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{554,179}}</string>
                <key>sourceSize</key>
                <string>{558,183}</string>
            </dict>
            <key>common_box_goumai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>common_box_goumai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,134},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>common_box_goumai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,266},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>common_box_shiyong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,398},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>common_box_shiyong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,530},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>common_box_shiyong03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>common_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,558},{95,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,45}}</string>
                <key>sourceSize</key>
                <string>{95,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_box.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00c5c365a4e52c36b3fa44055d4ec46f:a04a8e0415aee32862d3aae780283ad5:5d09d32bad8da7ae63b1d6562688cadd$</string>
            <key>textureFileName</key>
            <string>common_box.png</string>
        </dict>
    </dict>
</plist>
