<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bian-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,76},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>bian-xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{26,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,6}}</string>
                <key>sourceSize</key>
                <string>{26,6}</string>
            </dict>
            <key>bottom_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{645,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,125}}</string>
                <key>sourceSize</key>
                <string>{645,125}</string>
            </dict>
            <key>common-image-wuyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{642,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,203}}</string>
                <key>sourceSize</key>
                <string>{642,203}</string>
            </dict>
            <key>common-image-wuyan_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{643,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,153}}</string>
                <key>sourceSize</key>
                <string>{643,153}</string>
            </dict>
            <key>common_top_boader.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{643,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,26}}</string>
                <key>sourceSize</key>
                <string>{643,26}</string>
            </dict>
            <key>heng-liang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{629,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,74}}</string>
                <key>sourceSize</key>
                <string>{629,74}</string>
            </dict>
            <key>inventory-image-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{137,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,72}}</string>
                <key>sourceSize</key>
                <string>{137,72}</string>
            </dict>
            <key>top_boader.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{645,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{645,72}}</string>
                <key>sourceSize</key>
                <string>{645,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba47335e146a51c26d29533b6a540fc7:6acc061856f8af1bd90690270d2bc231:0efa5fec0be417390841f237bfdb917e$</string>
            <key>textureFileName</key>
            <string>background.png</string>
        </dict>
    </dict>
</plist>
