<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardhead_mining.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,123},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>information-image-bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,197},{55,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{55,56}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,99},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>kuan2g.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,197},{93,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{93,92}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,100},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,75},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>shuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,41},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,291},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,254},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>图鉴_未知武将.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>透明.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,75},{1,1}}</string>
                <key>offset</key>
                <string>{-57,57.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardhead.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:137567d16358e2f081d132a92765002e$</string>
            <key>textureFileName</key>
            <string>cardhead.png</string>
        </dict>
    </dict>
</plist>
