<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commom_vip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,112},{60,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,47}}</string>
                <key>sourceSize</key>
                <string>{60,47}</string>
            </dict>
            <key>common-image-exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>common-image-vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,174},{58,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,45}}</string>
                <key>sourceSize</key>
                <string>{58,45}</string>
            </dict>
            <key>common_bn_jia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>common_bn_jia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,164},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>common_bn_jian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,91},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>common_bn_jian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,112},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>common_bn_max0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{108,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{108,55}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>common_bn_max1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{108,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{108,55}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>common_bottom_glod_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,180},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>common_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,90},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{40,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>common_btn_close_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,48},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{40,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>common_gold_boader_.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,249},{586,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,2}}</string>
                <key>sourceSize</key>
                <string>{586,2}</string>
            </dict>
            <key>common_icon_jiluedian.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,214},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>common_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,186},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>common_new_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,52},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>common_round_glod_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>common_tipImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,141},{20,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>common_top_bottom_glod_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{562,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,44}}</string>
                <key>sourceSize</key>
                <string>{562,44}</string>
            </dict>
            <key>currency_bable.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,91},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>currency_gonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,91},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>currency_jingjichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,140},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>currency_soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,214},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{1,1}}</string>
                <key>offset</key>
                <string>{-39.5,39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>jing_nang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,214},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>label_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,112},{52,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,25}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>minxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,48},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,35}</string>
            </dict>
            <key>playstates-image-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,174},{60,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>playstates-image-fanhui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,112},{60,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>playstates-image-wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>playstates-image-wenhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,166},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{178,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,19}}</string>
                <key>sourceSize</key>
                <string>{178,19}</string>
            </dict>
            <key>progress_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{176,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,17}}</string>
                <key>sourceSize</key>
                <string>{178,17}</string>
            </dict>
            <key>progress_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{176,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,17}}</string>
                <key>sourceSize</key>
                <string>{178,17}</string>
            </dict>
            <key>shu-bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,249},{3,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,28}}</string>
                <key>sourceSize</key>
                <string>{3,28}</string>
            </dict>
            <key>suipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,186},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>tab-image-jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,141},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>tipFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,181},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>tongqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,52},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>touch_screen_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,32}}</string>
                <key>sourceSize</key>
                <string>{179,32}</string>
            </dict>
            <key>vip_icon_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,48},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>wuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,91},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>wuxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,91},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,137},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4fec1ecf8a52fe35103b0cb640f7f3a$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
