<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>component_list_pop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,917},{95,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{95,92}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>component_list_pop_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{430,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,53}}</string>
                <key>sourceSize</key>
                <string>{430,53}</string>
            </dict>
            <key>component_list_pop_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{463,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,62}}</string>
                <key>sourceSize</key>
                <string>{463,62}</string>
            </dict>
            <key>component_list_pop_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,590},{393,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,40}}</string>
                <key>sourceSize</key>
                <string>{393,40}</string>
            </dict>
            <key>component_list_pop_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,917},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>component_list_pop_btn_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,917},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>component_list_pop_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,298},{118,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{118,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>component_list_pop_btn_ok1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,237},{118,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{118,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>component_list_pop_change_cur_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,119},{571,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,55}}</string>
                <key>sourceSize</key>
                <string>{571,55}</string>
            </dict>
            <key>component_list_pop_change_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,359},{556,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,109}}</string>
                <key>sourceSize</key>
                <string>{556,109}</string>
            </dict>
            <key>component_list_pop_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,985},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>component_list_pop_fenggexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1020},{1,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,233}}</string>
                <key>sourceSize</key>
                <string>{1,233}</string>
            </dict>
            <key>component_list_pop_generals_screening.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,72},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>component_list_pop_itle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,72},{605,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,67}}</string>
                <key>sourceSize</key>
                <string>{605,67}</string>
            </dict>
            <key>component_list_pop_itle_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,68}}</string>
                <key>sourceSize</key>
                <string>{505,68}</string>
            </dict>
            <key>component_list_pop_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>component_list_pop_label_star_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,917},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>component_list_pop_lable_country.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,917},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>component_list_pop_lable_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,72},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>component_list_pop_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{586,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,1}}</string>
                <key>sourceSize</key>
                <string>{586,1}</string>
            </dict>
            <key>component_list_pop_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,985},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>component_list_pop_son_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,119},{118,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,116}}</string>
                <key>sourceSize</key>
                <string>{118,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>component_list_pop.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75ad2bfb20080667c249b2b40afb24a9$</string>
            <key>textureFileName</key>
            <string>component_list_pop.png</string>
        </dict>
    </dict>
</plist>
