<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv_bn_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_dianjiang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,686},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_dianjiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,686},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_gonghui0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,638},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_gonghui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,585},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_hecheng0.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,578},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_hecheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,532},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_hecheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_huodetujing0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_huodetujing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_jingjichang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,520},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_jingjichang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,520},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_jingyingguanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,479},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_putongguanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,426},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_ronglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,412},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_soul_shop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,373},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_soul_shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,354},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_tilianjianghun0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_tilianjianghun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_tongtianta0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_tongtianta1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_vipshop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,354},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_vipshop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,320},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_wudoudahui0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_wudoudahui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,267},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_xianshihuodong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_xianshihuodong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,214},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_zhanyi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,161},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_zhanyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,108},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_zhengzhan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,55},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_bn_zhengzhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{164,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,51}}</string>
                <key>sourceSize</key>
                <string>{164,51}</string>
            </dict>
            <key>lv_caozuoshuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,691},{143,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,47}}</string>
                <key>sourceSize</key>
                <string>{143,47}</string>
            </dict>
            <key>lv_close_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>lv_huodetujing.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,267},{143,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,47}}</string>
                <key>sourceSize</key>
                <string>{143,47}</string>
            </dict>
            <key>lv_surmount_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,306}}</string>
                <key>sourceSize</key>
                <string>{248,306}</string>
            </dict>
            <key>stage_disable1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>stage_disable2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>stage_jingying0.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,303},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>stage_jingying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,303},{61,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,49}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>stage_putong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,252},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>stage_putong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,252},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>item_source.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aa7483174c304701bc684de5afd87d3$</string>
            <key>textureFileName</key>
            <string>item_source.png</string>
        </dict>
    </dict>
</plist>
