<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniuhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,43},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>battle_result_zhandoujiesuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,599},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,658},{95,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{95,92}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,648},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,43},{554,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,262}}</string>
                <key>sourceSize</key>
                <string>{554,262}</string>
            </dict>
            <key>blue_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{3,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,352}}</string>
                <key>sourceSize</key>
                <string>{3,352}</string>
            </dict>
            <key>blue_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,522},{493,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,43}}</string>
                <key>sourceSize</key>
                <string>{493,43}</string>
            </dict>
            <key>blue_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,76},{586,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,1}}</string>
                <key>sourceSize</key>
                <string>{586,1}</string>
            </dict>
            <key>blue_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{3,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,352}}</string>
                <key>sourceSize</key>
                <string>{3,352}</string>
            </dict>
            <key>bn_cancel0.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,658},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_cancel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,790},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_guanbi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,658},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_guanbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,947},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_queding0.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,815},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_queding1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,815},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_queding2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,754},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_shuxin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,597},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_shuxin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,587},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>button-nor-zhengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,536},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>button-sel-zhengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,526},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,445},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>chushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,465},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>chushou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,404},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>click_screen_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{179,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,32}}</string>
                <key>sourceSize</key>
                <string>{179,32}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,446},{40,40}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,404},{40,40}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fenggexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,252},{1,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,233}}</string>
                <key>sourceSize</key>
                <string>{1,233}</string>
            </dict>
            <key>filter_shaixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,658},{94,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,45}}</string>
                <key>sourceSize</key>
                <string>{94,45}</string>
            </dict>
            <key>goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,404},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>goumai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,949},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>hecheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,817},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>hecheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,817},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>huoyuedulingjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{196,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,45}}</string>
                <key>sourceSize</key>
                <string>{196,45}</string>
            </dict>
            <key>image-mingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,404},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>image-paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,423},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>image-paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,252},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>image-qi.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,28},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>image-zaochenghsanghai.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,918},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>inventory-image-chushouwupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,823},{159,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,45}}</string>
                <key>sourceSize</key>
                <string>{159,45}</string>
            </dict>
            <key>inventory-image-hechengwupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,820},{154,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,41}}</string>
                <key>sourceSize</key>
                <string>{154,41}</string>
            </dict>
            <key>inventory-image-huodewupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,820},{154,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,41}}</string>
                <key>sourceSize</key>
                <string>{154,41}</string>
            </dict>
            <key>inventory-image-jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,208},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>inventory-image-jiaanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,164},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>inventory-image-jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,120},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>inventory-image-jiananniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,76},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>inventory-image-max.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,366},{108,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{108,55}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>inventory-image-max1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,309},{108,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{108,55}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>inventory-image-shiyongwupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,599},{155,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,41}}</string>
                <key>sourceSize</key>
                <string>{155,41}</string>
            </dict>
            <key>lianhun0.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,952},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>lianhun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,756},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,820},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>lingqu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,445},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>lingqu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,759},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>miner-forecastReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,491},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>miner-popTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,432},{154,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,41}}</string>
                <key>sourceSize</key>
                <string>{154,41}</string>
            </dict>
            <key>miner-workTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,460},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>pop_qianwang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,445},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>pop_qianwang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,313},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>pop_task_award_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,309}}</string>
                <key>sourceSize</key>
                <string>{640,309}</string>
            </dict>
            <key>pop_task_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{96,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,222}}</string>
                <key>sourceSize</key>
                <string>{96,224}</string>
            </dict>
            <key>rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,918},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,404},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,961},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>rank_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{565,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,89}}</string>
                <key>sourceSize</key>
                <string>{565,89}</string>
            </dict>
            <key>scenario-image-kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>select_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,7},{326,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,34}}</string>
                <key>sourceSize</key>
                <string>{326,34}</string>
            </dict>
            <key>selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,404},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>shanchu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,786},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shanchu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,654},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shengjijiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,984},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,522},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shiyong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,177},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shop-image-goumaiwupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,599},{155,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,41}}</string>
                <key>sourceSize</key>
                <string>{155,41}</string>
            </dict>
            <key>shuxin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,597},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shuxin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,587},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>suipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,404},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>task_finished.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,435},{159,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{159,45}}</string>
                <key>sourceSize</key>
                <string>{159,49}</string>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,976},{95,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,45}}</string>
                <key>sourceSize</key>
                <string>{95,45}</string>
            </dict>
            <key>warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,577},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>zaixianjiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,823},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pop.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4e9cc3acf408ee27955f6d1f06fb70c$</string>
            <key>textureFileName</key>
            <string>pop.png</string>
        </dict>
    </dict>
</plist>
