<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gallery-image-paibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,439},{101,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,43}}</string>
                <key>sourceSize</key>
                <string>{101,43}</string>
            </dict>
            <key>gallery-imgage-wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,576},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>gallery-wujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,530},{87,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,44}}</string>
                <key>sourceSize</key>
                <string>{87,44}</string>
            </dict>
            <key>gallery-zhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,484},{87,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,44}}</string>
                <key>sourceSize</key>
                <string>{87,44}</string>
            </dict>
            <key>gallery_armor_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{102,99}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{102,99}}</string>
                <key>sourceSize</key>
                <string>{116,113}</string>
            </dict>
            <key>gallery_armor_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,211},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,113}</string>
            </dict>
            <key>gallery_as_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{134,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{134,98}}</string>
                <key>sourceSize</key>
                <string>{148,112}</string>
            </dict>
            <key>gallery_as_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,112}}</string>
                <key>sourceSize</key>
                <string>{148,112}</string>
            </dict>
            <key>gallery_bg_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,535},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>gallery_bg_as.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,576},{65,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{65,70}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>gallery_bg_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,456},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>gallery_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{562,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,44}}</string>
                <key>sourceSize</key>
                <string>{562,44}</string>
            </dict>
            <key>gallery_weapon_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,103},{106,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{106,101}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>gallery_weapon_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,324},{118,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,113}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>gallery_wujiang_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>gallery_wujiang_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>gallery_zhuangbei_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>gallery_zhuangbei_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>point_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,461},{20,20}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>point_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,439},{20,20}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gallery.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f82508d585c830b53e687caedf7c689:1/1$</string>
            <key>textureFileName</key>
            <string>gallery.png</string>
        </dict>
    </dict>
</plist>
