<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>choukaxiang_g_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{372,282}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,186},{372,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>choukaxiang_g_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{408,412}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,127},{408,412}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>choukaxiang_glow.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,822},{300,158}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>choukaxiang_s_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,640},{372,282}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,186},{372,282}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>choukaxiang_s_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,412},{408,412}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,127},{408,412}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,822},{62,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>whitecard_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,636}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{411,636}}</string>
                <key>sourceSize</key>
                <string>{421,646}</string>
            </dict>
            <key>whitecard_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>singe_draw0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ff9beea64322a175c6cad52051c9bd3:1/2$</string>
            <key>textureFileName</key>
            <string>singe_draw0.png</string>
        </dict>
    </dict>
</plist>
