<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangjijiuji_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,372},{112,134}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,30},{112,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{202,200}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{202,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,214},{202,208}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{202,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,218}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{194,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{202,206}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{202,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{210,184}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{210,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,222},{212,176}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{212,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{214,174}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,27},{214,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,210},{206,174}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{206,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{206,168}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,31},{206,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,204},{202,166}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{202,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiangjijiuji0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597e90697539c632c27f650180e549b3:d4713f054bc9313c1d56a2eba26b2eac:a4ecfc6fbce3ca82e7617ea81728dc54$</string>
            <key>textureFileName</key>
            <string>jiangjijiuji0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
