<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangjijiuji_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{156,180}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,15},{156,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{186,190}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{186,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jiangjijiuji_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,144}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,61},{200,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiangjijiuji1.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597e90697539c632c27f650180e549b3:d4713f054bc9313c1d56a2eba26b2eac:a4ecfc6fbce3ca82e7617ea81728dc54$</string>
            <key>textureFileName</key>
            <string>jiangjijiuji1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
