<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4starCard_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,836},{137,101}}</string>
                <key>offset</key>
                <string>{-125,-254}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,509},{137,101}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>4starCard_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{345,233}}</string>
                <key>offset</key>
                <string>{-22,-188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,377},{345,233}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>4starCard_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{387,425}}</string>
                <key>offset</key>
                <string>{0,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,185},{387,425}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>4starCard_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{387,405}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,1},{387,405}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>4starCard_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{341,221}}</string>
                <key>offset</key>
                <string>{23,194}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,1},{341,221}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>4starCard_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{155,103}}</string>
                <key>offset</key>
                <string>{116,254}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,0},{155,103}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4starcard_big.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4afdabbe8a3614b7694df1bd1e45c574:a2a7734ae0df2411503c492871084bcd:543cf3667b6f4063b34ac4ba0b350126$</string>
            <key>textureFileName</key>
            <string>4starcard_big.pvr.ccz</string>
        </dict>
    </dict>
</plist>
