<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4starCard_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,300},{510,300}}</string>
                <key>offset</key>
                <string>{1,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,212},{510,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4starCard_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,296}}</string>
                <key>offset</key>
                <string>{-2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,216},{496,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4starCard_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{508,296}}</string>
                <key>offset</key>
                <string>{2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,216},{508,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4starCard_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{508,298}}</string>
                <key>offset</key>
                <string>{-2,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,214},{508,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4starCard_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{506,300}}</string>
                <key>offset</key>
                <string>{-3,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,212},{506,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>4starCard_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,602},{512,300}}</string>
                <key>offset</key>
                <string>{0,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,212},{512,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4star_card.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6397cf4edb6efaed1a95e13ec17cafe6:e4ec594814a64bf20386287aceb98288:01c3397ff2d144847b3ae73f142ba91e$</string>
            <key>textureFileName</key>
            <string>4star_card.pvr.ccz</string>
        </dict>
    </dict>
</plist>
