<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5starCard_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1228},{431,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{431,611}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>5starCard_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{433,611}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{433,611}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>5starCard_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,611}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{433,611}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>5starCard_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,615},{431,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{431,611}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>5starCard_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{431,611}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{431,611}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
            <key>5starCard_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{431,611}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{431,611}}</string>
                <key>sourceSize</key>
                <string>{611,611}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5star_card.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:289f34cd0c5c73cbefe212c4d3e018cc:ff46dffe283f5cb92b0925d56c9a4d6d:45eb012dee587eefe214c11f8990d155$</string>
            <key>textureFileName</key>
            <string>5star_card.pvr.ccz</string>
        </dict>
    </dict>
</plist>
