<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhongshang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhongshang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhongshang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhongshang_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>debuff_zhongshang.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbd9834a78618e26bd22258eadff9f9f:a269589dad408fe9dd53b98a881db8c0:e0501169e42170cd5a9c0e0efd9efaa2$</string>
            <key>textureFileName</key>
            <string>debuff_zhongshang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
