<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianfu02_ignite_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,434},{178,160}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,46},{178,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,658},{188,158}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,55},{188,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,658},{186,160}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,50},{186,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,848},{172,154}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,50},{172,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,792},{158,162}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{158,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,792},{142,158}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,47},{142,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,224},{208,206}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{208,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{218,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{214,220}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{214,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{210,216}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{210,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{210,218}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{210,218}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,446},{202,210}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{202,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{196,202}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{196,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{188,188}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{188,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,614},{176,176}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,34},{176,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_ignite_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,848},{170,166}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{170,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianfu02_ignite.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ff924e48af2ad281b0934ddd610d48a:1fa7abdc69945230bbb563b81dabc9c0:60ad08241b7320755aec169e3e0d51ab$</string>
            <key>textureFileName</key>
            <string>tianfu02_ignite.pvr.ccz</string>
        </dict>
    </dict>
</plist>
