<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanjianqifa_dst_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{30,58}}</string>
                <key>offset</key>
                <string>{-4,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,0},{30,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,448},{52,150}}</string>
                <key>offset</key>
                <string>{10,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,7},{52,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,244}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{156,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{134,200}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,23},{134,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,248},{134,224}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{134,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{124,202}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,21},{124,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{144,224}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{144,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{162,222}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{162,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,216},{174,210}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{174,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{160,212}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{160,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,226},{160,220}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{160,184}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,25},{160,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,164},{160,138}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,105},{160,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,204},{158,124}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,114},{158,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,364},{144,124}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,114},{144,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,304},{128,126}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{128,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,304},{128,124}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,114},{128,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{128,106}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{128,106}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{128,106}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{128,106}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{128,106}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{128,106}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{128,106}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wanjianqifa_dst_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,164},{128,106}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,113},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wanjianqifa_dst0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c61ef9ce143ddbb7439622306ee0a043:1/2$</string>
            <key>textureFileName</key>
            <string>wanjianqifa_dst0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
