<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaobing_rightdown_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{22,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{22,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{22,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,40},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,78},{26,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{26,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,116},{26,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{26,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{22,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{22,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,154},{26,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{26,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,192},{26,36}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{26,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_rightdown_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{24,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{24,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaobing_rightdown.pvr.ccz</string>
            <key>size</key>
            <string>{68,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26d751a97e772a384cfd9bf06f0b8d1b:d8c3fd11628c541824c5abaefa25d8b9:ba9bbe1207ab65e78a2e03d023c23f72$</string>
            <key>textureFileName</key>
            <string>xiaobing_rightdown.pvr.ccz</string>
        </dict>
    </dict>
</plist>
