<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rongliantunshi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{216,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rongliantunshi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,190},{186,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,26},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rongliantunshi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{186,202}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rongliantunshi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{162,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,37},{162,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rongliantunshi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,548},{164,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,35},{164,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rongliantunshi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{166,188}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,34},{166,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rongliantunshi_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,378},{168,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,33},{168,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rongliantunshi_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{166,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,33},{166,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rongliantunshi_donghua.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:616b6a24d3b45cc2b1a0186b94db4fee:a72fd3dc14472659801a31b7f76d02c1:beb0e014e05521fe8796ecde64bb7593$</string>
            <key>textureFileName</key>
            <string>rongliantunshi_donghua.pvr.ccz</string>
        </dict>
    </dict>
</plist>
