<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{62,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>effect_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,912},{62,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,74}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>effect_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,912},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>effect_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,912},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>effect_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,912},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>effect_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,266},{198,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,34},{198,252}}</string>
                <key>sourceSize</key>
                <string>{304,320}</string>
            </dict>
            <key>effect_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{220,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{220,248}}</string>
                <key>sourceSize</key>
                <string>{304,320}</string>
            </dict>
            <key>effect_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,324},{250,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{250,274}}</string>
                <key>sourceSize</key>
                <string>{304,320}</string>
            </dict>
            <key>effect_rank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{262,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,37},{262,246}}</string>
                <key>sourceSize</key>
                <string>{304,320}</string>
            </dict>
            <key>effect_rank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{304,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{304,264}}</string>
                <key>sourceSize</key>
                <string>{304,320}</string>
            </dict>
            <key>effect_rank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{280,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{280,268}}</string>
                <key>sourceSize</key>
                <string>{304,320}</string>
            </dict>
            <key>effect_rank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,600},{268,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{268,262}}</string>
                <key>sourceSize</key>
                <string>{304,320}</string>
            </dict>
            <key>effect_rank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,320}}</string>
                <key>sourceSize</key>
                <string>{304,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_rank_lvup.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55daea5466abb429ec07fbdabc4da70e:424a479ee3dd3c32e69a39114a8a8ca3:e39e9acf5bdf709e125e24df5598bb92$</string>
            <key>textureFileName</key>
            <string>battle_rank_lvup.png</string>
        </dict>
    </dict>
</plist>
