<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengji_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{424,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,15},{424,482}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{482,494}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{468,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{468,492}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,498},{424,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{424,486}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengji_donghua0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4c3c42ab8051e191249e670bbbeeefa:8e7081719ae0a2d01bb063eb81c97b01:c9b95e1335988c432ccbff3ea449c473$</string>
            <key>textureFileName</key>
            <string>shengji_donghua0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
