<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengji_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{342,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,26},{342,460}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,18},{392,476}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,480},{334,456}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,27},{334,456}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{280,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,50},{280,412}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengji_donghua1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4c3c42ab8051e191249e670bbbeeefa:8e7081719ae0a2d01bb063eb81c97b01:c9b95e1335988c432ccbff3ea449c473$</string>
            <key>textureFileName</key>
            <string>shengji_donghua1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
