<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_1_guoyouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_1_huangchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_1_yinshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_2_chenzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_2_gaoxaing.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_2_liuba.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_2_xaingchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_2_xianglang.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_2_zhugezhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_baosanniang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_caobao.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_chenshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_dongjue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_dongyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_fengxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_fuqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_jianyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_leitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_lihui.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_liufeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_luoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head_shu1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d3ccc0833031d4668f71d2568f322b5:32f9822fc57370f2ea30dbdb4cb979ba:73f1c2c99a505c839eea729e7f27ad6e$</string>
            <key>textureFileName</key>
            <string>head_shu1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
