<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lose01_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{561,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,296}}</string>
                <key>sourceSize</key>
                <string>{561,296}</string>
            </dict>
            <key>lose02_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,601},{548,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,290}}</string>
                <key>sourceSize</key>
                <string>{548,290}</string>
            </dict>
            <key>lose03_ch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{557,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,299}}</string>
                <key>sourceSize</key>
                <string>{557,299}</string>
            </dict>
            <key>lose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{370,330}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{370,330}}</string>
                <key>sourceSize</key>
                <string>{402,402}</string>
            </dict>
            <key>lose_flag_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{192,328}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{192,328}}</string>
                <key>sourceSize</key>
                <string>{208,332}</string>
            </dict>
            <key>lose_flag_l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{33,309}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{33,309}}</string>
                <key>sourceSize</key>
                <string>{49,323}</string>
            </dict>
            <key>lose_flag_l_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,334},{152,184}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{152,184}}</string>
                <key>sourceSize</key>
                <string>{184,214}</string>
            </dict>
            <key>lose_flag_r_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,601},{194,326}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{194,326}}</string>
                <key>sourceSize</key>
                <string>{202,358}</string>
            </dict>
            <key>lose_flag_r_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,893},{99,304}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{99,304}}</string>
                <key>sourceSize</key>
                <string>{123,324}</string>
            </dict>
            <key>lose_flag_r_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,334},{186,160}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{186,160}}</string>
                <key>sourceSize</key>
                <string>{210,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lose.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccf327e22e3a442e6c01d0e27b2b3c72:1/1$</string>
            <key>textureFileName</key>
            <string>lose.png</string>
        </dict>
    </dict>
</plist>
