<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jizhonghuoli_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{252,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{252,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,260},{190,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{190,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{226,226}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{226,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,514},{196,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{196,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{234,194}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{234,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{170,190}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{170,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,712},{150,182}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,18},{150,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{144,188}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,14},{144,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,712},{148,186}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,19},{148,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,192},{150,176}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,19},{150,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{140,176}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,19},{140,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,176}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,19},{142,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,454},{140,178}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,19},{140,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,144},{136,176}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,19},{136,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>jizhonghuoli_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,634},{130,166}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,20},{130,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianfu_jizhonghuoli.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a162ec91107e8ebf64082f1431c2fa2:d82519148305de569b01b24c65c9af54:67980e83d3eb514480330133e0b915f1$</string>
            <key>textureFileName</key>
            <string>tianfu_jizhonghuoli.pvr.ccz</string>
        </dict>
    </dict>
</plist>
