<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>51_dianjiangsongsuipan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>51_leichongsongsunce.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>item_jiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_51.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1b7e87bb55eab58ede5ce6077e8f2f8:9d1a93854fa46174fef460c9fd5a3f2d:228c7a72bd65b8c319aed8fd54ea2b75$</string>
            <key>textureFileName</key>
            <string>activity_51.png</string>
        </dict>
    </dict>
</plist>
