<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_bugeitangguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_chengzhangjihua1zhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_denglusongli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_herojianban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_jierizhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_jishishuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_kaoshangsanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_qcardjizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_songzhangfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_show.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5861108ef9714982277254cf36b49247:370a41cf568454c0c9bfa8647aeb7d19:5976f8b28a0e065ed78a38ee5103be52$</string>
            <key>textureFileName</key>
            <string>activity_show.png</string>
        </dict>
    </dict>
</plist>
