<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>513_leichongzhouyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>513_leixiaohuanggai.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_513.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98e6c3769bf8f527f0706aadd1cf48ac:f2d61309db689b866e80d2c56f010bc4:78514d1043cf4ff24c6898dc7d159280$</string>
            <key>textureFileName</key>
            <string>activity_513.png</string>
        </dict>
    </dict>
</plist>
