<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
            <key>activity_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{548,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,150}}</string>
                <key>sourceSize</key>
                <string>{548,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>january1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faaaeca3086b50d512f97fc0eeae7b1c:4e0dab0ac106b5867c234e95ac510362:217cdd62b8b494918c3a02005849198b$</string>
            <key>textureFileName</key>
            <string>january1.png</string>
        </dict>
    </dict>
</plist>
