<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commanderdeath01_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{492,506}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,506}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath01_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{460,512}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath01_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,512}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath01_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,496},{424,458}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,21},{424,458}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath01_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,922},{398,406}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,54},{398,406}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath01_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{322,324}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,94},{322,324}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath01_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{326,324}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,92},{326,324}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commanderdeath.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:795bac271a0123f1a5efcc51d2e78c7c:c15922da49daf06fd73b4b35a264f07c:4f256f6d5a65da9f4236024f2a877637$</string>
            <key>textureFileName</key>
            <string>commanderdeath.pvr.ccz</string>
        </dict>
    </dict>
</plist>
