<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FX_SaoGuan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,120},{20,36}}</string>
                <key>offset</key>
                <string>{-112,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,97},{20,36}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,244},{56,66}}</string>
                <key>offset</key>
                <string>{-105,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,68},{56,66}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,114},{86,72}}</string>
                <key>offset</key>
                <string>{-96,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,62},{86,72}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{110,72}}</string>
                <key>offset</key>
                <string>{-84,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,62},{110,72}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{134,100}}</string>
                <key>offset</key>
                <string>{-72,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{134,100}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,202},{158,104}}</string>
                <key>offset</key>
                <string>{-60,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,30},{158,104}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{162,116}}</string>
                <key>offset</key>
                <string>{-37,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{162,116}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,116}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,17},{218,116}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{204,118}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,15},{204,118}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{194,120}}</string>
                <key>offset</key>
                <string>{31,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,13},{194,120}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,122},{182,120}}</string>
                <key>offset</key>
                <string>{38,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,13},{182,120}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,244},{152,120}}</string>
                <key>offset</key>
                <string>{53,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,13},{152,120}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,362},{142,120}}</string>
                <key>offset</key>
                <string>{49,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,13},{142,120}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,366},{142,120}}</string>
                <key>offset</key>
                <string>{49,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,13},{142,120}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{142,122}}</string>
                <key>offset</key>
                <string>{48,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,11},{142,122}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,302},{116,62}}</string>
                <key>offset</key>
                <string>{61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,49},{116,62}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,420},{58,58}}</string>
                <key>offset</key>
                <string>{33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,50},{58,58}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
            <key>FX_SaoGuan_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{1,1}}</string>
                <key>offset</key>
                <string>{-145.5,76.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{292,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qk_yuanbaoguang.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d585519ac330ce2a352d8a9ca1f01f5:973b2b224b596d6b55a51cecefcccf31:0cb0134deb64d6c70afc1520357f6cb5$</string>
            <key>textureFileName</key>
            <string>qk_yuanbaoguang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
