<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaobing_leftup_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{24,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,36},{24,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{26,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,36},{24,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,36},{22,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{22,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,36},{24,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{26,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{26,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{26,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{26,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,36},{24,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{24,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>xiaobing_leftup_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,36},{24,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{24,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaobing_leftup.pvr.ccz</string>
            <key>size</key>
            <string>{244,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50ce277e975d822985873f6a8f6b800a:757ee0c45afd7c36692cd22cfe6a8893:d7f2f44ae73585b9b6ccd58d0fc0f415$</string>
            <key>textureFileName</key>
            <string>xiaobing_leftup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
