<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{50,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{50,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bow_c_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,260},{114,88}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,72},{114,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>bow_c_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,376},{114,102}}</string>
                <key>offset</key>
                <string>{70,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,84},{114,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>crack_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{126,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hit_c_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{158,186}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,35},{158,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_c_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,176}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,36},{172,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuimingjian.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29ae78af7795c90819ca1d09fea8aaf5:1/1$</string>
            <key>textureFileName</key>
            <string>zhuimingjian.png</string>
        </dict>
    </dict>
</plist>
