<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,488},{95,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{95,92}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>blue_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{3,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,352}}</string>
                <key>sourceSize</key>
                <string>{3,352}</string>
            </dict>
            <key>blue_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{493,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,43}}</string>
                <key>sourceSize</key>
                <string>{493,43}</string>
            </dict>
            <key>blue_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{586,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,1}}</string>
                <key>sourceSize</key>
                <string>{586,1}</string>
            </dict>
            <key>bn_cancel0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,150},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_cancel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,290},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_delete0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,158},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_delete1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,169},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_geren0.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,228},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_geren1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,228},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_huifu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,169},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_huifu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_huifu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,169},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_quick_delete0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_quick_delete1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_quick_delete2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,47},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_quick_fetch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,47},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_quick_fetch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,356},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_quick_fetch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,590},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_send0.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,877},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_send1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,745},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_send2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,356},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_wirte0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>bn_wirte1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{86,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>bn_xitong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,168},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_xitong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,108},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>fujianneirong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{159,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,45}}</string>
                <key>sourceSize</key>
                <string>{159,45}</string>
            </dict>
            <key>lingqu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,590},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>lingqu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>lingqu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mail-image-faxinren.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,81},{83,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,32}}</string>
                <key>sourceSize</key>
                <string>{83,32}</string>
            </dict>
            <key>mail-image-haoyouliebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,356},{152,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,46}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>mail-image-haoyouliebiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{152,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,46}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>mail-image-latiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{58,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,51}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>mail-image-shouxinren.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,47},{83,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,32}}</string>
                <key>sourceSize</key>
                <string>{83,32}</string>
            </dict>
            <key>mail-image-zhuti.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,108},{81,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,32}}</string>
                <key>sourceSize</key>
                <string>{81,32}</string>
            </dict>
            <key>mail-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,301},{91,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,43}}</string>
                <key>sourceSize</key>
                <string>{91,43}</string>
            </dict>
            <key>mail_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,108},{40,40}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>mail_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,301},{40,40}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{40,40}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>mail_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{1,1}}</string>
                <key>offset</key>
                <string>{-75.5,22.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>mail_inputBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,510},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>mail_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,722},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>tip_unread.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,488},{20,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,20}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>xiexin.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,115},{90,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,41}}</string>
                <key>sourceSize</key>
                <string>{90,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mail.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ae4dcf4576e563e41df2f0da52bfb06$</string>
            <key>textureFileName</key>
            <string>mail.png</string>
        </dict>
    </dict>
</plist>
