<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0VIP.bmp</key>
            <dict>
                <key>frame</key>
                <string>{{571,307},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bangdin-sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>circleOffriends.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,246},{96,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,124}</string>
            </dict>
            <key>equipment_zsh_zsh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,134},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>horizontal _line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{597,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,1}}</string>
                <key>sourceSize</key>
                <string>{597,1}</string>
            </dict>
            <key>hui-tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,215},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>kaiqi-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,215},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>kaiqi-sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>login-image-kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,479},{59,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,24},{59,40}}</string>
                <key>sourceSize</key>
                <string>{205,90}</string>
            </dict>
            <key>login-image-mima.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,234},{55,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,26}}</string>
                <key>sourceSize</key>
                <string>{55,26}</string>
            </dict>
            <key>login-zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,177},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,27}</string>
            </dict>
            <key>mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{556,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,52}}</string>
                <key>sourceSize</key>
                <string>{556,52}</string>
            </dict>
            <key>playstates-image-qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,5},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>regist_btn_guanbi_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,276},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_guanbi_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,389},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>sel-tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,337},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>share_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,59},{238,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,222}}</string>
                <key>sourceSize</key>
                <string>{238,222}</string>
            </dict>
            <key>share_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{139,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{139,44}}</string>
                <key>sourceSize</key>
                <string>{145,50}</string>
            </dict>
            <key>share_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{351,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,120}}</string>
                <key>sourceSize</key>
                <string>{351,120}</string>
            </dict>
            <key>share_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,124},{351,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,120}}</string>
                <key>sourceSize</key>
                <string>{351,120}</string>
            </dict>
            <key>system-button-bangding-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,134},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-bangding-sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-bangding.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-chakan_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,246},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-chakan_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,246},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,360},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>system-button-guanbi-sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,276},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,266},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-nor-fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,360},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>system-button-nor-gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,307},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>system-button-nor-kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,367},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>system-button-nor-shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,420},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>system-button-queding -sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,299},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-queding-sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,299},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,347},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-button-sel-gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,520},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>system-button-sel-kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>system-button-sel-shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,367},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>system-duihuan-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,398},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-duihuan-sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,459},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>system-image-auto-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,169},{145,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,44}}</string>
                <key>sourceSize</key>
                <string>{145,44}</string>
            </dict>
            <key>system-image-gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,416},{85,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,43}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>system-image-kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,370},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>system-image-paibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,299},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
            <key>system-image-user1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,169},{145,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,44}}</string>
                <key>sourceSize</key>
                <string>{145,44}</string>
            </dict>
            <key>system-image-user2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,169},{145,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,44}}</string>
                <key>sourceSize</key>
                <string>{145,44}</string>
            </dict>
            <key>system-image-yinxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,343},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,44}}</string>
                <key>sourceSize</key>
                <string>{86,44}</string>
            </dict>
            <key>system-image-yinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,398},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>system-image-zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,370},{85,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,44}}</string>
                <key>sourceSize</key>
                <string>{85,48}</string>
            </dict>
            <key>system-libaoduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{167,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,43}}</string>
                <key>sourceSize</key>
                <string>{167,43}</string>
            </dict>
            <key>system-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,44},{131,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,35}}</string>
                <key>sourceSize</key>
                <string>{131,35}</string>
            </dict>
            <key>tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>wechar_share_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{332,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,108}}</string>
                <key>sourceSize</key>
                <string>{336,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settings0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74b777395283a72807ae54a1e10bcc69:1/1$</string>
            <key>textureFileName</key>
            <string>settings0.png</string>
        </dict>
    </dict>
</plist>
