<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengli_animation-b2bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{219,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,188}}</string>
                <key>sourceSize</key>
                <string>{219,188}</string>
            </dict>
            <key>shengli_animation-bdgf.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,845},{183,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,177}}</string>
                <key>sourceSize</key>
                <string>{183,177}</string>
            </dict>
            <key>shengli_animation-dbgfdb 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,634},{209,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,175}}</string>
                <key>sourceSize</key>
                <string>{209,175}</string>
            </dict>
            <key>shengli_animation-dgbf 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,829},{192,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,188}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>shengli_animation-fgb.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,634},{187,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,184}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>shengli_animation-gf.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,634},{193,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,171}}</string>
                <key>sourceSize</key>
                <string>{193,171}</string>
            </dict>
            <key>shengli_animation-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{598,630}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,38},{598,630}}</string>
                <key>sourceSize</key>
                <string>{770,770}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheng_donghua1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1560b34e48232bdbf023da800a60127b:2/2$</string>
            <key>textureFileName</key>
            <string>sheng_donghua1.png</string>
        </dict>
    </dict>
</plist>
