<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wengujunxin_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,154},{26,28}}</string>
                <key>offset</key>
                <string>{-39,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,134},{26,28}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,398},{42,40}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,140},{42,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,436},{68,50}}</string>
                <key>offset</key>
                <string>{-15,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,142},{68,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,296},{100,48}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,144},{100,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,506},{116,80}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,112},{116,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,436},{112,118}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,72},{112,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{108,140}}</string>
                <key>offset</key>
                <string>{15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,52},{108,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,306},{132,140}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,52},{132,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,174}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{174,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{160,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{150,152}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,51},{150,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,154},{140,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,56},{140,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,296},{138,140}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,55},{138,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{138,138}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,56},{138,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{140,138}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,56},{140,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wengujunxin_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,164},{140,140}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,55},{140,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wengujunxin.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36e3ff91368ceb32f26246b81b02ec8f:7b819b131c1c5d32a0c669be2e549dfa:08bfdb2a26be986990faadac4161826d$</string>
            <key>textureFileName</key>
            <string>wengujunxin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
