<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taipingyaoshu_dst_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,354},{136,62}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,80},{136,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,190},{158,138}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{158,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,818},{148,142}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,52},{148,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,330},{162,148}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{162,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,660},{152,156}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{152,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,496},{162,164}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,38},{162,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,496},{172,176}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,30},{172,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{148,186}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,24},{148,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{124,196}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,18},{124,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,138},{122,206}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,13},{122,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{126,216}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,8},{126,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,138},{130,226}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,3},{130,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{134,234}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{134,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{142,240}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{142,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,866},{156,196}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,0},{156,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,128},{164,200}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{164,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,672},{176,202}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{176,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{186,202}}</string>
                <key>offset</key>
                <string>{-10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{186,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,568},{194,204}}</string>
                <key>offset</key>
                <string>{-13,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{194,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{198,204}}</string>
                <key>offset</key>
                <string>{-14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{198,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,468},{202,204}}</string>
                <key>offset</key>
                <string>{-16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{202,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,206}}</string>
                <key>offset</key>
                <string>{-17,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{204,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,366},{200,206}}</string>
                <key>offset</key>
                <string>{-14,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{200,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,262},{204,204}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,672},{192,204}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{192,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,774},{162,204}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{162,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,850},{162,202}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,0},{162,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>taipingyaoshu_dst_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,330},{164,198}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{164,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taipingyaoshu_dst.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9051af0fa55a1a7ed74b2d1b9452572:1/1$</string>
            <key>textureFileName</key>
            <string>taipingyaoshu_dst.pvr.ccz</string>
        </dict>
    </dict>
</plist>
