<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huodong_cailiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,208},{84,78}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,39},{84,78}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>huodong_qun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{98,98}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{98,98}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>huodong_shu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{96,98}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{96,98}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>huodong_wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{66,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{66,82}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>huodong_wei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,294},{98,98}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{98,98}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>huodong_word_chuanqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,50}}</string>
                <key>sourceSize</key>
                <string>{182,54}</string>
            </dict>
            <key>huodong_word_chuanqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{178,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,50}}</string>
                <key>sourceSize</key>
                <string>{182,54}</string>
            </dict>
            <key>huodong_word_chuanqi_shilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{176,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{176,50}}</string>
                <key>sourceSize</key>
                <string>{182,54}</string>
            </dict>
            <key>huodong_word_chuanqi_zhaobing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{176,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{176,48}}</string>
                <key>sourceSize</key>
                <string>{182,54}</string>
            </dict>
            <key>huodong_word_chuanqi_zhaocai.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,86},{178,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,50}}</string>
                <key>sourceSize</key>
                <string>{182,54}</string>
            </dict>
            <key>huodong_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{98,98}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{98,98}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>huodong_zhaobing.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,408},{76,82}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{76,82}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>huodong_zhaocai.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,394},{74,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,38},{74,76}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_icon.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a75cb60b86b70c2743e849cb85a46b9:8ef03fbf6d5dafd64a4d7063ddcd16f3:c07127a4b61f14e1dd8d08049036037a$</string>
            <key>textureFileName</key>
            <string>huodong_icon.png</string>
        </dict>
    </dict>
</plist>
