<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_1_dongchao.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,270},{132,128}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{132,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_1_liucheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,864},{96,108}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,30},{96,108}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_1_sunlin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{106,122}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{106,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_liulue.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,740},{86,122}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,16},{86,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_liyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,528},{106,118}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,20},{106,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_luji.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,930},{92,112}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,26},{92,112}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_puyangxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,400},{84,126}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{84,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_yongkai.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,920},{98,110}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,28},{98,110}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_dingfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,630},{112,116}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{112,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_jiahua.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,722},{120,108}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{120,108}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_lukai.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,744},{110,108}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{110,108}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_luotong.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,940},{80,110}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,28},{80,110}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_lushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,636},{104,116}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{104,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_lvdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{118,116}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{118,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_lvfan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{138,114}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{138,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_quanzong.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,516},{114,116}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,22},{114,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_shenheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,720},{102,114}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,24},{102,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_sunjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{116,116}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{116,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_wuyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,840},{100,110}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{100,110}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_xuezong.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,854},{94,124}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{94,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_yanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,606},{114,120}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,18},{114,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhangti.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,832},{106,110}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,28},{106,110}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhonglimu.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,740},{110,104}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{110,104}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhoufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,862},{100,110}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,28},{100,110}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,740},{100,120}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{100,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhuran.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,632},{106,110}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,28},{106,110}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,258},{120,132}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{120,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_chengpu.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,372},{138,120}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,18},{138,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_daqiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,492},{112,124}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,14},{112,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_dingfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{160,122}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{160,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_dongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,138}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_guyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,396},{136,120}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{136,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_handang.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,490},{102,138}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_jiangqin.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,380},{134,108}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{134,108}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_jueze.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,824},{94,120}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{94,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_lingcao.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,140},{128,138}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_lingtong.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,126},{146,122}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{146,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_lukang.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,632},{106,114}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{106,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_mazhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,518},{112,120}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,18},{112,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_nufan.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,612},{106,118}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,20},{106,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_panzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{136,120}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{136,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_sunhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{114,128}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,10},{114,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_sunshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,142},{136,120}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{136,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_xiaoqiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,742},{96,120}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,18},{96,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_xusheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,126},{130,138}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{130,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zhanghong.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,846},{90,122}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{90,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zhangshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,808},{102,120}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{102,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zhugejin.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,400},{114,126}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,12},{114,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zhugeke.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,256},{150,114}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{150,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zhuhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,250},{136,128}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{136,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,494},{116,120}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{116,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_ganning.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,404},{114,130}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{114,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_huanggai.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{172,122}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{172,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_lusu.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,380},{110,136}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{110,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_luxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{154,138}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_lvmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,138},{156,116}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{156,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_sunce.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{134,136}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,1},{134,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_sunjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,536},{100,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{100,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_sunquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{122,128}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{122,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_sunshangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,676},{102,130}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{102,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_taishici.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{142,136}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_zhoutai.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,256},{106,138}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{106,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_zhouyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,264},{114,138}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{114,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_wu0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32371ed17d5726c1006d4a743ca3dc83:be2bfef7cfb5b2dc4e1a5f4a4923c51d:0137ef99cf9e1f1654ed89062950db79$</string>
            <key>textureFileName</key>
            <string>battle_wu0.png</string>
        </dict>
    </dict>
</plist>
