<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_1_lvxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,508},{118,134}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,3},{118,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_1_xiahoushang.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,508},{102,128}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{102,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_1_xizhicai.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,386},{108,120}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{108,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_caiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,260},{120,124}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{120,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_guoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,752},{94,114}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,23},{94,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_jianggan.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,638},{114,116}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{114,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_lvkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,400},{106,130}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,7},{106,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_simalang.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,380},{108,126}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{108,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_xinxianying.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,270},{120,128}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{120,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_bianxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,260},{136,124}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{136,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_caochong.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,140},{114,118}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{114,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_caochun.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,124},{128,130}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,7},{128,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_caorui.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,638},{92,124}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,13},{92,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_caoxiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,376},{118,118}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{118,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_caozhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,386},{136,120}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{136,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_chenqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,752},{90,114}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{90,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_chentai.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,380},{102,126}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,11},{102,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_haozhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,782},{104,124}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{104,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_huaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,508},{92,128}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,9},{92,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_jiangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{154,116}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{154,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_liangxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,376},{108,128}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{108,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_liuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,508},{96,126}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,11},{96,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_lougui.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,508},{124,116}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{124,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_maojie.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,636},{94,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,5},{94,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_niujin.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,756},{98,114}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,23},{98,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_tianyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,644},{126,136}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,1},{126,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_wanglang.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,922},{100,120}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,17},{100,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_wenping.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,888},{98,114}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,23},{98,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_xinpi.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,496},{96,130}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,7},{96,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_xiuyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,868},{88,120}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{88,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_yangxiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,784},{136,122}}</string>
                <key>offset</key>
                <string>{-19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{136,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zangba.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,612},{108,122}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{108,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhugedan.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,246},{84,114}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{84,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_caohong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{136,130}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{136,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_caopi.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,486},{108,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{108,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_caoren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{134,138}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_caozhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,736},{110,120}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{110,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_caozhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,848},{124,112}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{124,112}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_chengyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,856},{102,120}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{102,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_dengai.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,248},{112,130}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{112,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_guohuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,908},{114,118}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,20},{114,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_lejin.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,644},{130,132}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{130,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_lidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,134},{134,118}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,20},{134,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_manchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{166,130}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{166,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_pangde.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{170,120}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{170,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_simashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,886},{94,114}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{94,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_simazhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,764},{90,120}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{90,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_wangshuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,126}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{178,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_wenqin.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,770},{96,116}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{96,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_wenyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,254},{120,124}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,14},{120,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_xunyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,128},{86,116}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{86,116}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_xushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,628},{90,122}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,16},{90,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_xuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{146,120}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{146,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_yujin.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,626},{124,114}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{124,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zhanghe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{178,124}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{178,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_caocao.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,120},{114,126}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{114,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_dianwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,128},{124,128}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{124,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_guojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{100,128}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,10},{100,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_jiaxu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{138,138}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_simayi.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{166,136}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{166,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_xiahoudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,254},{134,118}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{134,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_xiahouyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,508},{130,134}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{130,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_xuchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{174,124}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{174,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_xunyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,858},{104,118}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{104,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_zhangliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{138,124}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{138,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_zhenji.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,140},{118,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{118,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_wei0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5544c4f8ca0f8ad50fa3f6a0b696fc18:c90406132293e6d8126ba56c112127a4:aab149196812f40ff2f845a3b89f1ce0$</string>
            <key>textureFileName</key>
            <string>battle_wei0.png</string>
        </dict>
    </dict>
</plist>
