<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_1_peiyuanshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,592},{118,112}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{118,112}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_1_yangfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,246},{102,136}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{102,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_1_yongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,578},{128,126}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{128,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_baoxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{122,138}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{122,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_guanhai.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,618},{126,112}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{126,112}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_hucheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,246},{128,132}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{128,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_leibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,706},{116,132}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{116,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_caimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{138,124}}</string>
                <key>offset</key>
                <string>{14,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{138,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_chendeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,812},{98,128}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,9},{98,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_chunyuqiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,120},{124,134}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{124,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_fanchou.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{134,126}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{134,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_fengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,352},{96,134}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{96,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_gaogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,446},{134,126}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{134,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_guotu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{122,136}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,2},{122,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_heyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{120,136}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,1},{120,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_huzhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,926},{96,124}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,13},{96,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_lijue.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,482},{96,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{96,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_liubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,800},{96,130}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,8},{96,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_panfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,246},{104,136}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,1},{104,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_taoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,898},{100,124}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{100,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_wangxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,130},{114,136}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,1},{114,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_xinping.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,702},{96,126}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{96,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_xvrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{124,138}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{124,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_yanbaihu.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,352},{108,134}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{108,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_yanxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{112,138}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{112,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_yuantan.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,246},{102,138}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_yuanxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,732},{94,126}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,11},{94,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhanglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,482},{108,130}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{108,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhangmiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,828},{96,132}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,5},{96,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhangyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,462},{116,128}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{116,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_zhangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,812},{112,126}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{112,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_chenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,376},{104,134}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,3},{104,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_duosidawang.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{116,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{116,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_gaolan.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,116},{134,128}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{134,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_gaoshun.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,574},{114,134}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,3},{114,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_gongsunzan.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,690},{128,130}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,7},{128,130}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_guosi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,138}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{148,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_huangfugao.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,376},{104,124}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{104,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_huangjinzhangbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,708},{102,128}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{102,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_jiling.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{136,126}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{136,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_jushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,616},{96,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,15},{96,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_liuyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,448},{128,128}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{128,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_luzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,822},{126,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{126,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_mateng.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,706},{118,108}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{118,108}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_shenpei.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,482},{106,134}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,4},{106,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_simahui.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,246},{104,136}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{104,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_tianfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{132,138}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{132,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_wangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,912},{110,118}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{110,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_yuanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,350},{94,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{94,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zhangliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{148,124}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{148,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zhangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,110},{136,134}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{136,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_zhangxiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,714},{96,122}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,16},{96,122}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_diaochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,898},{120,124}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,13},{120,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_dongzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,592},{128,114}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{128,114}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_huatuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,450},{126,124}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{126,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_huaxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,130},{112,138}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{112,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_lvbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,244},{134,128}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{134,128}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_nanhualaoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,350},{96,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{96,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_wenchou.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,824},{124,132}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{124,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_yanliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,124},{120,136}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{120,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_yuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{166,106}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{166,106}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_zuoci.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,576},{126,124}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{126,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_qun0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea7fd092f7d6370134eb147daf062385:b6aab6cdd3098e52cae7e8f727266c2a:0e7a580eca4250deb153f7c9c37458df$</string>
            <key>textureFileName</key>
            <string>battle_qun0.png</string>
        </dict>
    </dict>
</plist>
