<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_2_zhangmancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,208},{94,120}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{94,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_2_zhangqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,304},{94,120}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,17},{94,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_3_yuanshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{94,124}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,13},{94,124}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_chengong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{94,126}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,11},{94,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_hansui.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,98},{108,120}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,17},{108,120}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_4_liru.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{112,126}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{112,126}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_yuanshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,118}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{126,118}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>battle_5_zhangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{104,112}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,25},{104,112}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_qun1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea7fd092f7d6370134eb147daf062385:b6aab6cdd3098e52cae7e8f727266c2a:0e7a580eca4250deb153f7c9c37458df$</string>
            <key>textureFileName</key>
            <string>battle_qun1.png</string>
        </dict>
    </dict>
</plist>
