<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NSys_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,239},{216,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,251}}</string>
                <key>sourceSize</key>
                <string>{216,251}</string>
            </dict>
            <key>NSys_jiange.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,442},{232,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,230}}</string>
                <key>sourceSize</key>
                <string>{232,230}</string>
            </dict>
            <key>NSys_jianghun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{243,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,259}}</string>
                <key>sourceSize</key>
                <string>{243,259}</string>
            </dict>
            <key>NSys_jingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,457},{238,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,189}}</string>
                <key>sourceSize</key>
                <string>{238,189}</string>
            </dict>
            <key>NSys_jinjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,790},{219,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,224}}</string>
                <key>sourceSize</key>
                <string>{219,224}</string>
            </dict>
            <key>NSys_jubaopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,838},{160,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,153}}</string>
                <key>sourceSize</key>
                <string>{160,153}</string>
            </dict>
            <key>NSys_junzhengfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,187},{259,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,249}}</string>
                <key>sourceSize</key>
                <string>{259,249}</string>
            </dict>
            <key>NSys_juxianzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{207,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,219}}</string>
                <key>sourceSize</key>
                <string>{207,219}</string>
            </dict>
            <key>NSys_kuangchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,237}}</string>
                <key>sourceSize</key>
                <string>{270,237}</string>
            </dict>
            <key>NSys_meishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,626},{162,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,230}}</string>
                <key>sourceSize</key>
                <string>{162,230}</string>
            </dict>
            <key>NSys_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{219,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,225}}</string>
                <key>sourceSize</key>
                <string>{219,225}</string>
            </dict>
            <key>NSys_richangrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,838},{162,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,132}}</string>
                <key>sourceSize</key>
                <string>{162,132}</string>
            </dict>
            <key>NSys_road3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{186,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,246}}</string>
                <key>sourceSize</key>
                <string>{186,246}</string>
            </dict>
            <key>NSys_road4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,438},{186,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,248}}</string>
                <key>sourceSize</key>
                <string>{186,248}</string>
            </dict>
            <key>NSys_shengjijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,674},{158,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,153}}</string>
                <key>sourceSize</key>
                <string>{158,153}</string>
            </dict>
            <key>NSys_xilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,790},{219,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,223}}</string>
                <key>sourceSize</key>
                <string>{219,223}</string>
            </dict>
            <key>NSys_yincang.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,223},{197,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,217}}</string>
                <key>sourceSize</key>
                <string>{197,217}</string>
            </dict>
            <key>NSys_zhanyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,674},{162,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{162,158}</string>
            </dict>
            <key>NSys_zhengzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,648},{140,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,162}}</string>
                <key>sourceSize</key>
                <string>{140,162}</string>
            </dict>
            <key>NSys_zhuansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{183,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,265}}</string>
                <key>sourceSize</key>
                <string>{183,265}</string>
            </dict>
            <key>NSys_zuheji.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{264,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,235}}</string>
                <key>sourceSize</key>
                <string>{264,235}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newsysopen.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f6454b7c0dfcc60d238ae87876d2dbd:1/1$</string>
            <key>textureFileName</key>
            <string>newsysopen.png</string>
        </dict>
    </dict>
</plist>
