<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_3_sundeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_sunjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_wucan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_wuyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_xuezong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_yanjun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_zhangti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_zhangwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_zhonglimu.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_zhoufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_zhuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_zhuran.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_3_zhuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_chengpu.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_daqiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_dingfeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_dongxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_guyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_handang.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_jiangqin.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_jueze.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_lingcao.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_lingtong.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_lukang.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,138},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_mazhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_nufan.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_panzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_sunhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_sunshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_xiaoqiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_xusheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_zhanghong.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_zhangshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,274},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_zhugejin.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_zhugeke.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_zhuhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_4_zumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_ganning.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_huanggai.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_lusu.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,410},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_luxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_lvmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_sunce.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_sunjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_sunquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,546},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_sunshangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_taishici.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_zhoutai.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,682},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>head_5_zhouyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,818},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head_wu0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d5eac103fd7e08510c9e764ce072325:53afd2660b20bf6ae1701a8947010cca:1eed828ac5d365f50f1f0140a587761c$</string>
            <key>textureFileName</key>
            <string>head_wu0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
