<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon-1-buyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,93},{75,69}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{75,69}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-2-qingtonghuwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,265},{63,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{63,55}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-3-fengchijinling.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,93},{59,81}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{59,81}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-3-huwenpifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,366},{89,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-babaozijinkui.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,93},{83,83}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-baizhanlongweijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,180},{83,83}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{83,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-chijinliangyinjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,93},{85,79}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{85,79}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-dijunhuwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,184},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-guiwenhuxinjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,366},{89,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{89,85}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-nanmanhuwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,164},{71,71}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{71,71}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-qingfengjinsipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,275},{87,89}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-qingzhiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,154},{73,63}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{73,63}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-touyagushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{63,47}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{63,47}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-wujibaizhenpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,275},{87,83}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{87,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-yinsuolianhuanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,180},{85,77}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{85,77}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-4-yinyesuozijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,219},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{69,71}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-aolonghuangjinkai.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,93},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-liangyinzaojinkui.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-longgusuozijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-qinglonggutiewan.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-shenyupifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-taixuanxingguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-tiangangkui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-tiangongfaguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-wujinguimianjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>icon-5-wuxiaotiewan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armor_icon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cc18da9fa5eb4bd0e631ee0137b6554:1/1$</string>
            <key>textureFileName</key>
            <string>armor_icon.png</string>
        </dict>
    </dict>
</plist>
