<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_place_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,80},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>battle_player_place.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,192},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>battle_player_place_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{127,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{127,125}}</string>
                <key>sourceSize</key>
                <string>{133,131}</string>
            </dict>
            <key>battle_player_place_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{127,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{127,125}}</string>
                <key>sourceSize</key>
                <string>{133,131}</string>
            </dict>
            <key>battle_skill_place.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,148}}</string>
                <key>sourceSize</key>
                <string>{42,148}</string>
            </dict>
            <key>battle_topbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,299},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>battle_word_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,299},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>battle_word_immune.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,338},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>battle_word_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{79,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,38}}</string>
                <key>sourceSize</key>
                <string>{79,38}</string>
            </dict>
            <key>battle_word_morale.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,300},{53,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,38}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>battle_word_morale_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,339},{53,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,38}}</string>
                <key>sourceSize</key>
                <string>{53,42}</string>
            </dict>
            <key>battle_word_reduction.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>battle_word_reflection.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,339},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>battle_word_resist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>battle_word_thorns.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,355},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>battle_word_uptake.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,394},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>buff_atk_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,476},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>buff_blk_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,476},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>buff_cri_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,437},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>buff_hit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,470},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>buff_miss_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,437},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>debuff_atk_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,378},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>debuff_blk_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,409},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>debuff_cri_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,378},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>debuff_hit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,420},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>debuff_miss_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,470},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>multi_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,38},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,40}}</string>
                <key>sourceSize</key>
                <string>{81,40}</string>
            </dict>
            <key>total_damage.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{99,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,34}}</string>
                <key>sourceSize</key>
                <string>{99,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_words.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1f3fce4aff13b80d37a806f37ebdec6:3ced8fe0491dc16f32b7f50bd326da7d:3296f298176b4dbae3be742190ab6f80$</string>
            <key>textureFileName</key>
            <string>battle_words.png</string>
        </dict>
    </dict>
</plist>
