<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_formation_add_equipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,951},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>card_formation_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,134},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>card_formation_arrow_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,548},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>card_formation_beidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,951},{69,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,25}}</string>
                <key>sourceSize</key>
                <string>{69,25}</string>
            </dict>
            <key>card_formation_btn_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,546},{34,34}}</string>
                <key>offset</key>
                <string>{173,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,13},{34,34}}</string>
                <key>sourceSize</key>
                <string>{400,60}</string>
            </dict>
            <key>card_formation_btn_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,573},{32,32}}</string>
                <key>offset</key>
                <string>{173,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,15},{32,32}}</string>
                <key>sourceSize</key>
                <string>{400,60}</string>
            </dict>
            <key>card_formation_card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,379}}</string>
                <key>sourceSize</key>
                <string>{588,379}</string>
            </dict>
            <key>card_formation_card_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,506},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>card_formation_equipment_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,72},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>card_formation_equipment_null_accessory.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>card_formation_equipment_null_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,951},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>card_formation_equipment_null_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,176},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>card_formation_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{566,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,80}}</string>
                <key>sourceSize</key>
                <string>{566,80}</string>
            </dict>
            <key>card_formation_gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,612},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>card_formation_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,6},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>card_formation_level_up_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,383},{146,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,41}}</string>
                <key>sourceSize</key>
                <string>{146,41}</string>
            </dict>
            <key>card_formation_levelup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,81},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>card_formation_levelup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,168},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>card_formation_levelup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,486},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>card_formation_levelup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,255},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>card_formation_levelup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,424},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>card_formation_levelup5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,394},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>card_formation_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,383},{530,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,1}}</string>
                <key>sourceSize</key>
                <string>{530,1}</string>
            </dict>
            <key>card_formation_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,440},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>card_formation_mat.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,111},{247,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,21}}</string>
                <key>sourceSize</key>
                <string>{247,21}</string>
            </dict>
            <key>card_formation_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,546},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>card_formation_quality_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,134},{50,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,227}}</string>
                <key>sourceSize</key>
                <string>{50,227}</string>
            </dict>
            <key>card_formation_quality_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,186},{50,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,227}}</string>
                <key>sourceSize</key>
                <string>{50,227}</string>
            </dict>
            <key>card_formation_quality_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,238},{50,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,227}}</string>
                <key>sourceSize</key>
                <string>{50,227}</string>
            </dict>
            <key>card_formation_quality_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,290},{50,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,227}}</string>
                <key>sourceSize</key>
                <string>{50,227}</string>
            </dict>
            <key>card_formation_quality_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,342},{50,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,227}}</string>
                <key>sourceSize</key>
                <string>{50,227}</string>
            </dict>
            <key>card_formation_qualityup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,440},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>card_formation_qualityup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,498},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>card_formation_qualityup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,556},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>card_formation_skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,558},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>card_formation_skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,558},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>card_formation_skill3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,573},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>card_formation_skillup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,511},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>card_formation_skillup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,553},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>card_formation_skillup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,569},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>card_formation_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,571},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>card_formation_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,546},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>card_formation_starlevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,39},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>card_formation_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,465},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>card_formation_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,511},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>card_formation_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,514},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>card_formation_xp.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,546},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>card_formation_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,394},{54,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{54,39}}</string>
                <key>sourceSize</key>
                <string>{60,43}</string>
            </dict>
            <key>card_formation_zhanli_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,383},{193,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,39}}</string>
                <key>sourceSize</key>
                <string>{193,39}</string>
            </dict>
            <key>card_formation_zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,563},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>card_formation_zhuangbeiqianghua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,226},{105,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>card_formation_zhuangbeiqianghua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,383},{105,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>combine_zuheji.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,53},{312,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,26}}</string>
                <key>sourceSize</key>
                <string>{312,26}</string>
            </dict>
            <key>combine_zuheji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,357},{110,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,41}}</string>
                <key>sourceSize</key>
                <string>{110,41}</string>
            </dict>
            <key>combine_zuheji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,627},{82,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,24}}</string>
                <key>sourceSize</key>
                <string>{82,24}</string>
            </dict>
            <key>combine_zuheji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,506},{82,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,24}}</string>
                <key>sourceSize</key>
                <string>{82,24}</string>
            </dict>
            <key>combine_zuheji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,532},{82,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,24}}</string>
                <key>sourceSize</key>
                <string>{82,24}</string>
            </dict>
            <key>exclusive_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,548},{23,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,44}}</string>
                <key>sourceSize</key>
                <string>{23,44}</string>
            </dict>
            <key>pg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,81},{251,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,14}}</string>
                <key>sourceSize</key>
                <string>{251,14}</string>
            </dict>
            <key>pg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,2},{251,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,12}}</string>
                <key>sourceSize</key>
                <string>{251,12}</string>
            </dict>
            <key>pg_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,97},{251,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,12}}</string>
                <key>sourceSize</key>
                <string>{251,12}</string>
            </dict>
            <key>shangzhen_attribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,459},{164,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,45}}</string>
                <key>sourceSize</key>
                <string>{164,45}</string>
            </dict>
            <key>shangzhen_attribute_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,915},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>shangzhen_attributebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,300},{113,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,55}}</string>
                <key>sourceSize</key>
                <string>{113,55}</string>
            </dict>
            <key>shangzhen_jian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,383},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>shangzhen_jian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,421},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>shangzhen_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{415,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,2}}</string>
                <key>sourceSize</key>
                <string>{415,2}</string>
            </dict>
            <key>shangzhen_qualityup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,468},{145,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,41}}</string>
                <key>sourceSize</key>
                <string>{145,41}</string>
            </dict>
            <key>shangzhen_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,435},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>shangzhen_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,400},{109,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,38}}</string>
                <key>sourceSize</key>
                <string>{109,38}</string>
            </dict>
            <key>shangzhen_skillup_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,426},{146,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,40}}</string>
                <key>sourceSize</key>
                <string>{146,40}</string>
            </dict>
            <key>shangzhen_surmount0.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,427},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>shangzhen_surmount1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,500},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>shangzhen_surmount2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,470},{170,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,74}}</string>
                <key>sourceSize</key>
                <string>{170,74}</string>
            </dict>
            <key>shangzhen_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,6},{322,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,45}}</string>
                <key>sourceSize</key>
                <string>{322,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_formation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d02320a623403666fc83e8e0cdc756fc:76b8a98a82cf082fdcd9997f3c1ddfc2:ed2cea67d2d137c45d5aa932693c82d2$</string>
            <key>textureFileName</key>
            <string>card_formation.png</string>
        </dict>
    </dict>
</plist>
