<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunpo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,202},{144,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,82},{144,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,350},{146,92}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,79},{146,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,202},{146,84}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,80},{146,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,104},{148,96}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,78},{148,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{148,102}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,76},{148,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,96},{150,104}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,75},{150,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{146,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,76},{146,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{146,102}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,79},{146,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{152,100}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,82},{152,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,94}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,86},{154,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,92}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,81},{154,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hunpo_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,348},{140,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,81},{140,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lianhunjingtai.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ddd7591f95bee4e0fe69d411ccd959:1c60fde5029e39ca3287e71761b4fa10:b0181061f4f741c05d276974a7932737$</string>
            <key>textureFileName</key>
            <string>lianhunjingtai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
