<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon_2_jiaogong.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,352},{276,449}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,72},{276,449}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_3_qixingbaodao.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,630},{282,385}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,99},{282,385}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_longhushuangkuangdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{314,493}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{314,493}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_sanhuanzanjinqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,525}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,31},{244,525}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_elaishuangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{348,449}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,62},{348,449}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_fengyushan.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,630},{310,385}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,115},{310,385}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_qinglongyanyuedao.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{316,523}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{316,523}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5489fe860ea5bc6e4169fd1129b5a97:1/1$</string>
            <key>textureFileName</key>
            <string>weapon3.png</string>
        </dict>
    </dict>
</plist>
