<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon_1_podao.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,576},{278,411}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,89},{278,411}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_madaibaodao.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{248,523}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,38},{248,523}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_nutaogun.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,576},{318,435}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,72},{318,435}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_qinggangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{306,503}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,36},{306,503}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_baihong.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,310},{264,503}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,53},{264,503}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_cixiongshuanggujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,523}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{264,523}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_yuchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{282,487}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{282,487}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f13b13edcf80f27d131d35318b6b045d:1/1$</string>
            <key>textureFileName</key>
            <string>weapon4.png</string>
        </dict>
    </dict>
</plist>
