<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon_4_bofengdahuandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{266,515}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{266,515}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_pojiaqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{260,513}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,33},{260,513}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_sanjianliangrenqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,515}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{284,515}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_tiejichanggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,519},{252,503}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,43},{252,503}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_yitianjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{256,503}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,41},{256,503}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_zhuqueyushan.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,519},{276,501}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,61},{276,501}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:353fd177c7563be751f1132175e3eeb9:1/1$</string>
            <key>textureFileName</key>
            <string>weapon8.png</string>
        </dict>
    </dict>
</plist>
