<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon_4_jinbichitongdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{272,507}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,41},{272,507}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_lihuopishuidao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,533}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,32},{274,533}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_qijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,276},{258,495}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,57},{258,495}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_jinshuihulu.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,276},{246,509}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,37},{246,509}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_lihuoshuangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,537},{298,483}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{298,483}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_lingyunbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{210,485}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,55},{210,485}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:683fe678652a4ca557f456f56e0fd688:1/1$</string>
            <key>textureFileName</key>
            <string>weapon2.png</string>
        </dict>
    </dict>
</plist>
