<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon_3_goulianqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,525},{294,475}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,61},{294,475}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_3_hongyingqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{266,483}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,45},{266,483}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_fenghongyushan.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,629},{286,419}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,88},{286,419}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_jifengzijinshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,354},{350,273}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,121},{350,273}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_4_youlonggong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,521}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{314,521}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_fengminghuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{350,363}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,96},{350,363}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>weapon_5_hubugong.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{334,519}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{334,519}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:147fc8c4eb72af6e23b08b29951e6892:1/1$</string>
            <key>textureFileName</key>
            <string>weapon5.png</string>
        </dict>
    </dict>
</plist>
