<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhushuaichuzhan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,758},{160,196}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{160,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,514},{240,244}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{240,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,256},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,512},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,258},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,512},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,766},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,768},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>zhushuaichuzhan_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,258},{254,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>open_zhushuaichuzhan.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8527df6704146d327765b0478897a222:441629b6d052cc1cf7e5265518b9962f:6ba40bd023b4cf766c71ea33863ad016$</string>
            <key>textureFileName</key>
            <string>open_zhushuaichuzhan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
