<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wujianbucui_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,222},{134,208}}</string>
                <key>offset</key>
                <string>{0,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,11},{134,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,750},{130,196}}</string>
                <key>offset</key>
                <string>{0,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,39},{130,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,730},{122,168}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,110},{122,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,224}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,119},{246,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{236,194}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,149},{236,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,358},{206,196}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,149},{206,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{240,220}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,127},{240,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{218,232}}</string>
                <key>offset</key>
                <string>{-11,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,116},{218,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,224},{210,180}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,169},{210,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,198},{220,180}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,169},{220,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{208,180}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,169},{208,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,550},{204,178}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,171},{204,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{204,178}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,171},{204,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,570},{204,174}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,173},{204,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,380},{206,168}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,175},{206,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,406},{206,162}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,177},{206,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{204,158}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,178},{204,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{198,152}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,183},{198,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,746},{192,148}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,186},{192,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wujianbucui_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,900},{110,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,189},{110,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wujianbucui.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:623ddbc38a03d468ef664bd7c8b599e0:1/1$</string>
            <key>textureFileName</key>
            <string>wujianbucui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
