<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_7day_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,292},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,292},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,619},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,736},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,853},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,907},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,907},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,619},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,736},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,501},{115,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,52}}</string>
                <key>sourceSize</key>
                <string>{115,52}</string>
            </dict>
            <key>act_7day_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,523},{116,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,52}}</string>
                <key>sourceSize</key>
                <string>{116,52}</string>
            </dict>
            <key>act_7day_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,447},{116,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,52}}</string>
                <key>sourceSize</key>
                <string>{116,52}</string>
            </dict>
            <key>act_7day_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{336,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,60}}</string>
                <key>sourceSize</key>
                <string>{336,60}</string>
            </dict>
            <key>act_7day_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,64},{336,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,60}}</string>
                <key>sourceSize</key>
                <string>{336,60}</string>
            </dict>
            <key>act_7day_banjia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,126},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_banjia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,126},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_battle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_battle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,143},{95,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{95,92}}</string>
                <key>sourceSize</key>
                <string>{107,104}</string>
            </dict>
            <key>act_7day_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,55},{562,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,39}}</string>
                <key>sourceSize</key>
                <string>{562,39}</string>
            </dict>
            <key>act_7day_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{120,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,146}}</string>
                <key>sourceSize</key>
                <string>{120,146}</string>
            </dict>
            <key>act_7day_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{535,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,146}}</string>
                <key>sourceSize</key>
                <string>{535,146}</string>
            </dict>
            <key>act_7day_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>act_7day_buy0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,291},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>act_7day_buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,465},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>act_7day_buy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,291},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>act_7day_card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,619},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,774},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_close0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>act_7day_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,929},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>act_7day_dengji0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,619},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_dengji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,774},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{1,1}}</string>
                <key>offset</key>
                <string>{-76,27.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_equip_build0.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,291},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_equip_build1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_equip_xilian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_equip_xilian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,929},{115,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,76}}</string>
                <key>sourceSize</key>
                <string>{115,76}</string>
            </dict>
            <key>act_7day_goto0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,423},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>act_7day_goto1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,555},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>act_7day_huaxiong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,349},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_huaxiong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,407},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_jingji0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,619},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_jingji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,774},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_jingying0.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,619},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_jingying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,774},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_lingqu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,465},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>act_7day_lingqu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,929},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>act_7day_meiri0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,619},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_meiri1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,774},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_price_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,237},{430,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,53}}</string>
                <key>sourceSize</key>
                <string>{430,53}</string>
            </dict>
            <key>act_7day_skill0.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,526},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,465},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_soul0.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,292},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_soul1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,619},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_task0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,774},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_task1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,929},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_tianfu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,619},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_tianfu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,774},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,139}}</string>
                <key>sourceSize</key>
                <string>{632,139}</string>
            </dict>
            <key>act_7day_zhengzhan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,619},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
            <key>act_7day_zhengzhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,774},{153,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,56}}</string>
                <key>sourceSize</key>
                <string>{153,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>act_7day.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1168e240046c7a862b93e779c98d453:4b5cf7a61f1a05938d9f283d9c4fb2b8:30687ef575c4e5fe5e5896adf431537b$</string>
            <key>textureFileName</key>
            <string>act_7day.png</string>
        </dict>
    </dict>
</plist>
