<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop_zhongqiu_close0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,218},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>pop_zhongqiu_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,218},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>pop_zhongqiu_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>pop_zhongqiu_enter0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>pop_zhongqiu_enter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>pop_zhongqiu_enter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pop_zhongqiu.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76fa46493e512aa54069420d70a1d8ff$</string>
            <key>textureFileName</key>
            <string>pop_zhongqiu.png</string>
        </dict>
    </dict>
</plist>
