<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongnengkaiqi02_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{108,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{104,256}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{104,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{100,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,0},{100,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{102,254}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,2},{102,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,644},{102,252}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{102,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,536},{106,252}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,1},{106,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,212},{108,248}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,0},{108,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{104,254}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,0},{104,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,102},{108,248}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,0},{108,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,322},{108,246}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,3},{108,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,748},{104,238}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,11},{104,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{106,238}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,10},{106,238}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,432},{102,242}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,9},{102,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{98,250}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,4},{98,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{102,256}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{102,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gongnengkaiqi02_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{104,256}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{104,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongnengkaiqi_fang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb78216b1c75c221070c54aac115d05f:1/1$</string>
            <key>textureFileName</key>
            <string>gongnengkaiqi_fang.png</string>
        </dict>
    </dict>
</plist>
