<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanjianqifa_src.0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,458},{132,152}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,178},{132,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,192},{134,146}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,168},{134,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,912},{104,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,203},{104,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,738},{172,168}}</string>
                <key>offset</key>
                <string>{10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,154},{172,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{244,210}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,131},{244,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,750},{238,216}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,132},{238,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{242,246}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,132},{242,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,132},{238,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,252},{246,158}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,132},{246,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{248,212}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,133},{248,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{152,188}}</string>
                <key>offset</key>
                <string>{48,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,160},{152,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,248},{180,208}}</string>
                <key>offset</key>
                <string>{34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,145},{180,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,500},{236,236}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,143},{236,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wanjianqifa_src.0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{244,126}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,217},{244,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wanjianqifa_src.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef37a34c9dd266af70661240305ade52:3d0d9087998e376b7902977bc5b821b9:aedf76f152d5ad641fbec65efa5d95df$</string>
            <key>textureFileName</key>
            <string>wanjianqifa_src.pvr.ccz</string>
        </dict>
    </dict>
</plist>
