<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miaozhun_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,256},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,380},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,130},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,126},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miaozhun_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,126},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>miaozhun.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31471e62680aa1020a54be6f1a04c4fa:4fbf71182043a8a94a213bd43a82c821:2048f38a4fe4b9656d862122a5a4fb85$</string>
            <key>textureFileName</key>
            <string>miaozhun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
