<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_can_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{92,50}}</string>
                <key>sourceSize</key>
                <string>{102,52}</string>
            </dict>
            <key>map_count_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,52}}</string>
                <key>sourceSize</key>
                <string>{102,52}</string>
            </dict>
            <key>map_flag_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,108},{85,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,32}}</string>
                <key>sourceSize</key>
                <string>{85,32}</string>
            </dict>
            <key>map_flag_progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{85,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,32}}</string>
                <key>sourceSize</key>
                <string>{85,32}</string>
            </dict>
            <key>stage_star_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,56},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,23}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>stage_star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,81},{23,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_flag.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d90f515b77f3beb5dd396960522c9e:1/1$</string>
            <key>textureFileName</key>
            <string>map_flag.png</string>
        </dict>
    </dict>
</plist>
