<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tonardo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,104},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,104},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,204},{102,96}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{102,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,204},{102,96}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{102,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,104},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,312},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,100}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{102,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,100}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{102,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,100}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{102,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,100}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{102,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,208},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,104},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tonardo_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{102,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{102,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_tonardo.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb572ebf223cf44bafa0622ce8ab5315:c899bba424e5b487fcec57d102d85a23:8ee690189ef929e7110f0dc912fd1066$</string>
            <key>textureFileName</key>
            <string>battle_tonardo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
