<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baowufaguang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{210,114}}</string>
                <key>offset</key>
                <string>{15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{210,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>baowufaguang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{208,114}}</string>
                <key>offset</key>
                <string>{16,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,23},{208,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>baowufaguang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{218,108}}</string>
                <key>offset</key>
                <string>{9,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{218,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>baowufaguang_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,114}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,24},{214,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>baoxiang bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{83,74}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,28},{83,74}}</string>
                <key>sourceSize</key>
                <string>{137,120}</string>
            </dict>
            <key>baoxiang kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{103,76}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{103,76}}</string>
                <key>sourceSize</key>
                <string>{137,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>get_treasure.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4342bdc596ba0bd6a4615b7037409e29:1/1$</string>
            <key>textureFileName</key>
            <string>get_treasure.png</string>
        </dict>
    </dict>
</plist>
