<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>micro_fight_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,976}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,160},{640,976}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>micro_fight_blade.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{108,912}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,0},{108,912}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>micro_fight_dantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,232},{228,202}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,153},{228,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>micro_fight_lightning_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,916},{72,164}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,0},{72,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>micro_fight_lightning_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,84},{74,256}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,0},{74,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>micro_fight_lightning_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{80,256}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,0},{80,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>micro_fight_lightning_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,160},{70,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{70,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>micro_fight0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c63eb68cd37283a176c2ade6a5c16c5c:1/3$</string>
            <key>textureFileName</key>
            <string>micro_fight0.png</string>
        </dict>
    </dict>
</plist>
