<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireworks.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,486},{90,84}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,77},{90,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireworks.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,344},{140,144}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,43},{140,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireworks.03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,162},{182,180}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{182,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireworks.04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{210,204}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{210,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireworks.05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{228,226}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{228,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireworks.06.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,250},{244,236}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireworks.07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{254,242}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireworks.08.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{256,246}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireworks.09.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{256,242}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{256,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fireworks.10.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,246},{256,240}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{256,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengji_char.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,158}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,162},{452,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{238,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,85},{238,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelup.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea5bf8c525489845b884912b690f6f12:1/1$</string>
            <key>textureFileName</key>
            <string>levelup.png</string>
        </dict>
    </dict>
</plist>
