<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>woxinchangdan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,500},{116,96}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,100},{116,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,500},{118,114}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,84},{118,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,616},{122,118}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,83},{122,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{130,122}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,82},{130,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,164},{142,124}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,81},{142,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,344},{154,126}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,81},{154,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{160,128}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,80},{160,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,174},{168,134}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,77},{168,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{176,156}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,57},{176,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,616},{184,172}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,40},{184,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,830},{188,184}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{188,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,830},{188,192}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{188,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{186,198}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,15},{186,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,418},{186,196}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,18},{186,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{190,206}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{190,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,212}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{192,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,628},{196,200}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{196,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,216},{200,194}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{200,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{202,196}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{202,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{206,156}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,64},{206,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,424},{202,152}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,61},{202,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>woxinchangdan_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{170,148}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,61},{170,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>woxinchangdan.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be004182e86b15a71bdb6715f4fe9486:d6ef61b04479925f00a563f4ea5351d4:f9e9d757d98a68ca811659e07517c6a0$</string>
            <key>textureFileName</key>
            <string>woxinchangdan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
