<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_rank_list_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,300},{155,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,56}}</string>
                <key>sourceSize</key>
                <string>{155,56}</string>
            </dict>
            <key>arena_rank_list_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,466},{170,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,65}}</string>
                <key>sourceSize</key>
                <string>{170,65}</string>
            </dict>
            <key>arena_rank_list_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{572,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,55}}</string>
                <key>sourceSize</key>
                <string>{572,55}</string>
            </dict>
            <key>battle_result_damage_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,588},{118,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,142}}</string>
                <key>sourceSize</key>
                <string>{118,142}</string>
            </dict>
            <key>const_searching_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,95},{345,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,90}}</string>
                <key>sourceSize</key>
                <string>{345,90}</string>
            </dict>
            <key>contest_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,538},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,451},{24,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{24,27}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,480},{22,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{22,27}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,509},{22,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{22,27}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,576},{22,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{22,27}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,600},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{22,27}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,624},{22,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{22,27}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_biankuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{142,492}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{142,492}}</string>
                <key>sourceSize</key>
                <string>{146,496}</string>
            </dict>
            <key>contest_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,252},{240,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,35}}</string>
                <key>sourceSize</key>
                <string>{240,37}</string>
            </dict>
            <key>contest_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{346,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{346,91}}</string>
                <key>sourceSize</key>
                <string>{346,97}</string>
            </dict>
            <key>contest_cancle_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,347},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>contest_cansai.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,25},{133,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,28}}</string>
                <key>sourceSize</key>
                <string>{133,28}</string>
            </dict>
            <key>contest_cansai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,479},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>contest_cansai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,418},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>contest_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{30,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,21}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>contest_fangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,177},{287,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,65}}</string>
                <key>sourceSize</key>
                <string>{287,65}</string>
            </dict>
            <key>contest_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,234},{327,5}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,5}}</string>
                <key>sourceSize</key>
                <string>{327,9}</string>
            </dict>
            <key>contest_gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,187},{287,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,63}}</string>
                <key>sourceSize</key>
                <string>{287,63}</string>
            </dict>
            <key>contest_jiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{107,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,48}}</string>
                <key>sourceSize</key>
                <string>{107,50}</string>
            </dict>
            <key>contest_jifen_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,252},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>contest_kaizhan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,343},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>contest_kaizhan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,451},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>contest_kaizhan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,524},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>contest_liansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,274},{63,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{63,71}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>contest_liansheng_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>contest_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,262},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>contest_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{562,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{562,38}}</string>
                <key>sourceSize</key>
                <string>{626,44}</string>
            </dict>
            <key>contest_list_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,546},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_list_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_list_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,670},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>contest_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,160},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>contest_paihang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,546},{40,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>contest_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,457},{129,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{129,54}}</string>
                <key>sourceSize</key>
                <string>{135,60}</string>
            </dict>
            <key>contest_sousuo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,597},{200,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,71}}</string>
                <key>sourceSize</key>
                <string>{200,77}</string>
            </dict>
            <key>contest_sousuo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{200,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,71}}</string>
                <key>sourceSize</key>
                <string>{200,77}</string>
            </dict>
            <key>contest_sousuo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,563},{200,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,71}}</string>
                <key>sourceSize</key>
                <string>{200,77}</string>
            </dict>
            <key>contest_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,187},{67,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{67,57}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>contest_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{164,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,69}}</string>
                <key>sourceSize</key>
                <string>{164,69}</string>
            </dict>
            <key>contest_vs_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,289},{227,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{227,160}}</string>
                <key>sourceSize</key>
                <string>{235,168}</string>
            </dict>
            <key>wudoudahui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,173}}</string>
                <key>sourceSize</key>
                <string>{640,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>contest_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d50d9c3cd95b555188e1e5355710290f:c4d369d3c6bcc1182a5691bcb23aaaca:973c539e818b400aff5eb24778085d27$</string>
            <key>textureFileName</key>
            <string>contest_all.png</string>
        </dict>
    </dict>
</plist>
