<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commanderdeath03_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{512,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,193},{512,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{512,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,193},{512,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,136}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,184},{512,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{512,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,200},{512,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{404,116}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,195},{404,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,252},{318,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,194},{318,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,120},{318,130}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,188},{318,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,504},{284,130}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,189},{284,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,550},{284,114}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,194},{284,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,374},{286,128}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,191},{286,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{268,110}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,209},{268,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,272},{276,116}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,203},{276,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{268,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,220},{268,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,390},{268,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,220},{268,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath03_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,120},{268,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,220},{268,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemyword_commanderdeath.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:763fe95ce5be7ec2fe4f2b4d0dd5f641:e77f014b956840cc6f47df9ed6a2f8cd:bcad8f19275f50644267d68b1ab87a2a$</string>
            <key>textureFileName</key>
            <string>enemyword_commanderdeath.pvr.ccz</string>
        </dict>
    </dict>
</plist>
