<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commanderdeath02_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{234,228}}</string>
                <key>offset</key>
                <string>{-139,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{234,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,348},{162,162}}</string>
                <key>offset</key>
                <string>{-119,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,144},{162,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{138,98}}</string>
                <key>offset</key>
                <string>{-123,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,203},{138,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,648},{304,236}}</string>
                <key>offset</key>
                <string>{-43,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,84},{304,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,760},{266,168}}</string>
                <key>offset</key>
                <string>{-64,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,144},{266,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,512},{210,134}}</string>
                <key>offset</key>
                <string>{-91,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,174},{210,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,350},{396,234}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,86},{396,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{344,164}}</string>
                <key>offset</key>
                <string>{-24,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,147},{344,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,622},{330,158}}</string>
                <key>offset</key>
                <string>{-32,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,167},{330,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{452,250}}</string>
                <key>offset</key>
                <string>{29,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,84},{452,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{396,192}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,146},{396,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,586},{382,172}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,166},{382,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{398,172}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,166},{398,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,176},{400,172}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,166},{400,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>commanderdeath02_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{400,172}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,166},{400,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selfword_commanderdeath.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b3a3a86bb360dfc2c2ff0f8aada0bef:44f77d583c21a869cb4d508f2de2103a:64af372a4fc8444b9f73d2acba7ac3fb$</string>
            <key>textureFileName</key>
            <string>selfword_commanderdeath.pvr.ccz</string>
        </dict>
    </dict>
</plist>
