<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jindutiao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{510,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{510,19}}</string>
                <key>sourceSize</key>
                <string>{522,27}</string>
            </dict>
            <key>jindutiao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{510,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{510,19}}</string>
                <key>sourceSize</key>
                <string>{522,27}</string>
            </dict>
            <key>jindutiao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{510,19}}</string>
                <key>sourceSize</key>
                <string>{522,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jindutiao.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:262cf8e1cfd0a421ad7023976142d1e5:a42db1cb2eebd66b47e25a78dc115939:12a2dccaf9df6d2021209820a8c6a391$</string>
            <key>textureFileName</key>
            <string>jindutiao.png</string>
        </dict>
    </dict>
</plist>
