<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mission-button-hui-fangqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,366},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>mission-button-hui-jieshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mission-button-hui-lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mission-button-hui-shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,63},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mission-button-nor-fangqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,366},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>mission-button-nor-jieshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,63},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mission-button-nor-lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,124},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mission-button-nor-putongrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,246},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>mission-button-nor-richangrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,246},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>mission-button-nor-shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,124},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mission-button-sel-fangqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,366},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>mission-button-sel-jieshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mission-button-sel-lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,185},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mission-button-sel-putongrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,306},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>mission-button-sel-richangrenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,306},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>mission-button-sel-shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,185},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>mission-image-jinxingzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,133},{115,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,76}}</string>
                <key>sourceSize</key>
                <string>{115,76}</string>
            </dict>
            <key>mission-image-paibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,89},{92,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>mission-image-yiwancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,250},{115,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,76}}</string>
                <key>sourceSize</key>
                <string>{115,76}</string>
            </dict>
            <key>mission-qianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,276},{55,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,27}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>mission-qianwang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,250},{30,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{30,24}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>mission_award_str.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{85,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{85,97}</string>
            </dict>
            <key>mission_detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,144}}</string>
                <key>sourceSize</key>
                <string>{558,144}</string>
            </dict>
            <key>mission_open_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,133},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>zhijiewancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,367},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>zhijiewancheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,367},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>zhijiewancheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,431},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quest.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:755ec7539c3fdf2d065f35ae9c4bb38f:e47a005580bc148f03e5a30ca97de10d:8ef12693f0d91d255ba606ca309faf64$</string>
            <key>textureFileName</key>
            <string>quest.png</string>
        </dict>
    </dict>
</plist>
