<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity-image-bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{198,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,49}}</string>
                <key>sourceSize</key>
                <string>{198,49}</string>
            </dict>
            <key>bn_chakan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_chakan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_vip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,377},{74,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>bn_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,301},{74,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>pay_change0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{108,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,55}}</string>
                <key>sourceSize</key>
                <string>{108,55}</string>
            </dict>
            <key>pay_change1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,844},{108,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,55}}</string>
                <key>sourceSize</key>
                <string>{108,55}</string>
            </dict>
            <key>pay_change2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,734},{108,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,55}}</string>
                <key>sourceSize</key>
                <string>{108,55}</string>
            </dict>
            <key>pay_fukuanfangshi_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,693},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>pay_gash_channel.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,453},{101,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,63}}</string>
                <key>sourceSize</key>
                <string>{101,63}</string>
            </dict>
            <key>pay_google_channel.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,198},{101,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,63}}</string>
                <key>sourceSize</key>
                <string>{101,63}</string>
            </dict>
            <key>pay_list1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,39},{547,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,1}}</string>
                <key>sourceSize</key>
                <string>{547,1}</string>
            </dict>
            <key>pay_listBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{373,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,40}}</string>
                <key>sourceSize</key>
                <string>{373,40}</string>
            </dict>
            <key>pay_maycard_channel.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,95},{101,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,63}}</string>
                <key>sourceSize</key>
                <string>{101,63}</string>
            </dict>
            <key>pay_radio_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,619},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{30,29}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>pay_radio_btn_pro.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,588},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{30,29}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>pay_xuanzediqu_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,650},{108,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,32}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>paypal.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{125,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,50}}</string>
                <key>sourceSize</key>
                <string>{125,50}</string>
            </dict>
            <key>playstates-button-wuqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,803},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>playstates-image-hongbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,44},{85,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,6}}</string>
                <key>sourceSize</key>
                <string>{85,6}</string>
            </dict>
            <key>shop-button-goumai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,588},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shop-button-goumai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,527},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shop-button-goumai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,466},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shop-button-nor-chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,709},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-nor-diancang.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,668},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-nor-dianjiangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,649},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-nor-jishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-nor-other.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-nor-tehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,608},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-sel-chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-sel-diancang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-sel-dianjiangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-sel-jishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-sel-other.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-button-sel-tehui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>shop-image-goumaiwupin.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{132,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,35}}</string>
                <key>sourceSize</key>
                <string>{132,35}</string>
            </dict>
            <key>shop-image-paibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,903},{93,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,43}}</string>
                <key>sourceSize</key>
                <string>{93,43}</string>
            </dict>
            <key>shop-image-qizhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,556},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>shop_bable.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,789},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>shop_bn_goumai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,728},{118,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{118,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>shop_bn_goumai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,614},{118,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{118,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>shop_bn_jinru0.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,405},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shop_bn_jinru1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,344},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shop_bn_jinru2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,283},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shop_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,878},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>shop_gonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,769},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>shop_jingjichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>shop_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,44},{1,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,108}}</string>
                <key>sourceSize</key>
                <string>{1,108}</string>
            </dict>
            <key>shop_yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,649},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>shuaxin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,222},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shuaxin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,161},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>shuaxin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,100},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>vip_list_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>vip_list_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,903},{43,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,108}}</string>
                <key>sourceSize</key>
                <string>{43,108}</string>
            </dict>
            <key>vip_list_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,903},{42,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,108}}</string>
                <key>sourceSize</key>
                <string>{42,108}</string>
            </dict>
            <key>vip_list_close0.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,878},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>vip_list_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,954},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>vip_list_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,44},{562,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,143}}</string>
                <key>sourceSize</key>
                <string>{562,143}</string>
            </dict>
            <key>yigoumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,39},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb44d320a7b8094f42c372eafa411c16$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
