<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>caocao_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,650},{286,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,121},{286,260}}</string>
                <key>sourceSize</key>
                <string>{542,502}</string>
            </dict>
            <key>guanyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,646}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,646}}</string>
                <key>sourceSize</key>
                <string>{480,646}</string>
            </dict>
            <key>guanyu_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{250,338}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,153},{250,338}}</string>
                <key>sourceSize</key>
                <string>{480,646}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,644},{259,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,119}}</string>
                <key>sourceSize</key>
                <string>{259,119}</string>
            </dict>
            <key>zhugeliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,2},{382,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,433}}</string>
                <key>sourceSize</key>
                <string>{382,433}</string>
            </dict>
            <key>zhugeliang_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,644},{206,229}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,101},{206,229}}</string>
                <key>sourceSize</key>
                <string>{382,433}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c910ef350dbe64563c67664375cf9840:ac520b81ea6ccfc92b1c16abfb508ca5:e05b9c8bf5a55fa8afa308cef9f207ef$</string>
            <key>textureFileName</key>
            <string>login0.png</string>
        </dict>
    </dict>
</plist>
