<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SLSB_dh_zt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,122}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{119,122}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>SLSB_dh_zt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{114,131}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{114,131}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>can_bai0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2d88c6f2f267dcc4f6eb289de8f9de7:1/1$</string>
            <key>textureFileName</key>
            <string>can_bai0.png</string>
        </dict>
    </dict>
</plist>
