<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nusheng_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{72,150}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,36},{72,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,194},{72,158}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,18},{72,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,58},{52,186}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,5},{52,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{54,188}}</string>
                <key>offset</key>
                <string>{12,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,0},{54,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{82,176}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,8},{82,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,194}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{88,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{88,190}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{88,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,390},{84,166}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,16},{84,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,112},{80,178}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,6},{80,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{44,120}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,31},{44,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>nusheng_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,476},{10,72}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,46},{10,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rage_up.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3d0eabfb4ecf98089a042dc156e8d83:846421b7331ed6ad4b7d61346fb34607:2a7962add06b745baa26b35aeec455c0$</string>
            <key>textureFileName</key>
            <string>rage_up.pvr.ccz</string>
        </dict>
    </dict>
</plist>
