<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xianshidianjiang__num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,982},{37,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{37,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang__num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,667},{57,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang__num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,726},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang__num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,759},{43,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang__num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,714},{43,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang__num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,726},{45,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang__num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,714},{43,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang__num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,738},{41,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang__num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,669},{43,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang__num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,669},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>xianshidianjiang_benrizhixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,635},{32,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,92}}</string>
                <key>sourceSize</key>
                <string>{32,92}</string>
            </dict>
            <key>xianshidianjiang_benrizhixing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,982},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>xianshidianjiang_btn_preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,556},{58,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>xianshidianjiang_btn_preview1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{58,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{58,71}</string>
            </dict>
            <key>xianshidianjiang_dianjiangshici_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,781},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>xianshidianjiang_dianjiangshici_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,781},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>xianshidianjiang_dianjiangtai_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,93},{122,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,43}}</string>
                <key>sourceSize</key>
                <string>{122,43}</string>
            </dict>
            <key>xianshidianjiang_dianjiangyici_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,781},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>xianshidianjiang_dianjiangyici_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>xianshidianjiang_jinrizhuda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{118,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,39}}</string>
                <key>sourceSize</key>
                <string>{118,39}</string>
            </dict>
            <key>xianshidianjiang_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{173,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,42}}</string>
                <key>sourceSize</key>
                <string>{173,42}</string>
            </dict>
            <key>xianshidianjiang_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,635},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>xianshidianjiang_qunguo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>xianshidianjiang_qunguo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,575},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>xianshidianjiang_shenjiangyulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,46},{164,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,45}}</string>
                <key>sourceSize</key>
                <string>{164,45}</string>
            </dict>
            <key>xianshidianjiang_shuguo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,515},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>xianshidianjiang_shuguo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,455},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>xianshidianjiang_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{312,92}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{312,92}}</string>
                <key>sourceSize</key>
                <string>{332,176}</string>
            </dict>
            <key>xianshidianjiang_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{312,92}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{312,92}}</string>
                <key>sourceSize</key>
                <string>{332,176}</string>
            </dict>
            <key>xianshidianjiang_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{312,92}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{312,92}}</string>
                <key>sourceSize</key>
                <string>{332,176}</string>
            </dict>
            <key>xianshidianjiang_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{312,92}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,63},{312,92}}</string>
                <key>sourceSize</key>
                <string>{332,176}</string>
            </dict>
            <key>xianshidianjiang_title_light_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,176}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{330,176}}</string>
                <key>sourceSize</key>
                <string>{332,176}</string>
            </dict>
            <key>xianshidianjiang_week0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,635},{35,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,87}}</string>
                <key>sourceSize</key>
                <string>{35,87}</string>
            </dict>
            <key>xianshidianjiang_week1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,645},{35,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,87}}</string>
                <key>sourceSize</key>
                <string>{35,87}</string>
            </dict>
            <key>xianshidianjiang_week2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,630},{35,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,87}}</string>
                <key>sourceSize</key>
                <string>{35,87}</string>
            </dict>
            <key>xianshidianjiang_week3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,593},{35,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,87}}</string>
                <key>sourceSize</key>
                <string>{35,87}</string>
            </dict>
            <key>xianshidianjiang_week4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,556},{35,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,87}}</string>
                <key>sourceSize</key>
                <string>{35,87}</string>
            </dict>
            <key>xianshidianjiang_week5.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,556},{35,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,87}}</string>
                <key>sourceSize</key>
                <string>{35,87}</string>
            </dict>
            <key>xianshidianjiang_week6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,738},{35,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,87}}</string>
                <key>sourceSize</key>
                <string>{35,87}</string>
            </dict>
            <key>xianshidianjiang_weiguo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,395},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>xianshidianjiang_weiguo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,335},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>xianshidianjiang_wuguo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,275},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>xianshidianjiang_wuguo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,215},{124,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>xianshidianjiang_zaichou.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,217},{562,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{562,61}}</string>
                <key>sourceSize</key>
                <string>{626,67}</string>
            </dict>
            <key>xianshidianjiang_zhaomu.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,154},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>xianshidianjiang_zhaomu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,93},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>xianshidianjiang_zhekou.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,759},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_flash_sale.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ed1264487ef9237253753aaddb25509:1/1$</string>
            <key>textureFileName</key>
            <string>card_flash_sale.png</string>
        </dict>
    </dict>
</plist>
