<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quhutunlang_src_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{198,204}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{198,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,248}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{256,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{178,200}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,23},{178,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,204},{204,198}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{204,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{230,200}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{230,200}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,404},{160,182}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,28},{160,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,566},{146,174}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,31},{146,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{142,172}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,21},{142,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{132,146}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,28},{132,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,252},{50,116}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,29},{50,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,370},{46,112}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,32},{46,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>quhutunlang_src_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,204},{42,108}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,34},{42,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quhutunlang_src.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df739357e5edd671826b1c448d963cf5:1/1$</string>
            <key>textureFileName</key>
            <string>quhutunlang_src.png</string>
        </dict>
    </dict>
</plist>
