<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EXP.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,31},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>bn_dismantle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,609},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_dismantle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,737},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_jia0.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,248},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>bn_jia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,431},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>bn_jian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,475},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>bn_jian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,519},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>bn_levelup_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,826},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_levelup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,886},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_quickSelect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,700},{130,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,61}}</string>
                <key>sourceSize</key>
                <string>{130,61}</string>
            </dict>
            <key>bn_quickSelect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,707},{130,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,61}}</string>
                <key>sourceSize</key>
                <string>{130,61}</string>
            </dict>
            <key>bn_quickSelect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,763},{130,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,61}}</string>
                <key>sourceSize</key>
                <string>{130,61}</string>
            </dict>
            <key>bn_skillUp0.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,886},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_skillUp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,886},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_skillUp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,661},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_skillUp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_skillUp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_surmount_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,886},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>bn_surmount_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,886},{126,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,58}}</string>
                <key>sourceSize</key>
                <string>{126,58}</string>
            </dict>
            <key>caozuoshuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,496},{108,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,27}}</string>
                <key>sourceSize</key>
                <string>{108,27}</string>
            </dict>
            <key>caozuoshuoming2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{331,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,27}}</string>
                <key>sourceSize</key>
                <string>{331,27}</string>
            </dict>
            <key>card_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,563},{135,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,150}</string>
            </dict>
            <key>cardlvup-image-gailvhuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,199},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>cardlvup-image-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,563},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>cardlvup-image-paibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,385},{93,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,43}}</string>
                <key>sourceSize</key>
                <string>{93,43}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,743},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{562,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,44}}</string>
                <key>sourceSize</key>
                <string>{562,44}</string>
            </dict>
            <key>enhance_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,199},{1,1}}</string>
                <key>offset</key>
                <string>{-39.5,39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>huodecailiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,410},{110,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,27}}</string>
                <key>sourceSize</key>
                <string>{110,27}</string>
            </dict>
            <key>info_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,170},{54,27}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{54,27}}</string>
                <key>sourceSize</key>
                <string>{82,41}</string>
            </dict>
            <key>info_gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,613},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>info_ming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>info_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,403},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>info_wu.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,563},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>info_zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,612},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,992},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,613},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>kongbaikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,288},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>levelup_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,199},{1,1}}</string>
                <key>offset</key>
                <string>{-14.5,23.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>list_info_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{655,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,196}}</string>
                <key>sourceSize</key>
                <string>{655,196}</string>
            </dict>
            <key>lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,71},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>lv_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,354},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>lv_bn_buy0.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,465},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>lv_bn_buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,531},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>lv_bn_fetch0.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,200},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>lv_bn_fetch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,525},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>lv_bn_goumaishiyong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,344},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>lv_bn_goumaishiyong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,417},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>lv_bn_goumaishiyong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,490},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>lv_bn_max0.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,292},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,57}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>lv_bn_max1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,351},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,57}}</string>
                <key>sourceSize</key>
                <string>{110,57}</string>
            </dict>
            <key>lv_bn_use0.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,246},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>lv_bn_use1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,319},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>lv_bn_use2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,392},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>lv_bn_use3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>lv_bn_use4.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,724},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>lv_fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,688},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>lv_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,661},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>lv_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{481,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,131}}</string>
                <key>sourceSize</key>
                <string>{481,131}</string>
            </dict>
            <key>lv_list_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{473,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,202}}</string>
                <key>sourceSize</key>
                <string>{473,202}</string>
            </dict>
            <key>lv_list_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,325},{220,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,17}}</string>
                <key>sourceSize</key>
                <string>{220,17}</string>
            </dict>
            <key>lv_list_suipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,325},{28,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,27}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>lv_list_zhengka.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,104},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>lv_surmount_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,31},{248,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,306}}</string>
                <key>sourceSize</key>
                <string>{248,306}</string>
            </dict>
            <key>lv_title_ronglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,564},{83,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{83,43}</string>
            </dict>
            <key>lv_title_shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,519},{92,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,43}}</string>
                <key>sourceSize</key>
                <string>{92,43}</string>
            </dict>
            <key>lv_title_xiuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,430},{93,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,43}}</string>
                <key>sourceSize</key>
                <string>{93,43}</string>
            </dict>
            <key>lv_title_zhuansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,475},{93,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,42}}</string>
                <key>sourceSize</key>
                <string>{93,42}</string>
            </dict>
            <key>page_index_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,640},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>page_index_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,640},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>pg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,281},{251,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,14}}</string>
                <key>sourceSize</key>
                <string>{251,14}</string>
            </dict>
            <key>pg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,297},{251,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,12}}</string>
                <key>sourceSize</key>
                <string>{251,12}</string>
            </dict>
            <key>pg_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,311},{251,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,12}}</string>
                <key>sourceSize</key>
                <string>{251,12}</string>
            </dict>
            <key>select_hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>shurudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,629},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>start_dismantle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,858},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>start_dismantle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,583},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>start_dismantle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,724},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>start_level_up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,583},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>start_level_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,858},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>start_level_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,583},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>start_surmount0.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,583},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>start_surmount1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,597},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>start_surmount2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,609},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>tunshikapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,439},{109,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,27}}</string>
                <key>sourceSize</key>
                <string>{109,27}</string>
            </dict>
            <key>tunshikuang_jiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,136},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,665},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>xuyaocailiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,468},{109,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,26}}</string>
                <key>sourceSize</key>
                <string>{109,26}</string>
            </dict>
            <key>xuyaojinengshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,525},{134,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,27}}</string>
                <key>sourceSize</key>
                <string>{134,27}</string>
            </dict>
            <key>yixuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,115},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelup.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6b643e141f62b724d8c04b9261a2d1c:a87a201002e483c6cf9d0d5248f83e2b:6ebdec70cb923ad0a578b662b8e9ae76$</string>
            <key>textureFileName</key>
            <string>levelup.png</string>
        </dict>
    </dict>
</plist>
