<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_formation_attack_listname1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{155,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,46}}</string>
                <key>sourceSize</key>
                <string>{155,46}</string>
            </dict>
            <key>battle_formation_attack_listname2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{158,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,46}}</string>
                <key>sourceSize</key>
                <string>{158,46}</string>
            </dict>
            <key>battle_formation_attack_listname3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,86},{158,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,46}}</string>
                <key>sourceSize</key>
                <string>{158,46}</string>
            </dict>
            <key>battle_formation_attack_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{166,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>battle_formation_attack_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{168,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>battle_formation_attack_name3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,98},{168,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,40}}</string>
                <key>sourceSize</key>
                <string>{168,40}</string>
            </dict>
            <key>battle_formation_back_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>battle_formation_back_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,289},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>battle_formation_btn_baocunzhenxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,387},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>battle_formation_btn_baocunzhenxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,367},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>battle_formation_btn_sheweizhushuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,326},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>battle_formation_btn_sheweizhushuai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,265},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>battle_formation_btn_zairuzhenxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,204},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>battle_formation_btn_zairuzhenxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,246},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>battle_formation_cost_str.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,246},{93,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,41}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>battle_formation_country_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,152},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,34}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>battle_formation_country_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,116},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,34}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>battle_formation_country_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,80},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,34}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>battle_formation_country_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,44},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{35,34}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>battle_formation_dead_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,378},{82,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,61}}</string>
                <key>sourceSize</key>
                <string>{82,67}</string>
            </dict>
            <key>battle_formation_friendcards1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>battle_formation_friendcards2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>battle_formation_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{521,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,1}}</string>
                <key>sourceSize</key>
                <string>{521,1}</string>
            </dict>
            <key>battle_formation_mycards1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,140},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>battle_formation_mycards2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,100},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>battle_formation_page_switch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,161},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>battle_formation_page_switch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,140},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>battle_formation_pvp_listname.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,50},{202,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,46}}</string>
                <key>sourceSize</key>
                <string>{202,46}</string>
            </dict>
            <key>battle_formation_pvp_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{218,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,40}}</string>
                <key>sourceSize</key>
                <string>{218,40}</string>
            </dict>
            <key>battle_formation_rank_match_listname.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{233,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,46}}</string>
                <key>sourceSize</key>
                <string>{233,46}</string>
            </dict>
            <key>battle_formation_rank_match_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,40}}</string>
                <key>sourceSize</key>
                <string>{255,40}</string>
            </dict>
            <key>battle_formation_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,394},{53,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,50}}</string>
                <key>sourceSize</key>
                <string>{53,50}</string>
            </dict>
            <key>battle_formation_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,75},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>battle_formation_star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,50},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>battle_formation_tip_str.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,448},{562,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,60}}</string>
                <key>sourceSize</key>
                <string>{562,60}</string>
            </dict>
            <key>battle_formation_tip_str_leader.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,448},{562,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,60}}</string>
                <key>sourceSize</key>
                <string>{562,60}</string>
            </dict>
            <key>battle_formation_title_str.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,188},{121,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,34}}</string>
                <key>sourceSize</key>
                <string>{121,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_formation.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a87b3909097a45cab4ae5538d2d2ed89:1/1$</string>
            <key>textureFileName</key>
            <string>battle_formation.png</string>
        </dict>
    </dict>
</plist>
