<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angry04_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{48,50}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,50},{48,48}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,50},{50,48}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,46}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{48,46}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{52,46}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{52,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,98},{48,48}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{48,46}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{50,46}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{50,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{48,46}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,100},{48,48}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,100},{48,48}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,50},{46,48}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,50},{46,48}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry04_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,100},{48,50}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>angry04.pvr.ccz</string>
            <key>size</key>
            <string>{256,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70bbac8f9861ea0f31d86be1a8cff1a6:c732756cb8ebb6bbe4edc46341ee61b0:42bfa00e4a626a61d2cee802be2eb508$</string>
            <key>textureFileName</key>
            <string>angry04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
