<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angry03_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,156},{52,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{52,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{48,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{48,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{48,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,78},{50,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{50,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{50,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{48,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{48,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,40},{48,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{48,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,52},{50,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{50,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{50,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{50,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{52,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{52,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,130},{50,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{50,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{50,38}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{50,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{50,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{50,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry03_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,210},{52,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{52,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>angry03.pvr.ccz</string>
            <key>size</key>
            <string>{140,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6afd7873a589e42927acb2002621765f:274850c10369a2947361e3456365a6db:54172cc4ca844c6dab73acc91ca98388$</string>
            <key>textureFileName</key>
            <string>angry03.pvr.ccz</string>
        </dict>
    </dict>
</plist>
