<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>angry02_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,212},{36,24}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,28},{36,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{38,22}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{38,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{38,24}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{38,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,172},{38,24}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,29},{38,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,90},{38,26}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,28},{38,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{40,26}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{40,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{40,26}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{40,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{42,24}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{42,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,22}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,31},{44,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,28}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{44,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{40,22}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{40,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,48},{40,24}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{40,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{40,24}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{40,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{38,24}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{38,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>angry02_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,130},{40,24}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{40,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>angry02.pvr.ccz</string>
            <key>size</key>
            <string>{72,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b27465fd1f086be31b8b4be442bc55d:d14a093a7453f631bdc7b0c38efde2bc:7bdd9e169b65d6f2e9c3a392a62d1e7c$</string>
            <key>textureFileName</key>
            <string>angry02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
