<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>createNameBtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>createNameBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{201,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,71}}</string>
                <key>sourceSize</key>
                <string>{201,71}</string>
            </dict>
            <key>diceBtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,148},{83,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,64}}</string>
                <key>sourceSize</key>
                <string>{83,64}</string>
            </dict>
            <key>diceBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,148},{83,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,64}}</string>
                <key>sourceSize</key>
                <string>{83,64}</string>
            </dict>
            <key>inputBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{56,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>nickName.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{86,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,43}}</string>
                <key>sourceSize</key>
                <string>{86,43}</string>
            </dict>
            <key>nickNameTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,60},{159,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,45}}</string>
                <key>sourceSize</key>
                <string>{159,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createPlayerName.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72560dfe824e4a6219fc8eed28d83a7e:a75734e9a3dc7b5bf8ba1343da1716f8:2baf181b6b17d670a4d7dcf41a8e4922$</string>
            <key>textureFileName</key>
            <string>createPlayerName.png</string>
        </dict>
    </dict>
</plist>
