<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,306},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>btn_back_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,243},{132,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,61}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>denglu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,367},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>denglu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,428},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>login-button-nor-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,638},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>login-button-sel-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,976},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>login-image-kuang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,153},{317,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{317,32}}</string>
                <key>sourceSize</key>
                <string>{343,52}</string>
            </dict>
            <key>login_bangding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>login_bangding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>login_bj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,58},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>login_bj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,794},{66,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{66,68}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>login_bj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>login_denglu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{380,70}}</string>
                <key>sourceSize</key>
                <string>{382,72}</string>
            </dict>
            <key>login_denglu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{380,70}}</string>
                <key>sourceSize</key>
                <string>{382,72}</string>
            </dict>
            <key>login_fanhui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,700},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>login_kuaisudenglu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>login_kuaisudenglu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>login_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{351,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,1}}</string>
                <key>sourceSize</key>
                <string>{351,1}</string>
            </dict>
            <key>login_mima.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,840},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,32}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>login_qq0.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,506},{248,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,63}}</string>
                <key>sourceSize</key>
                <string>{248,63}</string>
            </dict>
            <key>login_qq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,571},{248,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,63}}</string>
                <key>sourceSize</key>
                <string>{248,63}</string>
            </dict>
            <key>login_shanchu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,794},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>login_weixin0.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,636},{248,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,63}}</string>
                <key>sourceSize</key>
                <string>{248,63}</string>
            </dict>
            <key>login_weixin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,700},{248,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,63}}</string>
                <key>sourceSize</key>
                <string>{248,63}</string>
            </dict>
            <key>login_zc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,74},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>login_zc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,146},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>login_zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,588},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{32,29}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>login_zhanghao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,840},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>login_zhuce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,218},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>login_zhuce_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,290},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>regist-checkbox-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,698},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>regist-dianjijinruyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,110},{158,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,41}}</string>
                <key>sourceSize</key>
                <string>{158,41}</string>
            </dict>
            <key>regist-image-gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,870},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>regist-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,588},{240,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,49}}</string>
                <key>sourceSize</key>
                <string>{240,49}</string>
            </dict>
            <key>regist-mima.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,511},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>regist-reput-mima.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,701},{93,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,43}}</string>
                <key>sourceSize</key>
                <string>{93,43}</string>
            </dict>
            <key>regist-wangjimima.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,870},{104,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,32}}</string>
                <key>sourceSize</key>
                <string>{104,32}</string>
            </dict>
            <key>regist-zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{91,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,42}}</string>
                <key>sourceSize</key>
                <string>{91,42}</string>
            </dict>
            <key>regist-zhuce1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,489},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist-zhuce2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,506},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist-zhuce3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,362},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>regist_btn_acount_blind_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,434},{380,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,70}}</string>
                <key>sourceSize</key>
                <string>{380,70}</string>
            </dict>
            <key>regist_btn_acount_blind_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,550},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_acount_blind_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,567},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_acount_mgr_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,611},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_acount_mgr_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,628},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,440},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>regist_btn_closesel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>regist_btn_guanbi_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,672},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_guanbi_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,689},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_logout_nor.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,733},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_logout_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_repassword_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,870},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_repassword_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_zhaohui_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,639},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_btn_zhaohui_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,639},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>regist_icon_open_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{30,20}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>regist_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1002},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>regist_title_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{88,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{88,43}</string>
            </dict>
            <key>regist_title_acount_mgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{165,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,52}}</string>
                <key>sourceSize</key>
                <string>{165,52}</string>
            </dict>
            <key>regist_title_blind.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,472},{111,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,52}}</string>
                <key>sourceSize</key>
                <string>{111,52}</string>
            </dict>
            <key>regist_title_mycount.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,153},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>regist_title_new_password.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,750},{93,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,42}}</string>
                <key>sourceSize</key>
                <string>{93,42}</string>
            </dict>
            <key>regist_title_old_password.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,746},{92,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,42}}</string>
                <key>sourceSize</key>
                <string>{92,42}</string>
            </dict>
            <key>regist_title_rewrite.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,56},{165,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,52}}</string>
                <key>sourceSize</key>
                <string>{165,52}</string>
            </dict>
            <key>regist_title_tmp_acount.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,198},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>regist_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,555},{85,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,81}</string>
            </dict>
            <key>regist_wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1002},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>server_list_bg_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{363,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,96}}</string>
                <key>sourceSize</key>
                <string>{363,96}</string>
            </dict>
            <key>title_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,585},{111,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,53}}</string>
                <key>sourceSize</key>
                <string>{111,53}</string>
            </dict>
            <key>title_regist.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,757},{111,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,52}}</string>
                <key>sourceSize</key>
                <string>{111,52}</string>
            </dict>
            <key>xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{309,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,2}}</string>
                <key>sourceSize</key>
                <string>{309,2}</string>
            </dict>
            <key>yinying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{455,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,54}}</string>
                <key>sourceSize</key>
                <string>{455,54}</string>
            </dict>
            <key>yinying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{455,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,54}}</string>
                <key>sourceSize</key>
                <string>{455,54}</string>
            </dict>
            <key>yinying_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{455,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,54}}</string>
                <key>sourceSize</key>
                <string>{455,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>regist.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6b47d75ebd783d8a2157599a780f051:a0a7f8a8e132c4ec1ad9c37ea818042b:51705900751030d07fab5e6ba8c064c6$</string>
            <key>textureFileName</key>
            <string>regist.png</string>
        </dict>
    </dict>
</plist>
