<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoxiangdiaoluo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{82,92}}</string>
                <key>offset</key>
                <string>{-5,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,144},{82,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{78,102}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,176},{78,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,660},{74,100}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,199},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{96,66}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,233},{96,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,740},{82,74}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,224},{82,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{76,82}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,217},{76,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,824},{80,78}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,221},{80,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,932},{82,74}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,224},{82,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,512},{236,166}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,132},{236,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,342},{242,168}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,130},{242,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{250,170}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,128},{250,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{250,164}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,134},{250,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,160}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,138},{252,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{244,162}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,136},{244,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{240,164}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,134},{240,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>baoxiangdiaoluo_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,174},{248,166}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,132},{248,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>box_drop.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1806a51600c8233fd4ec3fff0693dc56:6ace9cb2a2531b4d45bccbdb897f02da:605782316a328846879c283de4cf1db4$</string>
            <key>textureFileName</key>
            <string>box_drop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
