<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commander02_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,354},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander02_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,266},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander02_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander02_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander02_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,178},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander02_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander02_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander02_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander02_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander02_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loop.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c40e51494d845ab4c3e14ee4e0df45f5:9099e0abd3026c94f691c3a833c9883d:bae468664b90509b69d36022906782c7$</string>
            <key>textureFileName</key>
            <string>loop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
