<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tongyongbeiji_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,266},{120,124}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,61},{120,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,568},{166,156}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,41},{166,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,778},{176,166}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,38},{176,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{184,182}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{184,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{192,190}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{192,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,194}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{200,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{190,192}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{190,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{190,192}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{190,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,390},{176,164}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,61},{176,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,136},{142,128}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,65},{142,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tongyongbeiji_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{146,132}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{146,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tongyongbeiji_dst.pvr.ccz</string>
            <key>size</key>
            <string>{360,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:612a9f940fc40f6d5872e456575e1c85:729fe84cee34a76c3f72279debd1191d:f4578462c16f08f254f41993abe8349f$</string>
            <key>textureFileName</key>
            <string>tongyongbeiji_dst.pvr.ccz</string>
        </dict>
    </dict>
</plist>
