<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mist.01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{384,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,284}}</string>
                <key>sourceSize</key>
                <string>{384,284}</string>
            </dict>
            <key>mist.02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,284}}</string>
                <key>sourceSize</key>
                <string>{384,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mist.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7e3d345030c09c2082cf7b55359e1eb:1/1$</string>
            <key>textureFileName</key>
            <string>mist.png</string>
        </dict>
    </dict>
</plist>
