<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beam_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{68,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rose_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,166},{58,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{120,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>star_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,76},{120,88}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{120,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>star_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,72}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{124,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xinruzhishui.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6f7bac3724c53d3cfa614ac35d12d23:1/1$</string>
            <key>textureFileName</key>
            <string>xinruzhishui.png</string>
        </dict>
    </dict>
</plist>
