<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yunyoushangchang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{158,257}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{158,257}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
            <key>yunyoushangchang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{162,257}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{162,257}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
            <key>yunyoushangchang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,259}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{164,259}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
            <key>yunyoushangchang_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{164,259}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{164,259}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
            <key>yunyoushangchang_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{164,259}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{164,259}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
            <key>yunyoushangchang_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,263},{164,259}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{164,259}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
            <key>yunyoushangchang_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,524},{164,253}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{164,253}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
            <key>yunyoushangchang_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{160,253}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{160,253}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
            <key>yunyoushangchang_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,812},{160,253}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{160,253}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
            <key>yunyoushangchang_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{152,255}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{152,255}}</string>
                <key>sourceSize</key>
                <string>{180,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vipshop.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47a4316d95ac9c21313f2e39860f8717:0c5cccb21edb4f8f78e790cadbb3c173:f638139fa86aba457a37a2e537659dd5$</string>
            <key>textureFileName</key>
            <string>vipshop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
