<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>datiepu_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,256},{122,142}}</string>
                <key>offset</key>
                <string>{-35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{122,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,106},{122,148}}</string>
                <key>offset</key>
                <string>{-35,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{122,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,324},{124,152}}</string>
                <key>offset</key>
                <string>{-35,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{124,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{128,158}}</string>
                <key>offset</key>
                <string>{-37,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{128,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{128,160}}</string>
                <key>offset</key>
                <string>{-37,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{128,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,162}}</string>
                <key>offset</key>
                <string>{-38,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{130,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{102,132}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,60},{102,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,400},{110,144}}</string>
                <key>offset</key>
                <string>{-29,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,49},{110,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{116,148}}</string>
                <key>offset</key>
                <string>{-32,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,44},{116,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,160},{118,152}}</string>
                <key>offset</key>
                <string>{-33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{118,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,166},{120,156}}</string>
                <key>offset</key>
                <string>{-34,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{120,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>datiepu_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{120,156}}</string>
                <key>offset</key>
                <string>{-34,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{120,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_tejiangpu.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79e5decb031955efcb1aad6f212308e8:77c1c964f30b5e408b48911f168c2100:e1989d62460436e23c769c889ffbf5f8$</string>
            <key>textureFileName</key>
            <string>home_tejiangpu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
