<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bn_queding0.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_queding1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_queding2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>btn_reset0.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>btn_reset1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,63},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>dagongwujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,185},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{100,29}</string>
            </dict>
            <key>haoyoudengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>lv_ascending.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,224},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,31}</string>
            </dict>
            <key>lv_ascending_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,216},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>lv_descending.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,246},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,31}</string>
            </dict>
            <key>lv_descending_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>radio_btn_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,49},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>radio_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,224},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>slideBtn1 .png</key>
            <dict>
                <key>frame</key>
                <string>{{398,134},{112,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,43}}</string>
                <key>sourceSize</key>
                <string>{112,43}</string>
            </dict>
            <key>slideBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,179},{110,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,43}}</string>
                <key>sourceSize</key>
                <string>{110,43}</string>
            </dict>
            <key>yijianzhankuang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,63},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>yijianzhankuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>yijianzhankuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,124},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>zhankuangpeizhi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>zhankuangpeizhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,124},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>zhankuangpeizhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,185},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>zhankuangpeizhi_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,45}}</string>
                <key>sourceSize</key>
                <string>{157,45}</string>
            </dict>
            <key>zhanlingshijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,216},{99,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,29}}</string>
                <key>sourceSize</key>
                <string>{99,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oneKeyWork.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a13ef78289a93da328ab6c85790974d5:ae8e60d4e93350d51360124d4482822f:2fd2ec94c9d5dd2707b51ec19899a9e5$</string>
            <key>textureFileName</key>
            <string>oneKeyWork.png</string>
        </dict>
    </dict>
</plist>
