<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianfuguoguang_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{25,50}}</string>
                <key>offset</key>
                <string>{-79,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{25,50}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>tianfuguoguang_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{77,50}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{77,50}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>tianfuguoguang_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,50}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{83,50}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>tianfuguoguang_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{83,50}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{83,50}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>tianfuguoguang_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{83,50}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,4},{83,50}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>tianfuguoguang_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{83,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,4},{83,50}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>tianfuguoguang_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{83,50}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,4},{83,50}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
            <key>tianfuguoguang_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,54},{59,48}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,5},{59,48}}</string>
                <key>sourceSize</key>
                <string>{199,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>talent_bag.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b64c60e1a3415091514f14d8d498123:a7567769e7e9c96127c6c2c6e9977b4f:6acd1268a66e7a6753d93e3ebe4486a2$</string>
            <key>textureFileName</key>
            <string>talent_bag.pvr.ccz</string>
        </dict>
    </dict>
</plist>
