<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinengshengji_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,210},{106,120}}</string>
                <key>offset</key>
                <string>{52,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,232},{106,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>jinengshengji_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,182},{120,158}}</string>
                <key>offset</key>
                <string>{32,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,194},{120,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>jinengshengji_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,168}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,180},{164,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>jinengshengji_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{174,206}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,149},{174,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>jinengshengji_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{166,210}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,145},{166,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>jinengshengji_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,212}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,145},{154,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>jinengshengji_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,304},{46,196}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,131},{46,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>jinengshengji_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{12,162}}</string>
                <key>offset</key>
                <string>{22,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,128},{12,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinengshengji.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f0bd9242ebf75ec8f38e2b83a6c2b74:732d7298644bd0ecdd87a3067f431b7b:e357bfd831320e4eebbc5f4801245433$</string>
            <key>textureFileName</key>
            <string>jinengshengji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
