<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird01_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,54},{20,18}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{20,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird01_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,32},{24,20}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{24,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird01_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,32},{28,24}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird01_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{38,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird01_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{36,28}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{36,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird01_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,30},{28,32}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{28,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird01_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{30,32}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{30,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bird01_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,26}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{38,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_fly.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd0ccd967aa0f9de000642ab503f45f:093c4cf5a60b9733b506a1fdbde12555:c41f8bcc7977a82a620e696e7d736c23$</string>
            <key>textureFileName</key>
            <string>bird_fly.pvr.ccz</string>
        </dict>
    </dict>
</plist>
