<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>act_btn_rule0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>act_btn_rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,288},{93,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,56}}</string>
                <key>sourceSize</key>
                <string>{93,56}</string>
            </dict>
            <key>act_list_bg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{329,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,101}}</string>
                <key>sourceSize</key>
                <string>{329,101}</string>
            </dict>
            <key>act_list_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{329,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,101}}</string>
                <key>sourceSize</key>
                <string>{329,101}</string>
            </dict>
            <key>act_list_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,246},{226,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,78}}</string>
                <key>sourceSize</key>
                <string>{226,78}</string>
            </dict>
            <key>act_list_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{226,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,78}}</string>
                <key>sourceSize</key>
                <string>{226,78}</string>
            </dict>
            <key>act_state_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,208},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
            <key>act_state_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,192},{72,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
            <key>act_state_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,72},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,24}}</string>
                <key>sourceSize</key>
                <string>{118,24}</string>
            </dict>
            <key>bn_rank_jingji0.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,185},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>bn_rank_jingji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,124},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>bn_rank_level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,63},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>bn_rank_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>home_bn_close0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,346},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>home_bn_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>home_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,935},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>home_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,935},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>home_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,935},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>home_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,326},{607,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,186}}</string>
                <key>sourceSize</key>
                <string>{607,186}</string>
            </dict>
            <key>home_rank_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{556,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,109}}</string>
                <key>sourceSize</key>
                <string>{556,109}</string>
            </dict>
            <key>home_rank_tip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{33,35}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{33,35}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>home_rank_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,37},{33,33}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{33,33}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>home_rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,266},{192,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,46}}</string>
                <key>sourceSize</key>
                <string>{192,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home_rank.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11179f8cc7bf25434b7d0bb6f444a844$</string>
            <key>textureFileName</key>
            <string>home_rank.png</string>
        </dict>
    </dict>
</plist>
