<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_clound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{505,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,147}}</string>
                <key>sourceSize</key>
                <string>{505,147}</string>
            </dict>
            <key>bn_charge0.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,924},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>bn_charge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,960},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>bn_lingjiang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,691},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_lingjiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,649},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_lingjiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,588},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>bn_wujiang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,136},{66,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>bn_wujiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,68},{66,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{100,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,16}}</string>
                <key>sourceSize</key>
                <string>{100,16}</string>
            </dict>
            <key>home-suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,960},{69,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{69,62}</string>
            </dict>
            <key>home_bn_chat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,421},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>home_bn_chat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,231},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>home_chengjiu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,766},{192,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{192,183}}</string>
                <key>sourceSize</key>
                <string>{192,185}</string>
            </dict>
            <key>home_close0.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,527},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>home_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,421},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,59}}</string>
                <key>sourceSize</key>
                <string>{132,61}</string>
            </dict>
            <key>home_dianjiangtai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,527},{185,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,132}}</string>
                <key>sourceSize</key>
                <string>{187,132}</string>
            </dict>
            <key>home_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,27},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>home_gonghui0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,306},{213,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,205}}</string>
                <key>sourceSize</key>
                <string>{213,205}</string>
            </dict>
            <key>home_haoyou0.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,760},{162,160}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{162,166}</string>
            </dict>
            <key>home_huodongfuben0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,777},{195,186}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,186}}</string>
                <key>sourceSize</key>
                <string>{199,186}</string>
            </dict>
            <key>home_huoyuedukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,241},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>home_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,204},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>home_jiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,146},{11,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,30}}</string>
                <key>sourceSize</key>
                <string>{11,30}</string>
            </dict>
            <key>home_jingjichang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,527},{183,193}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{183,193}}</string>
                <key>sourceSize</key>
                <string>{213,193}</string>
            </dict>
            <key>home_kapai0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{176,209}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,209}}</string>
                <key>sourceSize</key>
                <string>{176,211}</string>
            </dict>
            <key>home_kuangchang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{214,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,182}}</string>
                <key>sourceSize</key>
                <string>{214,182}</string>
            </dict>
            <key>home_lianhun.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,321},{197,204}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,204}}</string>
                <key>sourceSize</key>
                <string>{197,206}</string>
            </dict>
            <key>home_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,988},{146,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,28}}</string>
                <key>sourceSize</key>
                <string>{146,28}</string>
            </dict>
            <key>home_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,527},{162,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{162,156}}</string>
                <key>sourceSize</key>
                <string>{170,158}</string>
            </dict>
            <key>home_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,193},{157,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,74}}</string>
                <key>sourceSize</key>
                <string>{157,74}</string>
            </dict>
            <key>home_tianfu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{351,237}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{351,237}}</string>
                <key>sourceSize</key>
                <string>{351,239}</string>
            </dict>
            <key>home_title_onfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,974},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>home_tongtianta.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{204,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,248}}</string>
                <key>sourceSize</key>
                <string>{204,248}</string>
            </dict>
            <key>home_tuhao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,306},{149,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,208}}</string>
                <key>sourceSize</key>
                <string>{149,208}</string>
            </dict>
            <key>home_vipshop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,241},{178,273}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,273}}</string>
                <key>sourceSize</key>
                <string>{178,275}</string>
            </dict>
            <key>home_xingnang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,527},{193,171}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{193,171}}</string>
                <key>sourceSize</key>
                <string>{197,173}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,722},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>kongbai_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,204},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>live_box0.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,722},{56,44}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,44}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>live_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,231},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>live_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,974},{64,47}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{64,47}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>live_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,421},{70,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,57}}</string>
                <key>sourceSize</key>
                <string>{70,57}</string>
            </dict>
            <key>live_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,193},{86,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,45}}</string>
                <key>sourceSize</key>
                <string>{86,45}</string>
            </dict>
            <key>live_goto.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,193},{83,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,27}}</string>
                <key>sourceSize</key>
                <string>{83,27}</string>
            </dict>
            <key>live_progress0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{547,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,23}}</string>
                <key>sourceSize</key>
                <string>{547,23}</string>
            </dict>
            <key>live_progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{538,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,15}}</string>
                <key>sourceSize</key>
                <string>{538,15}</string>
            </dict>
            <key>name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,722},{148,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,42}</string>
            </dict>
            <key>name_chengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,921},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_dianjiangtai.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,962},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,790},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_gonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,924},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,986},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_jingjichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,790},{36,123}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,123}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_kapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,752},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_kuangchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,748},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_lianhun.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,710},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,193},{36,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,127}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_tianfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,714},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_tongtianta.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,482},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_vipshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,722},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_xingnang.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,175},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>name_yidaixiaoxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,44},{36,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,129}}</string>
                <key>sourceSize</key>
                <string>{36,129}</string>
            </dict>
            <key>page_index0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,125},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>page_index1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,104},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>shangzhendikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,64}</string>
            </dict>
            <key>talent_crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,974},{44,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>talent_income.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,193},{65,74}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{65,74}}</string>
                <key>sourceSize</key>
                <string>{75,92}</string>
            </dict>
            <key>talent_income_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{73,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{73,86}}</string>
                <key>sourceSize</key>
                <string>{75,92}</string>
            </dict>
            <key>talent_talent.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>home.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2390ed695458a73003e54e490b49287$</string>
            <key>textureFileName</key>
            <string>home.png</string>
        </dict>
    </dict>
</plist>
