<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4starSmallCard_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,220},{104,108}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{104,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,330},{104,108}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{104,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{116,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{116,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,112},{108,106}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{108,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{108,112}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,108},{108,106}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{108,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{104,112}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{104,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,356},{108,114}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{108,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,116}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{108,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{116,108}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{116,108}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{116,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>4starSmallCard_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,220},{106,108}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{106,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4star_chouka.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7f6ee352214fc1f403cf1f074402e51:1e79d681033b656d0c1e3c84536d377c:6f6bb649cd500b2c418b9d3eaf11f65a$</string>
            <key>textureFileName</key>
            <string>4star_chouka.pvr.ccz</string>
        </dict>
    </dict>
</plist>
