<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_battle_review0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,186},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>chat_battle_review1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,172},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>chat_battle_review2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,121},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>chat_btn_gonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>chat_btn_gonghui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,166},{102,61}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{102,61}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>chat_btn_shijie.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,110},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>chat_btn_shijie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,103},{102,61}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{102,61}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>chat_fasong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{112,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>chat_fasong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,42},{110,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{110,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>chat_fasong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{112,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,59}}</string>
                <key>sourceSize</key>
                <string>{120,67}</string>
            </dict>
            <key>chat_fenxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>chat_fenxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>chat_fenxiang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,229},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>chat_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,63},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>chat_list_input_b_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{77,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,67}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>chat_list_input_f_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,69},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{55,50}</string>
            </dict>
            <key>chat_list_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{108,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,106}}</string>
                <key>sourceSize</key>
                <string>{108,106}</string>
            </dict>
            <key>chat_member_name_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,38}}</string>
                <key>sourceSize</key>
                <string>{284,38}</string>
            </dict>
            <key>chat_pop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{95,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,45}}</string>
                <key>sourceSize</key>
                <string>{95,45}</string>
            </dict>
            <key>chat_vipkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,42},{56,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,25}}</string>
                <key>sourceSize</key>
                <string>{56,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bae0fadcba2dc40841c3a8ba8c0d79ec:1/1$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
