<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feather_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,296},{42,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{42,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>lightCyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{74,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>wing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{100,76}}</string>
                <key>offset</key>
                <string>{-52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,89},{100,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,110},{114,94}}</string>
                <key>offset</key>
                <string>{-59,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,73},{114,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,206},{102,88}}</string>
                <key>offset</key>
                <string>{-53,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,79},{102,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{112,100}}</string>
                <key>offset</key>
                <string>{-58,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,67},{112,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{114,100}}</string>
                <key>offset</key>
                <string>{-59,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,67},{114,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wing_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{118,106}}</string>
                <key>offset</key>
                <string>{-59,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,64},{118,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fuhuo.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c808c653c0b8ad5c5d75c40619b30f85:1/1$</string>
            <key>textureFileName</key>
            <string>fuhuo.png</string>
        </dict>
    </dict>
</plist>
