<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desert_barracks.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,772},{768,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,163}}</string>
                <key>sourceSize</key>
                <string>{768,163}</string>
            </dict>
            <key>desert_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>desert_forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{107,109}</string>
            </dict>
            <key>desert_hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,628},{120,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,118}}</string>
                <key>sourceSize</key>
                <string>{120,118}</string>
            </dict>
            <key>desert_sundries_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,937},{613,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{613,85}}</string>
                <key>sourceSize</key>
                <string>{613,85}</string>
            </dict>
            <key>desert_sundries_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{624,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,132}}</string>
                <key>sourceSize</key>
                <string>{624,132}</string>
            </dict>
            <key>desert_towner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,628},{123,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,127}}</string>
                <key>sourceSize</key>
                <string>{123,127}</string>
            </dict>
            <key>desert_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{768,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,218}}</string>
                <key>sourceSize</key>
                <string>{768,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_desert.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb04f85b8fef27224616aaaac707aebe:9b65397d89260ebe0d2780eb9d627b80:8efa9c32d3d4a66f583753165d23385a$</string>
            <key>textureFileName</key>
            <string>map_desert.png</string>
        </dict>
    </dict>
</plist>
