<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common-image-acount.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{91,107}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{91,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>common-image-acount1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{91,107}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,20},{91,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>common-image-huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,171},{74,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{74,87}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-huodong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,95},{74,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{74,87}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{80,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{80,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-shangcheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{80,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{80,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-shouye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{84,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-shouye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{84,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{84,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-tujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,175},{80,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{80,87}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-tujian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,93},{80,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{80,87}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-xitong.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{84,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,93}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-xitong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{84,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,93}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-zhanyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,88},{90,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-zhanyi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{90,89}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-zhengzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,247},{78,83}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{78,83}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common-image-zhengzhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,179},{78,83}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{78,83}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>common_bottom_glod_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,71},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>common_gold_boader_.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,125},{586,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,2}}</string>
                <key>sourceSize</key>
                <string>{586,2}</string>
            </dict>
            <key>common_loading_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>common_round_glod_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>common_top_bottom_glod_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,345},{562,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,44}}</string>
                <key>sourceSize</key>
                <string>{562,44}</string>
            </dict>
            <key>exp_str_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,206},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>icon_battle_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,32},{37,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>playstates-image-dakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,194},{644,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,59}}</string>
                <key>sourceSize</key>
                <string>{644,59}</string>
            </dict>
            <key>playstates-image-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,133},{60,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>playstates-image-fanhui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,72},{60,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>playstates-image-gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,257},{640,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,40}}</string>
                <key>sourceSize</key>
                <string>{640,40}</string>
            </dict>
            <key>playstates-image-jingyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,95},{50,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{50,19}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
            <key>playstates-image-lingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,223},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>playstates-image-lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,302},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>playstates-image-qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,140},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>playstates-image-tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,255},{45,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{45,25}</string>
            </dict>
            <key>playstates-image-wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>playstates-image-wenhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>playstates-image-yuanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,179},{42,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,34}}</string>
                <key>sourceSize</key>
                <string>{42,34}</string>
            </dict>
            <key>shadow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,28}}</string>
                <key>sourceSize</key>
                <string>{145,28}</string>
            </dict>
            <key>shop-image-daohanglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,259},{640,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,81}}</string>
                <key>sourceSize</key>
                <string>{640,81}</string>
            </dict>
            <key>soul.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,256},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>star_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,179},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>star_unlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,302},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,23}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>top_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,301},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
            <key>top_add_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,257},{49,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,42}}</string>
                <key>sourceSize</key>
                <string>{49,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>top_bottom.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a40fc033be719c82b210bddaa55cc4d1:1/1$</string>
            <key>textureFileName</key>
            <string>top_bottom.png</string>
        </dict>
    </dict>
</plist>
