<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning_c_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,58},{50,94}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{50,94}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lightning_c_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{54,114}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{54,114}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lightning_c_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{54,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,126}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lightning_c_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,110},{48,126}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{48,126}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lightning_c_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{50,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{50,126}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lightning_c_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{48,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{48,126}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lightning_c_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,238},{46,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{46,126}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lightning_c_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{50,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{50,126}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lightning_c_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,110},{50,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{50,126}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lightning_c_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{54,126}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wuleihongding.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ac4c9af2dacc8516d58150ffa3dbe3:1/1$</string>
            <key>textureFileName</key>
            <string>wuleihongding.png</string>
        </dict>
    </dict>
</plist>
