<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armor_1_buyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,548},{364,335}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,116},{364,335}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>armor_2_qingtonghuwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{298,235}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,163},{298,235}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>armor_3_fengchijinling.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,393},{250,379}}</string>
                <key>offset</key>
                <string>{9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,79},{250,379}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>armor_4_nanmanhuwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{302,295}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,131},{302,295}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>armor_4_qingfengjinsipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,389}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{358,389}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>armor_4_touyagushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,782},{312,219}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,184},{312,219}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>armor_5_longgusuozijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{350,375}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,106},{350,375}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>armor_5_tiangangkui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{312,387}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,84},{312,387}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
            <key>armor_5_tiangongfaguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,299},{300,247}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,175},{300,247}}</string>
                <key>sourceSize</key>
                <string>{370,595}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>armor_portrait0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb0423e1eb7c27625e95581f21108b5:1/1$</string>
            <key>textureFileName</key>
            <string>armor_portrait0.png</string>
        </dict>
    </dict>
</plist>
