<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_3_lijue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,268}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{344,268}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_3_liuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{222,276}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,22},{222,276}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_3_maojie.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,488},{220,276}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,12},{220,276}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_3_zhanglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{214,292}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,6},{214,292}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_3_zhangsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{220,272}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,13},{220,272}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>add_3xing.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:394e8516d06c0102543ef4a4e3d0522b:cc90e2832ee3db2b8b8944b23d4bf271:8e7ff5a0e01dfd156fc0032120a2a99b$</string>
            <key>textureFileName</key>
            <string>add_3xing.png</string>
        </dict>
    </dict>
</plist>
