<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_5_guanyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,266},{316,298}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{316,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_huangyueying.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,566},{254,262}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,12},{254,262}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_huangzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{260,260}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,3},{260,260}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_jiangwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,344},{322,258}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,39},{322,258}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_liubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{234,298}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,0},{234,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_machao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{252,218}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,37},{252,218}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_menghuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{376,262}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{376,262}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_pangtong.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,604},{210,272}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,16},{210,272}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_weiyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,298}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{346,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_zhangfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,816},{204,250}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,37},{204,250}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_zhaoyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{340,272}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{340,272}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_zhugeliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,604},{218,278}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,10},{218,278}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_5_shu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:336f2ab7362a24e4ec719a85955227f2:a577ff037469b81f0608252f15bef2a1:c1bf66c41af02b5b798f425ea344a9c9$</string>
            <key>textureFileName</key>
            <string>half_5_shu.png</string>
        </dict>
    </dict>
</plist>
