<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_4_caoren.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{368,298}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_chengyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,856},{164,274}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,24},{164,274}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_dengai.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,302},{318,270}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{318,270}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_lidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,292},{280,274}}</string>
                <key>offset</key>
                <string>{17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{280,274}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_pangde.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{338,298}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{338,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_simashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,574},{280,238}}</string>
                <key>offset</key>
                <string>{-27,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{280,238}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_wenqin.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,588},{292,258}}</string>
                <key>offset</key>
                <string>{40,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,16},{292,258}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_wenyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,284}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{372,284}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_xunyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,574},{188,278}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,20},{188,278}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_yujin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{294,270}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{294,270}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_zhongyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{288,276}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,22},{288,276}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_4_wei1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2076d48c507f3b9754998bbb4ab45c4b:58130105f00e6cd54678800f1f2f409e:9c9170521036d8cb6c735142b0f12b7d$</string>
            <key>textureFileName</key>
            <string>half_4_wei1.png</string>
        </dict>
    </dict>
</plist>
