<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_5_huatuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,288}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{250,288}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_yanliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{252,286}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,6},{252,286}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_5_qun1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f9c1452fb6343dc251c25ac9071cbc1:8c788564c728d0074d01ef272257d7d3:5a53bcb948f2edb652c517a4e48f1fb4$</string>
            <key>textureFileName</key>
            <string>half_5_qun1.png</string>
        </dict>
    </dict>
</plist>
