<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_4_caohong.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,510},{382,260}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{382,260}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_caopi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,236}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{390,236}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_caozhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{306,238}}</string>
                <key>offset</key>
                <string>{-35,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,29},{306,238}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_caozhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,310},{278,244}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,36},{278,244}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_guohuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{360,250}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{360,250}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_lejin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{386,298}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{386,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_manchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,772},{248,288}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,10},{248,288}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_wangshuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,248},{386,260}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{386,260}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_xuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,590},{318,248}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{318,248}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_zhanghe.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{388,244}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{388,244}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_zhonghui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{222,278}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,20},{222,278}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_4_wei0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2076d48c507f3b9754998bbb4ab45c4b:58130105f00e6cd54678800f1f2f409e:9c9170521036d8cb6c735142b0f12b7d$</string>
            <key>textureFileName</key>
            <string>half_4_wei0.png</string>
        </dict>
    </dict>
</plist>
