<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_5_caocao.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{360,256}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{360,256}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_dianwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,302},{320,242}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,33},{320,242}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_guojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,768},{234,264}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,24},{234,264}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_jiaxu.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,546},{172,262}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,18},{172,262}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_simayi.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,532},{234,286}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,0},{234,286}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_xiahoudun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{332,222}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{332,222}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_xiahouyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,278}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{362,278}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_xuchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{260,298}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,0},{260,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_xuhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{290,298}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{290,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_xunyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,768},{276,244}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,36},{276,244}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_zhangliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,260},{332,270}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,6},{332,270}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_zhenji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{246,260}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,2},{246,260}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_5_wei.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d737689193a772a6c26e5a186dc6cc:95d6e4e15f08bc95eacdb26cd9def2fd:1c37ccdb8037fc910d30e7c0de3798dd$</string>
            <key>textureFileName</key>
            <string>half_5_wei.png</string>
        </dict>
    </dict>
</plist>
