<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_4_daqiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,238}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,25},{242,238}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_4_wu2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e860a8a6b9a539409087f7f10f1bda34:cbd9527b9548bb20c547e61f34e1da6b:56179c128adb2fb4561c2b0d34dacd94$</string>
            <key>textureFileName</key>
            <string>half_4_wu2.png</string>
        </dict>
    </dict>
</plist>
