<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_5_diaochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{322,298}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{322,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_dongzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,636},{296,246}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,52},{296,246}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_huaxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{340,268}}</string>
                <key>offset</key>
                <string>{31,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{340,268}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_lvbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{348,274}}</string>
                <key>offset</key>
                <string>{-27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{348,274}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_nanhualaoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,572},{268,288}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,0},{268,288}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_wenchou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,298}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,298}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_yuanshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,352},{310,282}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{310,282}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_yuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{332,246}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,39},{332,246}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_zhangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,636},{218,256}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,24},{218,256}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_zuoci.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,302},{336,268}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,18},{336,268}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_5_qun0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f9c1452fb6343dc251c25ac9071cbc1:8c788564c728d0074d01ef272257d7d3:5a53bcb948f2edb652c517a4e48f1fb4$</string>
            <key>textureFileName</key>
            <string>half_5_qun0.png</string>
        </dict>
    </dict>
</plist>
