<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_4_simazhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,254}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,20},{270,254}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_xushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{216,266}}</string>
                <key>offset</key>
                <string>{18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,32},{216,266}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_4_wei2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2076d48c507f3b9754998bbb4ab45c4b:58130105f00e6cd54678800f1f2f409e:9c9170521036d8cb6c735142b0f12b7d$</string>
            <key>textureFileName</key>
            <string>half_4_wei2.png</string>
        </dict>
    </dict>
</plist>
