<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_4_chengpu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,256}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{358,256}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_jiangqin.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,536},{312,230}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,31},{312,230}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_jueze.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,772},{246,268}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,17},{246,268}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_lingcao.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,262},{320,272}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{320,272}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_lukang.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{356,258}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{356,258}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_nufan.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,536},{224,280}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,18},{224,280}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_panzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{326,242}}</string>
                <key>offset</key>
                <string>{38,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,22},{326,242}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_sunhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{208,292}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,6},{208,292}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_sunshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,768},{310,254}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{310,254}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_xiaoqiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{314,266}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,3},{314,266}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_zhugeke.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{266,248}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,38},{266,248}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_4_zhuhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,212},{288,226}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{288,226}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_4_wu0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e860a8a6b9a539409087f7f10f1bda34:cbd9527b9548bb20c547e61f34e1da6b:56179c128adb2fb4561c2b0d34dacd94$</string>
            <key>textureFileName</key>
            <string>half_4_wu0.png</string>
        </dict>
    </dict>
</plist>
