<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>half_5_lvmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{234,264}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,25},{234,264}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_sunjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,284}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{336,284}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
            <key>half_5_sunshangxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,288},{198,264}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,27},{198,264}}</string>
                <key>sourceSize</key>
                <string>{402,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>half_5_wu1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22020d8ea878dfa9e31270cdde762e48:42c6e474f9444c711a5e5236b9acaeac:b8aad210d539d63d1de4ef3f6ef11584$</string>
            <key>textureFileName</key>
            <string>half_5_wu1.png</string>
        </dict>
    </dict>
</plist>
