<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangyizhuangtai0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{38,48}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,58},{38,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,58},{40,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{40,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,44},{40,48}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,58},{40,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,184},{42,50}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,56},{42,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{42,50}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,57},{42,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,184},{44,50}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,57},{44,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,126},{48,56}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,54},{48,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{50,58}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,53},{50,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{50,60}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,52},{50,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,52},{52,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fangyizhuangtai0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{52,60}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,52},{52,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fangyuzhuangtai.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fca896acfdb7230cd730dde29dc07b0:51808403a66c8cbe3f926c1380f442b1:fada9310092e3d3b34c2cac9a93a9fcd$</string>
            <key>textureFileName</key>
            <string>fangyuzhuangtai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
