<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commander01_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,256},{116,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{116,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,374},{114,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{114,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,256},{120,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{120,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{122,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{122,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,388},{126,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{126,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,388},{124,122}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{126,124}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,262},{128,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,132},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,130},{124,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{104,106}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{104,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,110},{100,98}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{100,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start0.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eee480a1b75e13925cbcc10682b1590:1480337d381f1ea56fb3a69d8c7fc8d0:d312c1ea8ca4c4a73db51d5f37f2334e$</string>
            <key>textureFileName</key>
            <string>start0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
