<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commander01_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,96}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{100,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,96}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{98,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{98,96}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{98,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>commander01_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{88,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start1.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eee480a1b75e13925cbcc10682b1590:1480337d381f1ea56fb3a69d8c7fc8d0:d312c1ea8ca4c4a73db51d5f37f2334e$</string>
            <key>textureFileName</key>
            <string>start1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
