<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianfu02_levelup_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,77},{104,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,906},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,72},{116,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{134,126}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,65},{134,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,854},{150,144}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{150,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,854},{172,164}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{172,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,476},{190,186}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{190,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{204,208}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{204,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{224,226}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{224,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,244}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{244,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{220,224}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{220,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,702},{196,202}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{196,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,248},{188,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{188,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{180,182}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{180,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{178,186}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,34},{178,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,668},{178,184}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,38},{178,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,190},{182,182}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,39},{182,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,374},{182,146}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,52},{182,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,438},{184,138}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,59},{184,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,186},{182,140}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,56},{182,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tianfu02_levelup_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{138,128}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,66},{138,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianfu02_levelup.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b76a4a1ce7a51ea5e30da6141088135:3a6ffb30de508e123ed9690bce099386:f287ce06845cbd515f9802d84540a4bc$</string>
            <key>textureFileName</key>
            <string>tianfu02_levelup.pvr.ccz</string>
        </dict>
    </dict>
</plist>
