<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reborn_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>reborn_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,762},{95,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,117}}</string>
                <key>sourceSize</key>
                <string>{95,117}</string>
            </dict>
            <key>reborn_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{535,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,159}}</string>
                <key>sourceSize</key>
                <string>{535,159}</string>
            </dict>
            <key>reborn_preview1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,859},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>reborn_preview2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{130,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,59}}</string>
                <key>sourceSize</key>
                <string>{130,59}</string>
            </dict>
            <key>reborn_preview_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{164,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,45}}</string>
                <key>sourceSize</key>
                <string>{164,45}</string>
            </dict>
            <key>reborn_quantity.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,196},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
            <key>reborn_reborn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>reborn_reborn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{131,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,60}}</string>
                <key>sourceSize</key>
                <string>{131,60}</string>
            </dict>
            <key>reborn_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,991},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>reborn_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>reborn_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,285},{475,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,62}}</string>
                <key>sourceSize</key>
                <string>{475,62}</string>
            </dict>
            <key>reborn_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,257},{444,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,26}}</string>
                <key>sourceSize</key>
                <string>{444,26}</string>
            </dict>
            <key>reborn_wujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,168},{87,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,31}}</string>
                <key>sourceSize</key>
                <string>{87,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reborn.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cf74c28a9eadd3d581214ded6aa8729$</string>
            <key>textureFileName</key>
            <string>reborn.png</string>
        </dict>
    </dict>
</plist>
