<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lianhun_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{225,132}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{225,132}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{225,140}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{225,140}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,142}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{225,142}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,548},{223,140}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,55},{223,140}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,548},{223,140}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,55},{223,140}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,144},{225,134}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{225,134}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{225,132}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{225,132}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,280},{225,132}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{225,132}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{225,132}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{225,132}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,414},{225,132}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{225,132}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{225,132}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{225,132}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
            <key>lianhun_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{225,132}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{225,132}}</string>
                <key>sourceSize</key>
                <string>{227,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lianhun.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1280d6429731785bd5687046e0388fbb:a2e64e9bd91e22cded91850b708b8cf7:ca570d7188dbcd69c434d2794c15dae9$</string>
            <key>textureFileName</key>
            <string>lianhun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
